{% extends 'layout-app.html' %}

{% set hub = "Messages" %}

{% set backLink = true %}

{% set pageHeading = "Cannot show message" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        classes: "nhsuk-u-margin-bottom-5"
      })}}

      <p>There was a problem opening your message.</p>
      <p>If the problem continues, try again later.</p>

      {{ button({
        text: "Try again",
        classes: "nhsapp-button--secondary nhsapp-button",
        href: "#"
      }) }}

      <h2>Further information</h2>
      <p>Messages contain non-urgent advice only.</p>
      <p>If you are expecting a message from a healthcare provider, contact the sender directly.</p>

    </div>
  </div>

  {% endblock %}
