{% extends 'layout-app.html' %}

{% set hub = "Messages" %}

{% set backLink = true %}
{% set backLinkText = "Back" %}
{% set backLinkURL = "/pages/messages-" + data['accountType'] %}

{% set pageHeading = "Your messages" %}

{% if data['messages'] == 1 %}
  {% set pageDescription = "You have " + data['messages'] + " unread message" %}
{% else %}
  {% set pageDescription = "You have " + data['messages'] + " unread messages" %}
{% endif %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSecondary: true,
        description: pageDescription
      })}}

      <ul class=" app-panel-link-card-stacked ">
        <li class="app-panel-link-card">
          <div class="app-panel-link-card__content app-panel-link-card__content--message">
            <span class="nhsuk-u-display-block {% if data['message1read'] === 'true' %}nhsuk-u-secondary-text-color {% else %}nhsuk-u-font-weight-bold{% endif %}">1:02pm</span>
            <!-- FORM AND HIDDEN INPUT ONLY USED FOR PROTOTYPING PURPOSES TO PASS DATA -->
            <form id="message1" method="post" action="/pages/messages/message-1">
              {% if data['message1read'] === "false" %}
              <input type="hidden" name="message1read" value="true">
              <input type="hidden" name="messages" value="{{ data['messages'] - 1 }}">
              {% endif %}
              <a href="#" onclick="document.getElementById('message1').submit();" class="app-panel-link-card__link nhsuk-heading-s">
                {% if data['message1read'] === "true" %}
                Portland Street Great Westood Surgery
                {% else %}
                <span class="app-panel-link-card__link--with-badge">Portland Street Great Westood Surgery</span>
                {% endif %}
              </a>
            </form>
            <p class="app-panel-link-card__description {% if data['message1read'] === 'true' %}nhsuk-u-secondary-text-color{% endif %}">Patient survey reminder. The Patient feedback survey is about to close. Have your say about Portland Street Great Westood Surgery by providing us with your thoughts. </p>
          </div>
        </li>
        <li class="app-panel-link-card">
          <div class="app-panel-link-card__content app-panel-link-card__content--message">
            <span class="nhsuk-u-display-block {% if data['message2read'] === 'true' %}nhsuk-u-secondary-text-color {% else %}nhsuk-u-font-weight-bold{% endif %}">Thursday</span>
            <!-- FORM AND HIDDEN INPUT ONLY USED FOR PROTOTYPING PURPOSES TO PASS DATA -->
            <form id="message2" method="post" action="/pages/messages/message-2">
              {% if data['message2read'] === "false" %}
              <input type="hidden" name="message2read" value="true">
              <input type="hidden" name="messages" value="{{ data['messages'] - 1 }}">
              {% endif %}
              <a href="#" onclick="document.getElementById('message2').submit();" class="app-panel-link-card__link nhsuk-heading-s">
                {% if data['message2read'] === "true" %}
                Range Surgery
                {% else %}
                <span class="app-panel-link-card__link--with-badge">Range Surgery</span>
                {% endif %}
              </a>
            </form>
            <p class="app-panel-link-card__description {% if data['message2read'] === 'true' %}nhsuk-u-secondary-text-color{% endif %}">Dear <span class="app-name-format">{{ data['userFirstName'] }}</span>, we would like to ask you a few questions about smoking. If you smoke, select SMOKE. If you're an ex smoker, select EX. If you have never smoked, select NEVER.  </p>
          </div>
        </li>
        <li class="app-panel-link-card">
          <div class="app-panel-link-card__content app-panel-link-card__content--message">
            <span class="nhsuk-u-display-block nhsuk-u-secondary-text-color">4 Oct 2023</span>
            <a class="app-panel-link-card__link nhsuk-heading-s" href="/pages/messages/message-3">
              Hughenden Valley Surgery
            </a>
            <p class="app-panel-link-card__description nhsuk-u-secondary-text-color">Reminder of your telephone appointment with your GP on Friday 23 October at 1:30pm.</p>
          </div>
        </li>
        <li class="app-panel-link-card">
          <div class="app-panel-link-card__content app-panel-link-card__content--message">
            <span class="nhsuk-u-display-block nhsuk-u-secondary-text-color">18 Dec 2022</span>
            <a class="app-panel-link-card__link nhsuk-heading-s" href="/pages/messages/message-4">
              NHS APP
            </a>
            <p class="app-panel-link-card__description nhsuk-u-secondary-text-color">Your next COVID-19 vaccination. I'd like to invite you to get your COVID-19 vaccination this spring.
              This is because either:
              You're aged 75 or over (by 30 June 2023), or 
              Your NHS record suggests you may have a weakened immune system due to a health condition or medical treatment.</p>
          </div>
        </li>
      </ul>

    </div>
  </div>

  {% endblock %}
