{% extends 'components/layout.html' %}

{% set pageHeading = "Button" %}

{% block innerContent %}

  <h2 class="nhsuk-heading-m">Default button</h2>

  <h3 class="nhsuk-heading-xs">Primary</h3>

  <div class="example">
    <a href="#" class="nhsuk-button app-button">Button text</a>
  </div>

  <h3 class="nhsuk-heading-xs">Secondary</h3>

  <div class="example">
    <a href="#" class="nhsuk-button nhsuk-button--secondary app-button">Button text</a>
  </div>

  <h3 class="nhsuk-heading-xs">Reverse</h3>

  <div class="example">
    <a href="#" class="nhsuk-button nhsuk-button--reverse app-button">Button text</a>
  </div>

  <h2 class="nhsuk-heading-m">Full width button</h2>
  <p>Full width on small screens.</p>

  <h3 class="nhsuk-heading-xs">Primary</h3>

  <div class="example">
    <a href="#" class="nhsuk-button app-button app-button--full-width">Button text</a>
  </div>

  <h3 class="nhsuk-heading-xs">Secondary</h3>

  <div class="example">
    <a href="#" class="nhsuk-button nhsuk-button--secondary app-button app-button--full-width">Button text</a>
  </div>

  <h3 class="nhsuk-heading-xs">Reverse</h3>

  <div class="example">
    <a href="#" class="nhsuk-button nhsuk-button--reverse app-button app-button--full-width">Button text</a>
  </div>

  <h2 class="nhsuk-heading-m">Grouping buttons</h2>

  <div class="example">
    <div class="app-button-group">
      <a href="#" class="nhsuk-button app-button app-button--full-width">Button text</a>
      <a href="#" class="nhsuk-button nhsuk-button--secondary app-button app-button--full-width">Button text</a>
    </div>
  </div>

  <p>With a link</p>

  <div class="example">
    <div class="app-button-group">
      <button class="nhsuk-button app-button app-button--full-width" data-module="nhsuk-button" type="submit">
        Button text
      </button>
      <a href="#" class="nhsuk-link">Link text</a>
    </div>
  </div>

  <h2 class="nhsuk-heading-m">Examples in context</h2>

  <ul clas="nhsuk-list">
    <li>
      <a href="/pages/home-p9">Homepage - P9</a>
    </li>
    <li>
      <a href="/pages/messages-p9">Messages - P9</a>
    </li>
  </ul>

{% endblock %}
