{% extends 'layout-app.html' %}

{% set hub = "Services" %}

{% set pageHeading = "Booking complete" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {{ nhsappPanel({
        titleText: pageHeading,
        html: "Your reference number<br><strong>1583033</strong>"
      }) }}

      <p>Make a note of your booking reference number. You may need this if you need to cancel or reschedule your appointment.</p>

      <h2 class="nhsuk-heading-m">Your appointment details</h2>

      <dl class="nhsuk-summary-list nhsuk-summary-list--no-border">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Site location
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>St Georges Pharmacy<br>
            46 St George's Rd,<br> Elephant and Castle,<br> London<br> SE1 6ET<p></p>
            <p><a href="#">Map and directions (opens in a new window)</a></p>
          </dd>
        </div>     
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Date and time
          </dt>
          <dd class="nhsuk-summary-list__value">
            Thursday 15 June at 9:10am
          </dd>    
        </div> 
      </dl>

      <p><a href="#">Tell us about your experience using this service (opens in a new window)</a></p>

    </div>
  </div>

  {% endblock %}


