{% extends 'layout-app.html' %}

{% set hub = "Services" %}

{% set pageHeading = "Your request has been sent" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {{ nhsappPanel({
        titleText: pageHeading
      }) }}

      <p>We have emailed you a confirmation of your request.</p>

      <p>We have emailed you a confirmation of your request.</p>

      <h2 class="nhsuk-heading-m">What happens next</h2>

      <p>The practice will aim to respond before 6:30pm on 2 February 2024.</p>

      

    </div>
  </div>

  {% endblock %}


