{% extends 'layout-app.html' %}

{% set hub = "Services" %}

{% set pageHeading = "Appointment confirmed" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {{ nhsappPanel({
        titleText: pageHeading
      }) }}

      <h2 class="nhsuk-heading-m">What happens next</h2>
      <p>You will be called by your GP surgery between 8am and 11am on {{ data['appointment-date'] or 'Wednesday 29 May 2024' }}.</p>
      <p>Keep your phone with you at all times, and be aware the GP number may be withheld.</p>
        
      {{ button({
        text: "View all appointments",
        classes: "nhsapp-button nhsapp-button--secondary"
      }) }}

    </div>
  </div>

  {% endblock %}


