{% extends 'layout-app.html' %}

{% set hub = "Services" %}

{% set pageHeading = "Your request has been sent" %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    {% include "components/provider-banner/include-gp.html" %}

  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

      {{ nhsappPanel({
        titleText: pageHeading
      }) }}

      <p>Your admin query request has been successfully sent to myGP Medical Centre.</p>

      <h2 class="nhsuk-heading-m">What happens next</h2>

      <p>Your GP surgery will review your request within <strong>5 working days</strong>.</p>

      <p><a href="#">Make another request to your GP surgery</a></p>

    </div>
  </div>

  {% endblock %}


