{% extends 'layout-app.html' %}

{% set hub = "Services" %}

{% set pageHeading = "Application complete" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {{ nhsappPanel({
        titleText: pageHeading
      }) }}

      <p>You have requested to access services for:</p>

      <dl class="nhsuk-summary-list nhsuk-summary-list--no-border">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Name
          </dt>
          <dd class="nhsuk-summary-list__value">
            John Smith
          </dd>
        </div>     
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Age
          </dt>
          <dd class="nhsuk-summary-list__value">
            12 years old
          </dd>    
        </div> 
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Services requested
          </dt>
          <dd class="nhsuk-summary-list__value">
            <ul class="nhsuk-list nhsuk-list--bullet">
              <li>Book appointments</li>
              <li>Health records</li>
            </ul>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Application reference number
          </dt>
          <dd class="nhsuk-summary-list__value">
            CH123456
          </dd>    
        </div> 
      </dl>

      <h2 class="nhsuk-heading-m">What happens next</h2>

      {{ nhsappTimeline({
        items: [
          {
            headingText: "Await approval",
            text: "This usually takes the GP a few days, but some requests can take up to a month.",
            active: true
          },
          {
            headingText: "Access services for John SMith",
            text: "Once your GP approves your request you will be able to access services for John Smith online."
          },
          {
            headingText: "When access may stop",
            text: "Access may stop when John Smiths turns 16 years old or upon your request."
          }
        ]
      }) }}

    </div>
  </div>

  {% endblock %}


