{% extends 'layout-app.html' %}

{% set hub = "Services" %}

{% set pageHeading = "Your medicines have been requested" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {{ nhsappPanel({
        titleText: pageHeading
      }) }}

      <p>Your request has been sent to your GP surgery for approval.</p>

      <h2 class="nhsuk-heading-m">What happens next</h2>

      <p>Once approved, it can take 3 to 5 working days for a pharmacy to prepare your prescription.</p>

    </div>
  </div>

  {% endblock %}