{% extends 'components/layout.html' %}

{% set pageHeading = "Messages" %}

{% block innerContent %}

<ul class=" app-panel-link-card-stacked ">
  <li class="app-panel-link-card">
    <div class="app-panel-link-card__content app-panel-link-card__content--message">
      <span class="nhsuk-u-display-block nhsuk-u-font-weight-bold">1:02pm</span>
      <a class="app-panel-link-card__link nhsuk-heading-s" href="#">
        <span class="app-panel-link-card__link--with-badge">Willburton Surgery</span>
      </a>
      <p class="app-panel-link-card__description">Reminder of your telephone appointment with your GP on Friday...</p>
    </div>
  </li>
  <li class="app-panel-link-card">
    <div class="app-panel-link-card__content app-panel-link-card__content--message">
      <span class="nhsuk-u-display-block nhsuk-u-font-weight-bold">Thursday</span>
      <a class="app-panel-link-card__link nhsuk-heading-s" href="#">
        <span class="app-panel-link-card__link--with-badge">NHS APP</span>
      </a>
      <p class="app-panel-link-card__description">Your next COVID-19 vaccination I'd like to invite you to get your COVID-19 v...</p>
    </div>
  </li>
  <li class="app-panel-link-card">
    <div class="app-panel-link-card__content app-panel-link-card__content--message">
      <span class="nhsuk-u-display-block nhsuk-u-secondary-text-color">4 Oct 2023</span>
      <a class="app-panel-link-card__link nhsuk-heading-s" href="#">
        Stoke Mandeville Hospital
      </a>
      <p class="app-panel-link-card__description nhsuk-u-secondary-text-color">You have a Physiotherapy appointment letter Appointment details 02/11/202...</p>
    </div>
  </li>
  <li class="app-panel-link-card">
    <div class="app-panel-link-card__content app-panel-link-card__content--message">
      <span class="nhsuk-u-display-block nhsuk-u-secondary-text-color">18 Dec 2022</span>
      <a class="app-panel-link-card__link nhsuk-heading-s" href="#">
        Willburton Surgery
      </a>
      <p class="app-panel-link-card__description nhsuk-u-secondary-text-color">It's time for your annual asthma review with one of our Practise Nurses they...</p>
    </div>
  </li>
</ul>



{% endblock %}
