{% extends 'components/layout.html' %}

{% set pageHeading = "Badge" %}

{% block innerContent %}

  <h2 class="nhsuk-heading-m">Large</h2>

  <div class="example">
    <span class="app-badge">
      <span class="nhsuk-u-visually-hidden">
        You have
      </span>
      2
      <span class="nhsuk-u-visually-hidden">
        unread messages
      </span>
    </span>
  </div>

  <div class="example">
    <span class="app-badge">
      <span class="nhsuk-u-visually-hidden">
        You have
      </span>
      9+
      <span class="nhsuk-u-visually-hidden">
        appointments that need action
      </span>
    </span>
  </div>

  <h2 class="nhsuk-heading-m">Small</h2>

  <h3 class="nhsuk-heading-xs">Default</h3>

  <div class="example">
    <p>
      <span class="app-badge-small nhsuk-u-margin-right-1">
        <span aria-hidden="true">●</span>
        <span class="nhsuk-u-visually-hidden">New </span>
      </span>
      Badge text
    </p>
  </div>

  <h3 class="nhsuk-heading-xs">Colours</h3>

  <div class="example">
    <p>
      <span class="app-badge-small app-badge-small--red nhsuk-u-margin-right-1">
        <span aria-hidden="true">●</span>
        <span class="nhsuk-u-visually-hidden">New </span>
      </span>
      Red
    </p>
  </div>

  <h3 class="nhsuk-heading-xs">Sizes</h3>

  <p>The dot size is relative to the text size.</p>

  <div class="example">
    <p class="nhsuk-body-s">
      <span class="app-badge-small nhsuk-u-margin-right-1">
        <span aria-hidden="true">●</span>
        <span class="nhsuk-u-visually-hidden">New </span>
      </span>
      Small text
    </p>
  </div>

  <div class="example">
    <p class="nhsuk-body-l">
      <span class="app-badge-small nhsuk-u-margin-right-1">
        <span aria-hidden="true">●</span>
        <span class="nhsuk-u-visually-hidden">New </span>
      </span>
      Large text
    </p>
  </div>

  <h3 class="nhsuk-heading-xs">Positioned absolute</h3>

  <p>Used on messages inbox.</p>

  <div class="example">
    <div class="app-card-link">
      <div class="app-card-link__container nhsuk-u-margin-left-6">  
        <div class="app-card-link__content">
          <a class="app-card-link__link nhsuk-link--no-visited-state" href="#">
            <span class="app-badge-small">
              <span class="app-badge-small--absolute" aria-hidden="true">●</span>
              <span class="nhsuk-u-visually-hidden">Unread message from </span>
            </span>
            Title
            <span class="nhsuk-u-visually-hidden">received today at 1:02pm</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <h2 class="nhsuk-heading-m">Examples in context</h2>

  <ul clas="nhsuk-list">
    <li>
      <a href="/pages/home-p9">Homepage - P9</a>
    </li>
    <li>
      <a href="/pages/messages-p9">Messages - P9</a>
    </li>
  </ul>

{% endblock %}
