{% extends 'components/layout.html' %}

{% set pageHeading = "Badge" %}

{% block innerContent %}

  <h2 class="nhsuk-heading-m">Large</h2>

  <div class="example">
    <span class="app-badge">
      <span class="nhsuk-u-visually-hidden">
        You have
      </span>
      2
      <span class="nhsuk-u-visually-hidden">
        unread messages
      </span>
    </span>
  </div>

  <div class="example">
    <span class="app-badge">
      <span class="nhsuk-u-visually-hidden">
        You have
      </span>
      9+
      <span class="nhsuk-u-visually-hidden">
        appointments that need action
      </span>
    </span>
  </div>

  <h2 class="nhsuk-heading-m">Small</h2>

  <div class="example">
    <div class="badge-small__container">
      <div class="badge-small__dot">
        <span class="nhsuk-u-visually-hidden">New </span>
      </div>
      <div class="badge-small__text nhsuk-u-secondary-text-color">Badge text</div>
    </div>
  </div>

  <div class="example">
    <div class="badge-small__container">
      <div class="badge-small__dot">
        <span class="nhsuk-u-visually-hidden">New </span>
      </div>
      <div class="badge-small__text nhsuk-u-secondary-text-color">Badge text that is really long that goes over two lines</div>
    </div>
  </div>

  <h3 class="nhsuk-heading-xs">Card link (messages)</h3>

  <p>Used on messages inbox.</p>

  <div class="example">
    <div class="app-card-link">
      <div class="app-card-link__container nhsuk-u-margin-left-6">
        <div class="app-card-link__content">
          <div class="app-card-link__above">
            <p aria-hidden="true" class="nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-0">Thursday</p>
          </div>
          <a class="app-card-link__link nhsuk-link--no-visited-state" href="#">
            <span class="badge-small__container">
              <div class="badge-small__dot badge-small__dot--blue"></div>
            </span>
            Message title
            <span class="nhsuk-u-visually-hidden">received on Thursday at 11:00am</span>
          </a>
          <div class="app-card-link__below">
            <p class="nhsuk-u-margin-top-2 app-truncate-two-lines">Dear Mary, we would like to ask you a few questions about smoking.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h2 class="nhsuk-heading-m">Examples in context</h2>

  <ul clas="nhsuk-list">
    <li>
      <a href="/pages/home-p9">Homepage - P9</a>
    </li>
    <li>
      <a href="/pages/messages-p9">Messages - P9</a>
    </li>
  </ul>

{% endblock %}
