{% extends 'components/layout.html' %}

{% set pageHeading = "Badge" %}

{% block innerContent %}

  <h2 class="nhsuk-heading-m">Large badge</h2>

  <div class="example">
    <span class="app-badge">
      <span class="nhsuk-u-visually-hidden">
        You have
      </span>
      2
      <span class="nhsuk-u-visually-hidden">
        unread messages
      </span>
    </span>
  </div>

  <div class="example">
    <span class="app-badge">
      <span class="nhsuk-u-visually-hidden">
        You have
      </span>
      9+
      <span class="nhsuk-u-visually-hidden">
        appointments that need action
      </span>
    </span>
  </div>

  <h2 class="nhsuk-heading-m">Small badge</h2>

  <h3 class="nhsuk-heading-xs">Using flexbox</h3>

  <div class="example">
    <p>
      <span class="app-badge-indicator">
        <span class="app-badge-indicator__dot"></span>
        Badge text
      </span>
    </p>

    <p>
      <span class="app-badge-indicator">
        <span class="app-badge-indicator__dot"></span>
        Badge title that is quite long that goes on 2 lines on small screens
      </span>
    </p>

    <p class="nhsuk-body-s">
      <span class="app-badge-indicator">
        <span class="app-badge-indicator__dot"></span>
        Badge small text
      </span>
    </p>

    <p class="nhsuk-body-l">
      <span class="app-badge-indicator">
        <span class="app-badge-indicator__dot"></span>
        Badge large text
      </span>
    </p>

    <div class="app-card-link">
      <div class="app-card-link__container nhsuk-u-margin-left-6">
        <div class="app-card-link__content">
          <div class="app-card-link__above">
            <p aria-hidden="true" class="nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-0">Thursday</p>
          </div>
          <a class="app-card-link__link nhsuk-link--no-visited-state" href="#">
            <span class="app-badge-indicator app-badge-indicator__dot--absolute">
              <span class="app-badge-indicator__dot"></span>
              Badge minus left margin
            </span>
            <span class="nhsuk-u-visually-hidden">received on Thursday at 11:00am</span>
          </a>
          <div class="app-card-link__below">
            <p class="nhsuk-u-margin-top-2 app-truncate-two-lines">Dear Mary, we would like to ask you a few questions about smoking.</p>
          </div>
        </div>
      </div>
    </div>

  </div>

  <h3 class="nhsuk-heading-xs">Using special character</h3>

  <div class="example">
    <p class="" >
      <span class="app-badge-small" aria-hidden="true">
        ●
      </span>
      Badge text
    </p>

    <p class="" >
      <span class="app-badge-small" aria-hidden="true">
        ●
      </span>
      Badge text
    </p>

    <p class="" >
      <span class="app-badge-small" aria-hidden="true">
        ●
      </span>
      Badge text that is quite long that goes on 2 lines on small screens
    </p>

    <p class="nhsuk-body-s" >
      <span class="app-badge-small" aria-hidden="true">
        ●
      </span>
      Badge small text
    </p>

    <p class="nhsuk-body-l" >
      <span class="app-badge-small" aria-hidden="true">
        ●
      </span>
      Badge large text
    </p>

    <div class="app-card-link">
      <div class="app-card-link__container nhsuk-u-margin-left-6">  
        <div class="app-card-link__content">
          <div class="app-card-link__above">
            <p aria-hidden="true" class="nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-0">1:02pm</p>
          </div>
          <a class="app-card-link__link nhsuk-link--no-visited-state" href="#">
            <span class="app-badge-small">
              <span class="app-badge-small--absolute" aria-hidden="true">●</span>
              <span class="nhsuk-u-visually-hidden">Unread message from </span>
            </span>
            Badge absolute
            <span class="nhsuk-u-visually-hidden">received today at 1:02pm</span>
          </a>
          <div class="app-card-link__below">
            <p class="nhsuk-u-margin-top-2 app-truncate-two-lines">Patient survey reminder. The Patient feedback survey is about to close. Have your say about Portland Street Great Westood Surgery by providing us with your thoughts. </p>
          </div>
        </div>
      </div>
    </div>

  </div>

  <h3 class="nhsuk-heading-xs">Using display inline-block</h3>

  <div class="example">

    <p>
      <span class="app-badge-status-dot"></span>
      Badge text
    </p>

    <p>
      <span class="app-badge-status-dot"></span>
      Badge text that is quite long that goes on 2 lines on small screens
    </p>

    <p class="nhsuk-body-s">
      <span class="app-badge-status-dot"></span>
      Badge small text
    </p>

    <p class="nhsuk-body-l">
      <span class="app-badge-status-dot"></span>
      Badge large text
    </p>

    <p>
      <span class="app-badge-status-dot__wrapper">
        <span class="app-badge-status-dot"></span>
      </span>
      Badge text
    </p>

    <div class="app-card-link">
      <div class="app-card-link__container nhsuk-u-margin-left-6">
        <div class="app-card-link__content">
          <div class="app-card-link__above">
            <p aria-hidden="true" class="nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-0">Thursday</p>
          </div>
          <a class="app-card-link__link nhsuk-link--no-visited-state" href="#">
            <span class="app-badge-status-dot__wrapper">
              <span class="app-badge-status-dot app-badge-status-dot--absolute"></span>
            </span>
            Badge absolute
            <span class="nhsuk-u-visually-hidden">received on Thursday at 11:00am</span>
          </a>
          <div class="app-card-link__below">
            <p class="nhsuk-u-margin-top-2 app-truncate-two-lines">Dear Mary, we would like to ask you a few questions about smoking.</p>
          </div>
        </div>
      </div>
    </div>

  </div>

  <h2 class="nhsuk-heading-m">Examples in context</h2>

  <ul clas="nhsuk-list">
    <li>
      <a href="/pages/home-p9">Homepage - P9</a>
    </li>
    <li>
      <a href="/pages/messages-p9">Messages - P9</a>
    </li>
  </ul>

{% endblock %}
