<div class="nhsuk-card app-card--dark-blue">
  <div class="nhsuk-card__content app-card__content">
    <h2 class="nhsuk-card__heading nhsuk-heading-m nhsuk-u-padding-top-2">Prove who you are to get full access</h2>
    <p class="nhsuk-card__description">You'll need to prove who you are before you can use most parts of the NHS App, including prescriptions, appointments and your GP health record.</p>
    <a class="nhsuk-button nhsuk-button--reverse nhsapp-button" href="#">
      Continue
      <span class="nhsuk-u-visually-hidden">to get full access</span>
    </a>
  </div>
</div>