<div class="nhsuk-card app-card--dark-blue">
  <div class="nhsuk-card__content app-card__content">
    <h2 class="nhsuk-card__heading nhsuk-heading-m nhsuk-u-padding-top-2">{{ params.title }}</h2>
    <p class="nhsuk-card__description">{{ params.description }}</p>
    <a class="nhsuk-button nhsuk-button--reverse app-button app-button--full-width" href="{{ params.URL }}">
      {{ params.linkText }}
      {%- if params.hiddenText %}<span class="nhsuk-u-visually-hidden">{{ params.hiddenText }}</span>{% endif %}
    </a>
  </div>
</div>