{% extends 'layout.html' %}

{% set pageHeading = "App Bottom Navigation" %}

{% block pageTitle %}
  Content page example - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1>{{ pageHeading }}</h1>

      <p>[add description]</p>

      <h2>What was being used</h2>
      <p>[add example]</p>
      <p>[add known issues]</p>

      <h2>First iteration</h2>
      <p>[add example]</p>

      <h3>Design hypothesis</h3>
      <p>[add design hypothesis]</p>

      <h3>Research</h3>
      <p>[add research findings]</p>

    </div>  

  </div>
{% endblock %}
