// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/list-border';
@import 'components/related-nav';

$color_tag-aqua-green-background: #CCE7E6;
$color_tag-aqua-green-text: #004642;
$color_tag-blue-background: #D2E1EF;
$color_tag-blue-text: #01407D;
$color_tag-green-text: #03501D;
$color_tag-green-background: #C9E6D8;
$color_tag-grey-background: #E6E2E2;
$color_tag-grey-text: #303E4F;
$color_tag-purple-background: #D9D7EB;
$color_tag-purple-text: #532D8B;
$color_tag-orange-background: #FAE1BC;
$color_tag-orange-text: #533C00;
$color_tag-pink-background: #EFD3E3;
$color_tag-pink-text: #57133A;
$color_tag-red-background: #F8D9D9;
$color_tag-red-text: #7E0D04;
$color_tag-yellow-background: #EEE8A7;
$color_tag-yellow-text: #5B4701;

// Components that are custom to the NHS App
@import 'components/full-width-component-utility';
@import 'components/wrapper-and-container';
@import 'components/icons';

@import 'components/display';

@import 'components/app-bottom-navigation';
@import 'components/badge';
@import 'components/bottom-sheet';
@import 'components/buttons';
@import 'components/card';
@import 'components/confirmation';
@import 'components/date-picker';
@import 'components/dynamic-page-title';
@import 'components/global-navigation-native';
@import 'components/global-navigation-web';
@import 'components/links';
@import 'components/loader';
@import 'components/panel-link-card';
@import 'components/section-title';
@import 'components/sticky-footer';
@import 'components/switch-profile-banner';
@import 'components/tag';
@import 'components/timeline';

// Prototype specific styles
@import 'prototype-specific/example';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////

hr {
  border-color: $color_nhsuk-grey-4;
}

.app-section-break--4 {
  border-bottom-width: nhsuk-spacing(1);
  border-color: $color_nhsuk-blue;
}

.app-section {
  @include top-and-bottom();
  @include nhsuk-responsive-padding(7, "bottom");
  @include nhsuk-responsive-padding(7, "top");
} 

.app-section--grey-4 {
  background-color: $color_nhsuk-grey-4;

  hr {
    border-color: $color_nhsuk-grey-3;
  }
}

.app-section--with-border {
  border-top: nhsuk-spacing(1) solid $color_nhsuk-blue;
} 

.app-name-format {
  text-transform: capitalize;
}

.nhsuk-u-margin-top-12 {
  margin-top: 12px !important;
}

// Header - onboarding
.app-header_logo--onboarding {
  float: none;
  margin: 0 auto;
  max-width: 83px;

  .nhsuk-header__link,
  .nhsuk-logo {
    height: 32px;
    width: 83px;
  }
}

// Utility class for center aligning an element
@include mq($until: tablet) {
  .app-u-align-center--mobile {
    display: block;
    margin: 0 auto;
  }
}

.app-display-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nhsuk-link {
  @include nhsuk-typography-responsive(19);
}