// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/list-border';
@import 'components/related-nav';

// Components that are custom to the NHS App
@import 'components/full-width-component-utility';
@import 'components/wrapper-and-container';
@import 'components/icons';

@import 'components/app-bottom-navigation';
@import 'components/badge';
@import 'components/buttons';
@import 'components/card';
@import 'components/dynamic-page-title';
@import 'components/global-navigation-native';
@import 'components/global-navigation-web';
@import 'components/links';
@import 'components/panel-link-card';
@import 'components/section-title';
@import 'components/sticky-footer';
@import 'components/switch-profile-banner';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////

.example {
  border: 1px solid $nhsuk-border-color;
  margin-bottom: nhsuk-spacing(6);
  padding: nhsuk-spacing(7) nhsuk-spacing(4) nhsuk-spacing(4);
  position: relative;

  &:before {
    background-color: $nhsuk-form-border-color;
    color: $color_nhsuk-white;
    content: "example";
    font-size: 14px;
    font-kerning: 1;
    font-weight: bold;
    left: 0;
    padding: nhsuk-spacing(1) nhsuk-spacing(2);
    position: absolute;
    text-transform: uppercase;
    top: 0;
  }
}