// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Import all styles from the NHS App frontend library
@import 'node_modules/nhsapp-frontend/dist/nhsapp/all';

// Components that are not in the NHS.UK frontend library
@import 'components/list-border';
@import 'components/related-nav';

// Components that are custom to the NHS App
@import 'components/full-width-component-utility';
@import 'components/wrapper-and-container';
@import 'components/icons';

@import 'components/display';

@import 'components/header';
@import 'components/app-bottom-navigation';
@import 'components/bottom-sheet';
@import 'components/action-sheet';
@import 'components/add-to-wallet';
@import 'components/buttons';
@import 'components/card';
@import 'components/date-picker';
@import 'components/dynamic-page-title';
@import 'components/global-navigation-native';
@import 'components/global-navigation-web';
@import 'components/links';
@import 'components/link-with-icon';
@import 'components/loader';
@import 'components/login-native';
@import 'components/native-view';
@import 'components/provider-banner';
@import 'components/sticky-footer';
@import 'components/summary-list';
@import 'components/switch-profile-banner';
@import 'components/utilities';

@import 'components/nhsuk-frontend-extensions';

// Prototype specific styles
@import 'prototype-specific/example';
@import 'prototype-specific/ios-dynamic-text';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////
