// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/list-border';
@import 'components/related-nav';

// Components that are custom to the NHS App
@import 'components/app-bottom-navigation';
@import 'components/campaign-card';
@import 'components/dynamic-page-title';
@import 'components/global-navigation-native';
@import 'components/global-navigation-web';
@import 'components/link-panel-card';
@import 'components/section-title';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////

// HTM background colour
html {
  background-color: #f0f4f5; // change it to match page background colour
}

// App main wrapper
.app-main-wrapper {
  padding: 88px 0; // to give correct spacing for sticky header - need to test for desktop
}

// Badge component
.app-badge {
  background-color: $nhsuk-error-color;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  padding: 0 8px;
}

// Button
.app-button {
  padding-bottom: 12px;
  padding-top: 12px;
}