{% extends 'components/layout.html' %}

{% set pageHeading = "Bottom sheet" %}

{% block innerContent %}

  <!-- Button to open a sheet -->
  <button class="nhsuk-button app-button" type="button" id="open-sheet" aria-controls="sheet">Open Sheet</button>

  <!-- The sheet component -->
  <div id="sheet" class="app-bottom-sheet" aria-hidden="true" role="dialog">
    <!-- Dark background for the sheet -->
    <div class="app-bottom-sheet__overlay"></div>

    <!-- The sheet itself -->
    <div class="app-bottom-sheet__contents">
      <!-- Sheet controls -->
      <header class="app-bottom-sheet__controls">
        <!-- The thing to drag if you want to resize the sheet -->
        <div class="app-bottom-sheet__draggable-area">
          <div class="app-bottom-sheet__draggable-thumb"></div>
          <button class="app-bottom-sheet__close-sheet" type="button" title="Close the sheet">Close</button>
        </div>
        <!-- Button to close the sheet -->
      </header>

      <!-- Body of the sheet -->
      <main class="app-bottom-sheet__body">
        <h2>Bottom sheet heading</h2>
        <p>Bottom sheet content</p>
      </main>
    </div>
  </div>

{% endblock %}


    