{% extends 'components/layout.html' %}

{% set pageHeading = "Inset text" %}

{% block innerContent %}

  <div class="example">
    {{ insetText({
      HTML: "<p>Inset text content</p>"
    })}}
  </div>

  <p><a href="https://service-manual.nhs.uk/design-system/components/inset-text">NHS design system guidance</a></p>

  <h2 class="nhsuk-heading-m">Examples in context</h2>

  <ul clas="nhsuk-list">
    <li>
      <a href="/pages/your-health/hospital-appointments">Hospital appointments</a>
    </li>
    <li>
      <a href="/pages/your-health/treatment-waiting-lists">Waiting lists</a>
    </li>
  </ul>

{% endblock %}
