{% extends 'layout-app.html' %}

{% set hub = "Your health" %}

{% set backLink = true %}
{% set backLinkText = "Back" %}

{% set pageHeading = "Haemoglobin A1c (HbA1c)" %}



{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading
    })}}

    <dl class="nhsuk-summary-list">

        <div class="no-border-summary-list__row">
          <dt class="nhsuk-heading-m nhsuk-summary-list__key">
            Test date
          </dt>
          <dd class="nhsuk-summary-list__value">
            12 February 2024
          </dd>
      
        </div>
    </dl>
      
    <dl class="nhsuk-summary-list">

        <div class="no-border-summary-list__row">
          <dt class="nhsuk-heading-m nhsuk-summary-list__key">
            Healthcare professional's comments
          </dt>
          <dd class="nhsuk-summary-list__value">
            Abnormal - but expected. Keep routine appointment (non-urgent)
          </dd>
      
        </div>
    </dl>

    <dl class="nhsuk-summary-list">

        <div class="no-border-summary-list__row">
          <dt class="nhsuk-heading-m nhsuk-summary-list__key">
            Laboratory comments
          </dt>
          <dd class="nhsuk-summary-list__value">
            No comment
          </dd>
      
        </div>
    </dl>

    <hr style="height: 4px; background-color: #4C6272; border: none; margin-bottom: 40px;">

    <h2 class="nhsuk-heading-l"; style= padding-bottom:16px;>Your results</h2>

<div>
  <h4 style="line-height: 24px; margin-bottom: 0px;">Haemoglobin A1c (HbA1c):</h4>
  <h4 style="line-height: 28px; margin-bottom: 12px;">46 mmol/mol</h4>
  <p>The reference range is between 20 to 42 mmol/mol</p>
        </div>
  <div>
    <hr style="height: 1px; background-color: #D8DDE0; border: none; margin-top: 0px; margin-bottom: 12px;">
    <img src="/images/documentation-example/hba1c-bar.png" alt="Result within reference range" width="342" height="109">
    <hr style="height: 1px; background-color: #D8DDE0; border: none; margin-top: 12px; margin-bottom: 24px;">
    <a href="https://labtestsonline.org.uk/tests/haemoglobin" style="display: inline-block; padding-bottom: 16px;">What is a haemoglobin A1c (HbA1c) test?</a>
    <a href="/testresults/journey/hba1c-test-history.html" style="display: inline-block; padding-bottom: 16px;">View test result history</a>

    <hr style="height: 1px; background-color: #768692; border: none; margin-top: 40px; margin-bottom: 40px;">

</div>







{% endblock %}