{% extends 'layout-app.html' %}

{% set hub = "Your health" %}

{% set linkedProfile = false %}

{% set backLink = true %}
{% set backLinkText = "Back" %}

{% set pageHeading = "Breast screening (mammogram)" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSecondary: true,
        description: pageDescription
      })}}

      <div>
        <p>
          You will get your first invite for breast screening between the ages of 50 and 53. You will then be invited every 3 years until you turn 71.
        </p>
        <p>
          If you have not been invited to a screening, but think you are eligible to receive one, contact your GP surgery.
        </p>
      </div>

      <!-- PANEL LINK CARD -->
     <div>

{{ panelLinkCard({
        items: [
          {
            title: "About breast screening (mammogram)",
            URL: "https://www.nhs.uk/conditions/breast-screening-mammogram/",
            newWindow: true
          }
        ]
      })}}

    </div> 


    </div>
  </div>

  {% endblock %}
