{% extends 'layout-app.html' %}

{% set hub = "Your health" %}

{% set linkedProfile = false %}

{% set backLink = true %}
{% set backLinkText = "Back" %}

{% set pageHeading = "COVID-19 vaccine" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSecondary: true,
        description: pageDescription
      })}}

      <!-- PANEL LINK CARD -->
     <div>

{{ panelLinkCard({
        items: [
        {
          title: "Book, cancel or change a COVID-19 vaccination appointment",
          URL: "/pages/your-health/covid-19-nbs-start",
          newWindow: false
        },
        {
          title: "View COVID-19 vaccine record",
          URL: "/pages/your-health/covid-19-record",
          newWindow: false
        },
          {
            title: "About the COVID-19 vaccine",
            URL: "https://www.nhs.uk/vaccinations/hpv-vaccine/",
            newWindow: true
          }
        ]
      })}}

    </div> 


    </div>
  </div>

  {% endblock %}
