{% extends 'layout-app.html' %}

{% set hub = "Your health" %}

{% set backLink = true %}
{% set backLinkURL = "/pages/your-health/upcoming-and-past-appointments-p9" %}

{% set pageHeading = "Hospital appointments" %}
{% set pageDescription = "View and manage your upcoming and past hospital appointments." %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSecondary: true,
        description: pageDescription
      })}}

      {{ insetText({
        HTML: "<p>Some of your appointment information may not be visible in the app. Find out more by selecting the help section at the top of the screen.</p>",
        classes: "nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-5"
      }) }}

      <!-- SECTION -->
      {{ nhsappSectionHeading({
        headingText: "Upcoming appointments",
        subheadingText: "1 upcoming appointment"
      })}}

      <!-- CARDS -->
      <ul class="nhsapp-cards">
        <li class="nhsapp-card">
          <div class="nhsapp-card__container">
            <div class="nhsapp-card__content">
              {% if data['appointment-letter'] != "read" %}
              <div class="nhsapp-card__above">
                <strong class="nhsapp-tag nhsapp-tag--red nhsuk-u-display-inline-block nhsuk-u-static-margin-bottom-3">Action needed</strong>
              </div>
              {% endif %}
              <a class="nhsapp-card__link nhsuk-link--no-visited-state" href="/pages/your-health/view-or-manage-appointment" aria-label="Orthopaedic appointment on Monday 3 June 2024 at 9:40am">
                Orthopaedic appointment
              </a>
              <div class="nhsapp-card__below">
                <p aria-hidden="true" class="nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-3">Monday 3 June 2024 <br> 9:40am</p>
                <p class="nhsuk-u-margin-bottom-3">The Willows, Croydon University Hospital</p>
                <p class="nhsapp-badge-small nhsapp-badge-small--red nhsuk-body-s nhsuk-u-secondary-text-color">
                  {% if data['appointment-letter'] != "read" %}
                  <span class="nhsapp-badge-small__indicator" aria-hidden="true"></span>
                  <span class="nhsuk-u-visually-hidden">New</span>
                  {% endif %}
                  <span>Questionnaire(s) attached</span>
                </p>
              </div>
            </div>
            {{ nhsappIcon('chevronRight') }}
          </div>
        </li>
      </ul>

      <hr class="nhsuk-section-break--l">

      <!-- SECTION -->
      {{ nhsappSectionHeading({
        headingText: "Past appointments",
        subheadingText: "Showing 1 of 5"
      })}}

      <!-- CARDS -->
      <ul class="nhsapp-cards">
        <li class="nhsapp-card">
          <div class="nhsapp-card__container">
            <div class="nhsapp-card__content">
              <a class="nhsapp-card__link nhsuk-link--no-visited-state" href="#" aria-label="Rheumatology appointment on Tuesday 18 February 2024 at 3:20pm">
                Rheumatology appointment
              </a>
              <div class="nhsapp-card__below">
                <p aria-hidden="true" class="nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-3">Tuesday 18 February 2024 <br> 3:20pm</p>
                <p class="nhsuk-u-margin-bottom-3">The Willows, Croydon University Hospital</p>
                <p class="nhsuk-body-s nhsuk-u-secondary-text-color">
                  Document(s) and questionnaire(s) attached
                </p>
              </div>
            </div>
            {{ nhsappIcon('chevronRight') }}
          </div>
        </li>

        <li class="nhsapp-card">
          <div class="nhsapp-card__container">
            <div class="nhsapp-card__content">
              <a class="nhsapp-card__link nhsuk-link--no-visited-state" href="/pages/your-health/past-appointments">
                View more past appointments
              </a>
            </div>
            {{ nhsappIcon('chevronRight') }}
          </div>
        </li>

      </ul>

    </div>
  </div>

  {% endblock %}
