{% extends 'layout-app.html' %}

{% set hub = "Your health" %}

{% set backLink = true %}
{% set backLinkText = "Back" %}

{% set pageHeading = "Past appointments" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSecondary: true
      })}}

      <!-- SECTION TITLE -->
      {{ sectionTitle({
        title: "2023"
      })}}

      <p class="nhsuk-u-secondary-text-color">4 records</p>

      <!-- CARDS -->
      <ul class="app-panel-link-card-spaced">

        <li class="app-panel-link-card">
          <div class="app-panel-link-card__content">
            <a class="app-panel-link-card__link nhsuk-heading-s" href="#">
              Rheumatology appointment
              <span class="nhsuk-u-visually-hidden">on Thursday 29 August 2023 at 10:50am</span>
              <svg class="app-panel-link-card__chevron" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                <path d="M8.82264 19.11C8.56264 19.11 8.29264 19.01 8.10264 18.8C7.72264 18.4 7.73264 17.77 8.13264 17.39L13.7426 12.01L8.14264 6.75999C7.74264 6.37999 7.72264 5.74999 8.09264 5.34999C8.47264 4.94999 9.10264 4.92999 9.50264 5.29999L15.8726 11.27C16.0726 11.46 16.1826 11.72 16.1926 11.99C16.2026 12.26 16.0826 12.53 15.8826 12.72L9.51264 18.83C9.32264 19.02 9.07264 19.11 8.82264 19.11Z"></path>
              </svg>
            </a>
            <p aria-hidden="true" class="nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-0">Thursday 29 August 2023 <br> 10:50am</p>
            <p class="nhsuk-u-margin-bottom-0 nhsuk-u-margin-top-12">The Willows, Croydon University Hospital</p>
            <p class="nhsuk-body-s nhsuk-u-margin-bottom-0 nhsuk-u-margin-top-12 nhsuk-u-secondary-text-color">
              Document(s) and questionnaire(s) attached
            </p>
          </div>
        </li>

        <li class="app-panel-link-card">
          <div class="app-panel-link-card__content">
            <a class="app-panel-link-card__link nhsuk-heading-s" href="#">
              Rheumatology appointment
              <span class="nhsuk-u-visually-hidden">on Tuesday 21 June 2023 at 1:10pm</span>
              <svg class="app-panel-link-card__chevron" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                <path d="M8.82264 19.11C8.56264 19.11 8.29264 19.01 8.10264 18.8C7.72264 18.4 7.73264 17.77 8.13264 17.39L13.7426 12.01L8.14264 6.75999C7.74264 6.37999 7.72264 5.74999 8.09264 5.34999C8.47264 4.94999 9.10264 4.92999 9.50264 5.29999L15.8726 11.27C16.0726 11.46 16.1826 11.72 16.1926 11.99C16.2026 12.26 16.0826 12.53 15.8826 12.72L9.51264 18.83C9.32264 19.02 9.07264 19.11 8.82264 19.11Z"></path>
              </svg>
            </a>
            <p aria-hidden="true" class="nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-0">Tuesday 21 June 2023 <br> 1:10pm</p>
            <p class="nhsuk-u-margin-bottom-0 nhsuk-u-margin-top-12">The Willows, Croydon University Hospital</p>
            <p class="nhsuk-body-s nhsuk-u-margin-bottom-0 nhsuk-u-margin-top-12 nhsuk-u-secondary-text-color">
              Document(s) and questionnaire(s) attached
            </p>
          </div>
        </li>

        <li class="app-panel-link-card">
          <div class="app-panel-link-card__content">
            <a class="app-panel-link-card__link nhsuk-heading-s" href="#">
              Rheumatology appointment
              <span class="nhsuk-u-visually-hidden">on Wednesday 11 April 2023 at 12:10pm</span>
              <svg class="app-panel-link-card__chevron" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                <path d="M8.82264 19.11C8.56264 19.11 8.29264 19.01 8.10264 18.8C7.72264 18.4 7.73264 17.77 8.13264 17.39L13.7426 12.01L8.14264 6.75999C7.74264 6.37999 7.72264 5.74999 8.09264 5.34999C8.47264 4.94999 9.10264 4.92999 9.50264 5.29999L15.8726 11.27C16.0726 11.46 16.1826 11.72 16.1926 11.99C16.2026 12.26 16.0826 12.53 15.8826 12.72L9.51264 18.83C9.32264 19.02 9.07264 19.11 8.82264 19.11Z"></path>
              </svg>
            </a>
            <p aria-hidden="true" class="nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-0">Wednesday 11 April 2023 <br> 12:10pm</p>
            <p class="nhsuk-u-margin-bottom-0 nhsuk-u-margin-top-12">The Willows, Croydon University Hospital</p>
            <p class="nhsuk-body-s nhsuk-u-margin-bottom-0 nhsuk-u-margin-top-12 nhsuk-u-secondary-text-color">
              Document(s) and questionnaire(s) attached
            </p>
          </div>
        </li>

        <li class="app-panel-link-card">
          <div class="app-panel-link-card__content">
            <span class="app-panel-link-card__tag">
              {{ tag({
                text: "Cancelled",
                classes: "app-tag--new app-tag--white"
              })}}
            </span>
            <a class="app-panel-link-card__link nhsuk-heading-s" href="#">
              Radiology appointment
              <span class="nhsuk-u-visually-hidden">on Thursday 29 June 2023 at 9am</span>
              <svg class="app-panel-link-card__chevron" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                <path d="M8.82264 19.11C8.56264 19.11 8.29264 19.01 8.10264 18.8C7.72264 18.4 7.73264 17.77 8.13264 17.39L13.7426 12.01L8.14264 6.75999C7.74264 6.37999 7.72264 5.74999 8.09264 5.34999C8.47264 4.94999 9.10264 4.92999 9.50264 5.29999L15.8726 11.27C16.0726 11.46 16.1826 11.72 16.1926 11.99C16.2026 12.26 16.0826 12.53 15.8826 12.72L9.51264 18.83C9.32264 19.02 9.07264 19.11 8.82264 19.11Z"></path>
              </svg>
            </a>
            <p aria-hidden="true" class="nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-0">Thursday 29 June 2023 <br> 9am</p>
            <p class="nhsuk-u-margin-bottom-0 nhsuk-u-margin-top-12">The Willows, Croydon University Hospital</p>
            <p class="nhsuk-body-s nhsuk-u-margin-bottom-0 nhsuk-u-margin-top-12 nhsuk-u-secondary-text-color">
              Document(s) and questionnaire(s) attached
            </p>
          </div>
        </li>
        
      </ul>

      <!-- SECTION TITLE -->
      {{ sectionTitle({
        title: "2023"
      })}}

      <p class="nhsuk-u-secondary-text-color">3 records</p>

      <!-- CARDS -->
      <ul class="app-panel-link-card-spaced">

        <li class="app-panel-link-card">
          <div class="app-panel-link-card__content">
            <a class="app-panel-link-card__link nhsuk-heading-s" href="#">
              Rheumatology appointment
              <span class="nhsuk-u-visually-hidden">on Monday 21 December 2022 at 1:10pm</span>
              <svg class="app-panel-link-card__chevron" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                <path d="M8.82264 19.11C8.56264 19.11 8.29264 19.01 8.10264 18.8C7.72264 18.4 7.73264 17.77 8.13264 17.39L13.7426 12.01L8.14264 6.75999C7.74264 6.37999 7.72264 5.74999 8.09264 5.34999C8.47264 4.94999 9.10264 4.92999 9.50264 5.29999L15.8726 11.27C16.0726 11.46 16.1826 11.72 16.1926 11.99C16.2026 12.26 16.0826 12.53 15.8826 12.72L9.51264 18.83C9.32264 19.02 9.07264 19.11 8.82264 19.11Z"></path>
              </svg>
            </a>
            <p aria-hidden="true" class="nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-0">Monday 21 December 2022 <br> 1:10pm</p>
            <p class="nhsuk-u-margin-bottom-0 nhsuk-u-margin-top-12">The Willows, Croydon University Hospital</p>
            <p class="nhsuk-body-s nhsuk-u-margin-bottom-0 nhsuk-u-margin-top-12 nhsuk-u-secondary-text-color">
              Document(s) and questionnaire(s) attached
            </p>
          </div>
        </li>

        <li class="app-panel-link-card">
          <div class="app-panel-link-card__content">
            <a class="app-panel-link-card__link nhsuk-heading-s" href="#">
              Rheumatology appointment
              <span class="nhsuk-u-visually-hidden">on Tuesday 21 June 2022 at 8am</span>
              <svg class="app-panel-link-card__chevron" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                <path d="M8.82264 19.11C8.56264 19.11 8.29264 19.01 8.10264 18.8C7.72264 18.4 7.73264 17.77 8.13264 17.39L13.7426 12.01L8.14264 6.75999C7.74264 6.37999 7.72264 5.74999 8.09264 5.34999C8.47264 4.94999 9.10264 4.92999 9.50264 5.29999L15.8726 11.27C16.0726 11.46 16.1826 11.72 16.1926 11.99C16.2026 12.26 16.0826 12.53 15.8826 12.72L9.51264 18.83C9.32264 19.02 9.07264 19.11 8.82264 19.11Z"></path>
              </svg>
            </a>
            <p aria-hidden="true" class="nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-0">Tuesday 21 June 2022 <br> 8am</p>
            <p class="nhsuk-u-margin-bottom-0 nhsuk-u-margin-top-12">The Willows, Croydon University Hospital</p>
            <p class="nhsuk-body-s nhsuk-u-margin-bottom-0 nhsuk-u-margin-top-12 nhsuk-u-secondary-text-color">
              Document(s) and questionnaire(s) attached
            </p>
          </div>
        </li>

        <li class="app-panel-link-card">
          <div class="app-panel-link-card__content">
            <a class="app-panel-link-card__link nhsuk-heading-s" href="#">
              Rheumatology appointment
              <span class="nhsuk-u-visually-hidden">on Monday 20 June 2022 at 10:30am</span>
              <svg class="app-panel-link-card__chevron" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                <path d="M8.82264 19.11C8.56264 19.11 8.29264 19.01 8.10264 18.8C7.72264 18.4 7.73264 17.77 8.13264 17.39L13.7426 12.01L8.14264 6.75999C7.74264 6.37999 7.72264 5.74999 8.09264 5.34999C8.47264 4.94999 9.10264 4.92999 9.50264 5.29999L15.8726 11.27C16.0726 11.46 16.1826 11.72 16.1926 11.99C16.2026 12.26 16.0826 12.53 15.8826 12.72L9.51264 18.83C9.32264 19.02 9.07264 19.11 8.82264 19.11Z"></path>
              </svg>
            </a>
            <p aria-hidden="true" class="nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-0">Monday 20 June 2022 <br> 10:30am</p>
            <p class="nhsuk-u-margin-bottom-0 nhsuk-u-margin-top-12">The Willows, Croydon University Hospital</p>
            <p class="nhsuk-body-s nhsuk-u-margin-bottom-0 nhsuk-u-margin-top-12 nhsuk-u-secondary-text-color">
              Document(s) and questionnaire(s) attached
            </p>
          </div>
        </li>
        
      </ul>

      <div class="nhsuk-u-reading-width">
        <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-3">No more past appointments available</h2>
        <p>Only past appointments from the last 2 years are shown in the NHS app.</p>
      </div>

    </div>
  </div>

  {% endblock %}
