{% extends 'layout-app.html' %}

{% set hub = "Your health" %}

{% set linkedProfile = true %}

{% set backLink = true %}
{% set backLinkText = "Back to Your health" %}

{% set pageHeading = "View and manage prescriptions" %}
{% set pageDescription = "Check your ordered medicines and choose the pharmacy you collect them from" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSecondary: true,
        description: pageDescription
      })}}

      <!-- PANEL LINK CARD -->
      {{ nhsappCardGroup({
        stacked: true,
        cards: [
          {
            title: "Check your current prescription orders",
            href: "#"
          },
          {
            title: "View your past prescriptions",
            href: "#"
          }
        ]
      })}}

       <!-- RELATED CONTENT CARD -->
       {{ relatedContentCard({
        icon: "cross",
        title: "Access services",
        description: "Place an order for a medicine you take often",
        URL: "#",
        linkText: "Request repeat prescriptions"
      })}}

    </div>
  </div>

  {% endblock %}
