{% extends 'layout-app.html' %}

{% set hub = "Your health" %}

{% set backLink = true %}
{% set backLinkText = "Back" %}

{% set pageHeading = "View and manage prescriptions" %}
{% set pageDescription = "Check your prescriptions and choose the pharmacy they are collected or delivered from" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSecondary: true,
        description: pageDescription
      })}}

      <!-- PANEL LINK CARD -->
      {{ panelLinkCard({
        items: [
          {
            title: "Requested medicines",
            description: "Check if your GP has approved the medicines you requested in the app",
            URL: "/pages/your-health/requested-medicines"
          },
          {
            title: "Check if your prescriptions are ready",
            description: "View prescriptions being prepared by the pharmacy",
            URL: "/pages/your-health/your-approved-prescriptions"
          },
          {
            title: "Choose a pharmacy",
            description: "Choose or change a pharmacy for your prescriptions to be collected or delivered from",
            URL: "#"
          },
          {
            title: "Hospital and other medicines",
            description: "View your current and past medicines",
            URL: "#"
          }
        ]
      })}}

       <!-- RELATED CONTENT CARD -->
       {{ relatedContentCard({
        icon: "cross",
        title: "Access services",
        description: "Request medicines you take often",
        URL: "/pages/your-health/repeat-prescription/select-medicines",
        linkText: "Request medicines"
      })}}

    </div>
  </div>

  {% endblock %}
