{% extends 'layout-app.html' %}

{% set hub = "Your health" %}

{% set backLink = true %}
{% set backLinkText = "Back" %}

{% set pageHeading = "Referrals" %}
{% set pageDescription = "View and manage your referrals" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSecondary: true,
        description: pageDescription
      })}}

      <!-- SECTION TITLE - SERVICES -->
      {{ sectionTitle({
        title: "Referrals to action",
        classes: "nhsuk-u-margin-bottom-1"
      })}}

      <p>1 referral to action</p>

      <!-- CARDS -->
      <ul class="app-panel-link-card-spaced">
        <li class="app-panel-link-card">
          <div class="app-panel-link-card__content">
            <span class="app-panel-link-card__tag">
              {{ tag({
                text: "Action needed",
                classes: "app-tag--no-border app-tag app-tag--red"
              })}}
            </span>
            <a class="app-panel-link-card__link nhsuk-heading-s" href="#">
              Select a clinic
              <svg class="app-panel-link-card__chevron" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                <path d="M8.82264 19.11C8.56264 19.11 8.29264 19.01 8.10264 18.8C7.72264 18.4 7.73264 17.77 8.13264 17.39L13.7426 12.01L8.14264 6.75999C7.74264 6.37999 7.72264 5.74999 8.09264 5.34999C8.47264 4.94999 9.10264 4.92999 9.50264 5.29999L15.8726 11.27C16.0726 11.46 16.1826 11.72 16.1926 11.99C16.2026 12.26 16.0826 12.53 15.8826 12.72L9.51264 18.83C9.32264 19.02 9.07264 19.11 8.82264 19.11Z"></path>
              </svg>
            </a>
            <p class="app-panel-link-card__description">You need to select a clinic for your orthopaedic referral</p>
          </div>
        </li>
      </ul>

      <hr>

      <!-- SECTION TITLE - SERVICES -->
      {{ sectionTitle({
        title: "Pending referrals",
        classes: "nhsuk-u-margin-bottom-1"
      })}}

      <p>1 pending referral</p>

      <!-- CARDS -->
      <ul class="app-panel-link-card-spaced">
        <li class="app-panel-link-card">
          <div class="app-panel-link-card__content">
            <span class="app-panel-link-card__tag">
              {{ tag({
                text: "Referral in review",
                classes: "app-tag--no-border app-tag app-tag--yellow"
              })}}
            </span>
            <a class="app-panel-link-card__link nhsuk-heading-s" href="#">
              Gastroenterology referral
              <svg class="app-panel-link-card__chevron" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                <path d="M8.82264 19.11C8.56264 19.11 8.29264 19.01 8.10264 18.8C7.72264 18.4 7.73264 17.77 8.13264 17.39L13.7426 12.01L8.14264 6.75999C7.74264 6.37999 7.72264 5.74999 8.09264 5.34999C8.47264 4.94999 9.10264 4.92999 9.50264 5.29999L15.8726 11.27C16.0726 11.46 16.1826 11.72 16.1926 11.99C16.2026 12.26 16.0826 12.53 15.8826 12.72L9.51264 18.83C9.32264 19.02 9.07264 19.11 8.82264 19.11Z"></path>
              </svg>
            </a>
            <p class="app-panel-link-card__description">Your healthcare provider has requested for you to be referred to Gastroenterology. This request is being reviewed. You do not need to do anything.</p>
            <p class="app-panel-link-card__description nhsuk-u-font-weight-bold">Due to be reviewed by:</p>
            <p class="app-panel-link-card__description">8 February 2024</p>
          </div>
        </li>
      </ul>

    </div>
  </div>

  {% endblock %}
