{% extends 'layout-app.html' %}

{% set hub = "Your health" %}

{% set backLink = true %}
{% set backLinkText = "Back" %}

{% set pageHeading = "Referrals" %}
{% set pageDescription = "View and manage your referrals" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSecondary: true,
        description: pageDescription
      })}}

      <!-- SECTION TITLE - SERVICES -->
      {{ sectionTitle({
        title: "Referrals to action",
        description: "0 referrals to action"
      })}}

      <hr>

      <!-- SECTION TITLE - SERVICES -->
      {{ sectionTitle({
        title: "Pending referrals",
        description: "0 pending referral"
      })}}

    </div>
  </div>

  {% endblock %}
