{% extends 'layout-app.html' %}

{% set hub = "Your health" %}

{% set backLink = true %}
{% set backLinkText = "Back" %}

{% set pageHeading = "Requested medicines" %}
{% set pageDescription = "The medicines your GP approves may be different to your request" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSecondary: true,
        description: pageDescription
      })}}

      <div class="app-card-link">
        <div class="app-card-link__container">
          <div class="app-card-link__content">
            <a class="app-card-link__link nhsuk-link--no-visited-state" href="#">
              Your approved prescriptions
            </a>
          </div>
          {% include "components/icons/chevron.html" %}
        </div>
      </div>


    </div>
  </div>

  {% endblock %}
