{% extends 'layout-app.html' %}

{% set hub = "Your health" %}

{% set backLink = true %}
{% set backLinkText = "Back" %}

{% set pageHeading = "Requested medicines" %}
{% set pageDescription = "The medicines your GP approves may be different to your request" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSecondary: true,
        description: pageDescription
      })}}

      <div class="app-card-link">
        <div class="app-card-link__container">
          <div class="app-card-link__content">
            <a class="app-card-link__link nhsuk-link--no-visited-state" href="/pages/your-health/your-approved-prescriptions">
              Your approved prescriptions
            </a>
          </div>
          {% include "components/icons/chevron.html" %}
        </div>
      </div>

      <ul class="nhsuk-list nhsuk-list--border">
        <li>
          <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-0">
            <span class="nhsuk-caption-l nhsuk-u-margin-bottom-3">
              <strong class="app-tag app-tag--green">Approved by GP</strong>
            </span>
            Atorvastatin 500mg capsules
          </h2>
          <p class="nhsuk-u-margin-bottom-3">Quantity: 10 capsules</p>
          <p class="nhsuk-u-margin-bottom-0 nhsuk-u-secondary-text-color">Requested: 1 May 2024</p>
        </li>
        <li>
          <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-0">
            <span class="nhsuk-caption-l nhsuk-u-margin-bottom-3">
              <strong class="app-tag app-tag--green">Approved by GP</strong>
            </span>
            Codeine phosphate 30mg tablets
          </h2>
          <p class="nhsuk-u-margin-bottom-3">Quantity: 10 capsules</p>
          <p class="nhsuk-u-margin-bottom-0 nhsuk-u-secondary-text-color">Requested: 1 May 2024</p>
        </li>
        <li>
          <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-0">
            <span class="nhsuk-caption-l nhsuk-u-margin-bottom-3">
              <strong class="app-tag app-tag--green">Approved by GP</strong>
            </span>
            Warfarin 5mg tablets
          </h2>
          <p class="nhsuk-u-margin-bottom-3">Quantity: 28 Tablets</p>
          <p class="nhsuk-u-margin-bottom-0 nhsuk-u-secondary-text-color">Requested: 3 May 2024</p>
        </li>
        <li>
          <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-0">
            <span class="nhsuk-caption-l nhsuk-u-margin-bottom-3">
              <strong class="app-tag app-tag--green">Approved by GP</strong>
            </span>
            Ramipril 5mg capsules
          </h2>
          <p class="nhsuk-u-margin-bottom-3">Quantity: 28 Tablets</p>
          <p class="nhsuk-u-margin-bottom-0 nhsuk-u-secondary-text-color">Requested: 3 May 2024</p>
        </li>
        <li>
          <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-0">
            <span class="nhsuk-caption-l nhsuk-u-margin-bottom-3">
              <strong class="app-tag app-tag--red">Rejected by GP</strong>
            </span>
            Lorazepam 1mg tablets
          </h2>
          <p class="nhsuk-u-margin-bottom-3">Quantity: 28 Tablets</p>
          <p class="nhsuk-u-margin-bottom-0 nhsuk-u-secondary-text-color">Requested: 2 May 2024</p>
        </li>
      </ul>

    </div>
  </div>

  {% endblock %}
