{% extends 'layout-app.html' %}

{% set hub = "Your health" %}

{% set backLink = true %}
{% set backLinkText = "Back" %}

{% set pageHeading = "Requested repeat prescriptions" %}
{% set pageDescription = "Your GP needs to approve the repeat prescriptions you requested in the app" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSecondary: true,
        description: pageDescription
      })}}

      <div class="app-card-link">
        <div class="app-card-link__container">
          <div class="app-card-link__content">
            <a class="app-card-link__link nhsuk-link--no-visited-state" href="/pages/your-health/your-approved-prescriptions">
              Check if your prescriptions are ready
            </a>
          </div>
          {% include "components/icons/chevron.html" %}
        </div>
      </div>

      {% if data['prescription-requested'] == "true" %}

      <ul class="nhsuk-list nhsuk-list--border">

        {% if "select-medicines-1" in data['select-medicines'] or data['select-medicines'] == "" %}
        <li>
          <strong class="app-tag app-tag--green nhsuk-u-margin-bottom-2">Approved by GP</strong>
          <p class="nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-0">{{ data['medicine1'] }}</p>
          <p class="nhsuk-u-margin-bottom-3">{{ data['medicine1description'] }}</p>
          <p class="nhsuk-u-margin-bottom-0 nhsuk-u-secondary-text-color">Requested: 17 July 2024</p>
        </li>
        {% endif %}

        {% if "select-medicines-2" in data['select-medicines'] or data['select-medicines'] == "" %}
        <li>
          <strong class="app-tag app-tag--green nhsuk-u-margin-bottom-2">Approved by GP</strong>
          <p class="nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-0">{{ data['medicine2'] }}</p>
          <p class="nhsuk-u-margin-bottom-3">{{ data['medicine2description'] }}</p>
          <p class="nhsuk-u-margin-bottom-0 nhsuk-u-secondary-text-color">Requested: 17 July 2024</p>
        </li>
        {% endif %}

        {% if "select-medicines-3" in data['select-medicines'] or data['select-medicines'] == "" %}
        <li>
          <strong class="app-tag app-tag--green nhsuk-u-margin-bottom-2">Approved by GP</strong>
          <p class="nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-0">{{ data['medicine3'] }}</p>
          <p class="nhsuk-u-margin-bottom-3">{{ data['medicine3description'] }}</p>
          <p class="nhsuk-u-margin-bottom-0 nhsuk-u-secondary-text-color">Requested: 17 July 2024</p>
        </li>
        {% endif %}

        {% if "select-medicines-4" in data['select-medicines'] or data['select-medicines'] == "" %}
        <li>
          <strong class="app-tag app-tag--green nhsuk-u-margin-bottom-2">Approved by GP</strong>
          <p class="nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-0">{{ data['medicine4'] }}</p>
          <p class="nhsuk-u-margin-bottom-3">{{ data['medicine4description'] }}</p>
          <p class="nhsuk-u-margin-bottom-0 nhsuk-u-secondary-text-color">Requested: 17 July 2024</p>
        </li>
        {% endif %}

        {% if "select-medicines-5" in data['select-medicines'] or data['select-medicines'] == "" %}
        <li>
          <strong class="app-tag app-tag--green nhsuk-u-margin-bottom-2">Approved by GP</strong>
          <p class="nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-0">{{ data['medicine5'] }}</p>
          <p class="nhsuk-u-margin-bottom-3">{{ data['medicine5description'] }}</p>
          <p class="nhsuk-u-margin-bottom-0 nhsuk-u-secondary-text-color">Requested: 17 July 2024</p>
        </li>
        {% endif %}

        {% if "select-medicines-6" in data['select-medicines'] or data['select-medicines'] == "" %}
        <li>
          <strong class="app-tag app-tag--red nhsuk-u-margin-bottom-2">Rejected by GP</strong>
          <p class="nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-0">{{ data['medicine6'] }}</p>
          <p class="nhsuk-u-margin-bottom-3">{{ data['medicine6description'] }}</p>
          <p class="nhsuk-u-margin-bottom-0 nhsuk-u-secondary-text-color">Requested: 17 July 2024</p>
        </li>
        {% endif %}

      </ul>

      {% else %}
      {% endif %}

    </div>
  </div>

  {% endblock %}
