{% extends 'layout-app.html' %}

{% set hub = "Your health" %}

{% set backLink = true %}

{% set pageHeading = "Waiting lists" %}
{% set pageDescription = "You're on 2 waiting lists." %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSecondary: true,
        description: pageDescription
      })}}

      <ol class="nhsuk-list">
        <li>
            <h2 class="nhsuk-u-margin-bottom-1">Cardiology</h2>
            <p class="nhsuk-u-secondary-text-color">Manchester University NHS Trust</p>
            <p class="nhsuk-body-s nhsuk-u-margin-bottom-6">You do not need to do anything. You'll be contacted when an appointment is available.</p>

            {{ nhsappTimeline({
              items: [
                {
                  headingText: "Date referred",
                  text: "14 May 2024",
                  isPastItem: true
                },
                {
                  headingText: "Current status",
                  text: "Waiting for treatment",
                  active: true
                },
                {
                  headingText: "Estimated treatment start date",
                  text: "August 2024"
                }
              ]
            }) }}

            <p class="nhsuk-body-s nhsuk-u-margin-bottom-3">This is the average waiting time for this department at Croydon University Hospital.</p>
            <p class="nhsuk-body-s nhsuk-u-secondary-text-color">Last updated: 14 Nov 2023</p>

          </li>

          <hr aria-hidden="true" class="nhsuk-section-break--l">

          <li>

            <h2 class="nhsuk-u-margin-bottom-1">Dermatology</h2>
            <p class="nhsuk-u-secondary-text-color">Manchester University NHS Trust</p>
            <p class="nhsuk-body-s nhsuk-u-margin-bottom-6">You do not need to do anything. You'll be contacted when an appointment is available.</p>

            {{ nhsappTimeline({
              items: [
                {
                  headingText: "Date referred",
                  text: "8 June 2024",
                  isPastItem: true
                },
                {
                  headingText: "Current status",
                  text: "Waiting for treatment",
                  active: true
                },
                {
                  headingText: "Estimated treatment start date",
                  text: "Sepetember 2024"
                }
              ]
            }) }}

            <p class="nhsuk-body-s nhsuk-u-margin-bottom-3">This is the average waiting time for this department at Osset Hospital.</p>
            <p class="nhsuk-body-s nhsuk-u-secondary-text-color">Last updated: 14 Nov 2023</p>

        </li>

        <hr aria-hidden="true" class="nhsuk-section-break--l">

      </ol>

      <div class="nhsuk-inset-text">
        <p>Some of your waiting list information may not be visible in the app. Find out more by selecting the help section at the top of the screen.</p>
      </div>

    </div>
  </div>

  {% endblock %}
