{% extends 'layout-app.html' %}

{% set hub = "Your health" %}

{% set backLink = true %}
{% set backLinkText = "Back" %}

{% set pageHeading = "Treatment waiting lists" %}
{% set pageDescription = "You are on 2 waiting lists." %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSecondary: true,
        description: pageDescription
      })}}

      <div class="nhsuk-u-reading-width">
        <h2 class="nhsuk-u-margin-bottom-2">Range Surgery</h2>
        <p class="nhsuk-u-secondary-text-color nhsuk-u-margin-bottom-5">Received 14 October 2023 at 12:05pm</p>

        <ul class="app-timeline">
          <li class="app-timeline__item">
            <div class="app-timeline__badge">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <circle class="app-timeline__badge-fill" cx="12" cy="12" r="11" fill="white" stroke="#005EB8" stroke-width="2"/>
              </svg>
            </div>
            <div class="app-timeline__body">
              <p class="nhsuk-u-margin-bottom-1">Estimated treatment start date:</p>
              <p class="nhsuk-heading-s nhsuk-u-margin-bottom-1 nhsuk-u-padding-top-0">March 2024</p>
              <p class="nhsuk-u-margin-bottom-0"><a href="/pages/your-health/cardiology-waiting-list" class="nhsuk-link--no-visited-state">View estimation information</a></p>
            </div>
          </li>
          <li class="app-timeline__item app-timeline__item--past">
            <div class="app-timeline__badge">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <circle class="app-timeline__badge-fill" cx="12" cy="12" r="11" fill="white" stroke="#005EB8" stroke-width="2"/>
              </svg>
            </div>
            <div class="app-timeline__body">
              <p class="nhsuk-u-margin-bottom-1">Date of referral:</p>
              <p class="nhsuk-u-margin-bottom-1">9 November 2023</p>
            </div>
          </li>
        </ul>

        <p class="nhsuk-u-margin-bottom-3">You are currently awaiting treatment. You do not need to do anything. You'll be contacted when an appointment is available.</p>
        <p class="nhsuk-body-s nhsuk-u-secondary-text-color">Last updated: 14 Nov 2023</p>
      </div>

      <hr class="nhsuk-section-break--l">

      <div class="nhsuk-u-reading-width">
        <h2 class="nhsuk-u-margin-bottom-2">Dermatology</h2>
        <p class="nhsuk-u-secondary-text-color nhsuk-u-margin-bottom-5">Manchester University NHS Trust</p>

        <ul class="app-timeline">
          <li class="app-timeline__item">
            <div class="app-timeline__badge">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <circle class="app-timeline__badge-fill" cx="12" cy="12" r="11" fill="white" stroke="#005EB8" stroke-width="2"/>
              </svg>
            </div>
            <div class="app-timeline__body">
              <p class="nhsuk-u-margin-bottom-1">Estimated treatment start date:</p>
              <p class="nhsuk-heading-s nhsuk-u-margin-bottom-1 nhsuk-u-padding-top-0">May 2024</p>
              <p class="nhsuk-u-margin-bottom-0"><a href="#" class="nhsuk-link--no-visited-state">View estimation information</a></p>
            </div>
          </li>
          <li class="app-timeline__item app-timeline__item--past">
            <div class="app-timeline__badge">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <circle class="app-timeline__badge-fill" cx="12" cy="12" r="11" fill="white" stroke="#005EB8" stroke-width="2"/>
              </svg>
            </div>
            <div class="app-timeline__body">
              <p class="nhsuk-u-margin-bottom-1">Date of referral:</p>
              <p class="nhsuk-u-margin-bottom-1">12 December 2023</p>
            </div>
          </li>
        </ul>

        <p class="nhsuk-u-margin-bottom-3">You are currently awaiting treatment. You do not need to do anything. You'll be contacted when an appointment is available.</p>
        <p class="nhsuk-body-s nhsuk-u-secondary-text-color">Last updated: 14 Nov 2023</p>
      </div>

      <hr class="nhsuk-section-break--l">

      <div class="nhsuk-u-reading-width">
        <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-3">Missing wait lists</h2>
        <p>Some of your waiting list information may not be visible in the app as hospitals update their data once a week.</p>
        <p><a href="#">View more information <span class="nhsuk-u-visually-hidden">on missing wait lists</span></a></p>
      </div>

    </div>
  </div>

  {% endblock %}
