{% extends 'layout-app.html' %}

{% set hub = "Your health" %}

{% set linkedProfile = true %}

{% set backLink = true %}
{% set backLinkText = "Back to Your health" %}

{% set pageHeading = "Upcoming and past appointments" %}
{% set pageDescription = "Check and change your bookings, or view past appointments" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSecondary: true,
        description: pageDescription
      })}}

      <!-- PANEL LINK CARD -->
      {{ nhsappCardGroup({
        stacked: true,
        cards: [
          {
            title: "GP surgery appointments ",
            href: "#"
          }
        ]
      })}}

      <!-- RELATED CONTENT CARD -->
      {{ relatedContentCard({
        icon: "cross",
        title: "Access services",
        description: "Get support from your GP and other services",
        URL: "#",
        linkText: "Explore services"
      })}}

    </div>
  </div>

  {% endblock %}
