{% extends 'layout-app.html' %}

{% set hub = "Your health" %}

{% set backLink = true %}
{% set backLinkText = "Back" %}

{% set pageHeading = "Upcoming and past appointments" %}
{% set pageDescription = "View or manage upcoming and past appointments, referrals and waiting lists" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSecondary: true,
        description: pageDescription
      })}}

      <ul class="app-cards app-cards--stacked">
        <li class="app-card-link">
          <div class="app-card-link__container">
            <div class="app-card-link__content">
              <a class="app-card-link__link nhsuk-link--no-visited-state" href="#">
                GP surgery appointments
              </a>
            </div>
            {% include "components/icons/chevron.html" %}
          </div>
        </li>
        <li class="app-card-link">
          <div class="app-card-link__container">
            <div class="app-card-link__content">
              <a class="app-card-link__link nhsuk-link--no-visited-state" href="/pages/your-health/referrals">
                Referrals
              </a>
            </div>
            {% include "components/icons/chevron.html" %}
          </div>
        </li>
        <li class="app-card-link">
          <div class="app-card-link__container">
            <div class="app-card-link__content">
              <a class="app-card-link__link nhsuk-link--no-visited-state" href="/pages/your-health/hospital-appointments">
                Hospital appointments
              </a>
            </div>
            {% if data['appointment-letter'] != "read" %}
            <span class="app-badge">
              1
              <span class="nhsuk-u-visually-hidden">
                new notification
              </span>
            </span>
            {% endif %}
            {% include "components/icons/chevron.html" %}
          </div>
        </li>
        <li class="app-card-link">
          <div class="app-card-link__container">
            <div class="app-card-link__content">
              <a class="app-card-link__link nhsuk-link--no-visited-state" href="#">
                Waiting lists
              </a>
            </div>
            {% include "components/icons/chevron.html" %}
          </div>
        </li>
      </ul>

      <!-- RELATED CONTENT CARD -->
      {{ relatedContentCard({
        icon: "cross",
        title: "Access services",
        description: "Find available GP appointments and other available services",
        URL: "#",
        linkText: "Explore services"
      })}}

    </div>
  </div>

  {% endblock %}
