{% extends 'layout-app.html' %}

{% set hub = "Your health" %}

{% set linkedProfile = false %}

{% set backLink = true %}
{% set backLinkText = "Back" %}

{% set pageHeading = "Vaccinations" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSecondary: true,
        description: pageDescription
      })}}

      <!-- PANEL LINK CARD -->
     <div>
{{ panelLinkCard({
        items: [
          {
            title: "MMR vaccine ",
            URL: "/pages/your-health/mmr-vaccine"
          },
          {
            title: "Flu vaccine ",
            URL: "/pages/your-health/flu-vaccine"
          },
          {
            title: "RSV vaccine ",
            URL: "/pages/your-health/rsv-vaccine"
          },
          {
            title: "COVID-19 vaccine ",
            URL: "/pages/your-health/covid-19-vaccine"
          },
          {
            title: "HPV vaccine ",
            URL: "/pages/your-health/hpv-vaccine"
          },
          {
            title: "Whooping cough vaccine ",
            URL: "/pages/your-health/whooping-cough-vaccine"
          }
        ]
      })}}

    </div> 


      <div>
        <p><a href="https://www.nhs.uk/vaccinations/" title="Vaccinantions page" target="_blank">Find out more information about vaccinations for babies, children or adults.</a></p>
      </div>

    </div>
  </div>

  {% endblock %}
