{% extends 'layout-app.html' %}

{% set hub = "Your health" %}

{% set linkedProfile = false %}

{% set backLink = true %}
{% set backLinkText = "Back" %}

{% set pageHeading = "Whooping cough vaccine" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSecondary: true,
        description: pageDescription
      })}}

      <div>
        <p>
          Whooping cough (pertussis) vaccines are offered to children, babies and anyone who is pregnant. </p>

      <p>If you think you are eligible to receive a whooping cough vaccine, contact your GP surgery or midwife.
         </p>
      </div>

      <!-- PANEL LINK CARD -->
     <div>

{{ panelLinkCard({
        items: [
          {
            title: "About the whooping cough vaccine",
            URL: "https://www.nhs.uk/conditions/whooping-cough/",
            newWindow: true
          }
        ]
      })}}

    </div> 


    </div>
  </div>

  {% endblock %}
