{% extends 'layout-app.html' %}

{% set hub = "Your health" %}

{% set backLink = true %}

{% set pageHeading = "Your approved prescriptions" %}
{% set pageDescription = "If you need your medicines urgently, contact your pharmacy" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSecondary: true,
        description: pageDescription
      })}}

      <ul class="nhsapp-cards">
        <li class="nhsapp-card">
          <div class="nhsapp-card__container">   
            <div class="nhsapp-card__content">
              <div class="nhsapp-card__above">
                <strong class="nhsapp-tag nhsapp-tag--green nhsuk-u-static-margin-bottom-3">Ready for delivery</strong>
              </div>
              <div class="nhsapp-card__below">
                <p class="nhsuk-heading-s nhsuk-u-margin-bottom-3">Repeat prescription</p>
                <ul class="nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-0">
                  <li>Bisoprolol fumarate 5mg tablets</li>
                  <li>Codeine phosphate 30mg tablets</li>
                </ul>
                <p class="nhsuk-u-secondary-text-color nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-3">Prescribed on 3 May 2024</p>
                <a href="#" class="nhsuk-link">
                  View prescription <span class="nhsuk-u-visually-hidden">3</span>
                </a>
              </div>
            </div>
          </div>
        </li>
        <li class="nhsapp-card">
          <div class="nhsapp-card__container">   
            <div class="nhsapp-card__content">
              <div class="nhsapp-card__above">
                <strong class="nhsapp-tag nhsapp-tag--grey nhsuk-u-static-margin-bottom-3">Pharmacy does not provide tracking</strong>
              </div>
              <div class="nhsapp-card__below">
                <p class="nhsuk-heading-s nhsuk-u-margin-bottom-3">Repeat prescription</p>
                <ul class="nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-0">
                  <li>Ramipril 5mg capsules</li>
                  <li>Warfarin 5mg tablets</li>
                </ul>
                <p class="nhsuk-u-secondary-text-color nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-3">Prescribed on 7 May 2024</p>
                <a href="#" class="nhsuk-link">
                  View prescription <span class="nhsuk-u-visually-hidden">3</span>
                </a>
              </div>
            </div>
          </div>
        </li>
        <li class="nhsapp-card">
          <div class="nhsapp-card__container">   
            <div class="nhsapp-card__content">
              <div class="nhsapp-card__below">
                <p class="nhsuk-heading-s nhsuk-u-margin-bottom-3">Repeat prescription</p>
                <p class="nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-0">Atorvastatin 500mg capsules</p>
                <p class="nhsuk-u-secondary-text-color nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-3">Prescribed on 7 May 2024</p>
                <a href="#" class="nhsuk-link">
                  View prescription <span class="nhsuk-u-visually-hidden">3</span>
                </a>
              </div>
            </div>
          </div>
        </li>
      </ul>

      <hr>

      <div class="nhsapp-card">
        <div class="nhsapp-card__container">
          <div class="nhsapp-card__content">
            <a class="nhsapp-card__link nhsuk-link--no-visited-state" href="/pages/your-health/past-prescriptions">
              Past prescriptions
            </a>
            <div class="nhsapp-card__below">
              <p class="nhsuk-u-margin-top-3">Your prescription history will show for 36 days after collection or home delivery.</p>
            </div>
          </div>
          {{ nhsappIcon('chevronRight') }}
        </div>
      </div>

    </div>
  </div>

  {% endblock %}
