{% extends 'layout-app.html' %}

{% set hub = "Your health" %}

{% set backLink = true %}
{% set backLinkText = "Back" %}

{% set pageHeading = "Your prescription" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSecondary: true
      })}}

      {{ details({
        "classes": "nhsuk-expander",
        "text": "Your prescription barcode",
        "HTML": "
        <img class='' src='/images/precsription-barcode.png' alt=''>
        <p class='nhsuk-u-font-weight-bold'>ID: 1234 5678 9101</p>
        <p>Only show this barcode if your pharmacist asks.</p>
        "
      }) }}

      {{ summaryList({
        rows: [
          {
            key: {
              text: "Pharmacy"
            },
            value: {
              html: "Boots Pharmacy"
            }
          },
          {
            key: {
              text: "Date prescribed"
            },
            value: {
              text: "3 May 2024"
            }
          },
          {
            key: {
              text: "Prescription type"
            },
            value: {
              html: "Repeat"
            }
          }
        ]
      }) }}


    </div>
  </div>

  {% endblock %}
