{% extends 'layout-app.html' %}

{% set hub = "Your health" %}

{% set backLink = true %}

{% set pageHeading = "Check if your prescriptions are ready" %}
{% set pageDescription = "Find out if your prescription is ready to collect. If you need your medicine urgently, contact your pharmacy." %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSecondary: true,
        description: pageDescription
      })}}

      <ul class="nhsapp-cards">

        <li class="nhsapp-card">
          <div class="nhsapp-card__container">   
            <div class="nhsapp-card__content">
              <div class="nhsapp-card__above">
                <strong class="nhsapp-tag nhsapp-tag--green nhsuk-u-static-margin-bottom-3">Ready to collect</strong>
              </div>
              <a class="nhsapp-card__link nhsuk-link--no-visited-state" href="/pages/your-health/your-prescription">
                One off prescription 
              </a>
              <div class="nhsapp-card__below">
                <ul class="nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-0">
                  <li>Cephalexin 500mg capsules</li>
                  <li>Codeine phosphate 30mg tablets</li>
                </ul>
                <p class="nhsuk-u-secondary-text-color nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-3">Prescribed on 18 Jul 2024</p>
                <span class="nhsapp-badge-small nhsapp-badge-small--red nhsuk-body-s nhsuk-u-secondary-text-color">
                  <span class="nhsapp-badge-small__indicator" aria-hidden="true"></span>
                  <span class="nhsuk-u-visually-hidden">Notification</span>
                  <span>1 item cancelled</span>
                </span>
              </div>
            </div>
            {{ nhsappIcon('chevronRight') }}
          </div>
        </li>

        {% if data['prescription-requested'] == "true" or "select-medicines-1" in data['select-medicines'] or "select-medicines-2" in data['select-medicines'] or "select-medicines-3" in data['select-medicines'] or "select-medicines-4" in data['select-medicines'] or "select-medicines-5" in data['select-medicines']%}

        <li class="nhsapp-card">
          <div class="nhsapp-card__container">   
            <div class="nhsapp-card__content">
              <div class="nhsapp-card__above">
                {% if "select-medicines-5" in data['select-medicines'] or data['select-medicines'] == "" %}
                  <strong class="nhsapp-tag nhsapp-tag--blue nhsuk-u-static-margin-bottom-3">Part ready to collect</strong>
                {% else %}
                  <strong class="nhsapp-tag nhsapp-tag--green nhsuk-u-static-margin-bottom-3">Ready to collect</strong>
                {% endif %}
              </div>
              <a class="nhsapp-card__link nhsuk-link--no-visited-state" href="/pages/your-health/your-prescription-2" aria-label="Repeat prescription 1 of 2">
                Repeat prescription
              </a>
              <div class="nhsapp-card__below">
                <ul class="nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-0">

                  {% if "select-medicines-1" in data['select-medicines'] or data['select-medicines'] == "" %}
                    <li>{{ data['medicine1'] }}</li>
                  {% endif %}

                  {% if "select-medicines-2" in data['select-medicines'] or data['select-medicines'] == "" %}
                    <li>{{ data['medicine2'] }}</li>
                  {% endif %}

                  {% if "select-medicines-3" in data['select-medicines'] or data['select-medicines'] == "" %}
                    <li>{{ data['medicine3'] }}</li>
                  {% endif %}

                  {% if "select-medicines-4" in data['select-medicines'] or data['select-medicines'] == "" %}
                    <li>{{ data['medicine4'] }}</li>
                  {% endif %}

                </ul>
                <p class="nhsuk-u-secondary-text-color nhsuk-u-margin-top-3">Prescribed on 19 Jul 2024</p>
              </div>
            </div>
            {{ nhsappIcon('chevronRight') }}
          </div>
        </li>

        {% if "select-medicines-5" in data['select-medicines'] or data['select-medicines'] == "" %}
        <li class="nhsapp-card">
          <div class="nhsapp-card__container">   
            <div class="nhsapp-card__content">
              <div class="nhsapp-card__above">
                <strong class="nhsapp-tag nhsapp-tag--purple nhsuk-u-static-margin-bottom-3">Pharmacy preparing prescription</strong>
              </div>
              <a class="nhsapp-card__link nhsuk-link--no-visited-state" href="/pages/your-health/your-prescription-3" aria-label="Repeat prescription 2 of 2">
                Repeat prescription
              </a>
              <div class="nhsapp-card__below">
                <ul class="nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-0">
                  <li>{{ data['medicine5'] }}</li>
                </ul>
                <p class="nhsuk-u-secondary-text-color nhsuk-u-margin-top-3">Prescribed on 19 Jul 2024</p>
              </div>
            </div>
            {{ nhsappIcon('chevronRight') }}
          </div>
        </li>
        {% endif %}

        {% else %}
      {% endif %}

      </ul>

      <hr>

      <div class="nhsapp-card">
        <div class="nhsapp-card__container">
          <div class="nhsapp-card__content">
            <a class="nhsapp-card__link nhsuk-link--no-visited-state" href="/pages/your-health/past-prescriptions">
              Past prescriptions
            </a>
          </div>
          {{ nhsappIcon('chevronRight') }}
        </div>
      </div>

    </div>
  </div>

  {% endblock %}
