{% extends 'layout-app.html' %}

{% set hub = "Your health" %}

{% set backLink = true %}
{% set backLinkText = "Back" %}

{% set pageHeading = "Your prescription" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSecondary: true
      })}}

      {{ details({
        "classes": "nhsuk-expander",
        "text": "Your prescription barcode",
        "HTML": "
        <div style='text-align:center;'>
          <img style='max-width:100%;' class='nhsuk-u-margin-bottom-4' src='/images/precsription-barcode.png' alt=''>
          <p class='nhsuk-u-font-weight-bold'>ID: 1234 5678 9101</p>
          <p class='nhsuk-u-margin-bottom-0'>Only show this barcode if your pharmacist asks.</p>
        </div>
        "
      }) }}

      <h2>Details</h2>

      {{ summaryList({
        rows: [
          {
            key: {
              text: "Pharmacy"
            },
            value: {
              html: "<a href='#'>Boots Pharmacy</a>"
            }
          },
          {
            key: {
              text: "Date prescribed"
            },
            value: {
              text: "3 May 2024"
            }
          },
          {
            key: {
              text: "Prescription type"
            },
            value: {
              html: "Repeat"
            }
          },
          {
            key: {
              text: "Prescribed by"
            },
            value: {
              html: "Dr. Smith"
            }
          },
          {
            key: {
              text: "Organisation"
            },
            value: {
              html: "<a href='#'>York Road Practice</a>"
            }
          }
        ]
      }) }}

      <h2>Medicines</h2>

      <ul class="nhsuk-list nhsuk-list--border">
        <li>
          <strong class="app-tag app-tag--green nhsuk-u-margin-bottom-3">Ready for delivery</strong>
          <p class="nhsuk-heading-s nhsuk-u-margin-bottom-0">Atorvastatin 500mg capsules</p>
          <p class="nhsuk-u-margin-bottom-0">Quantity: 10 capsules</p>
        </li>
        <li>
          <strong class="app-tag app-tag--green nhsuk-u-margin-bottom-3">Approved by GP</strong>
          <p class="nhsuk-heading-s nhsuk-u-margin-bottom-0">Codeine phosphate 30mg tablets</p>
          <p class="nhsuk-u-margin-bottom-0">Quantity: 10 capsules</p>
        </li>
      </ul>

      <p>For instructions on how to take your medicine, check the pharmacy label on your medication.</p>


    </div>
  </div>

  {% endblock %}
