{% extends 'components/layout.html' %}

{% set pageHeading = "Panel Link Card" %}

{% block innerContent %}

  <h2 class="nhsuk-heading-m">Variants</h2>

  <h3 class="nhsuk-heading-xs">Default</h3>

  {{ panelLinkCard({
    items: [
      {
        title: "Panel link title",
        URL: "#"
      }
    ]
  })}}

  <h3 class="nhsuk-heading-xs">With supporting text</h3>

  {{ panelLinkCard({
    items: [
      {
        title: "Panel link title",
        URL: "#",
        description: "Supporting list"
      }
    ]
  })}}

  <h3 class="nhsuk-heading-xs">With supporting list</h3>

  {{ panelLinkCard({
    items: [
      {
        title: "Panel link title",
        URL: "#",
        description: "Supporting list:",
        list: [
          {
            text: "supporting list item"
          },
          {
            text: "supporting list item"
          },
          {
            text: "supporting list item"
          }
        ]
      }
    ]
  })}}

  <h3 class="nhsuk-heading-xs">With icon</h3>

  {{ panelLinkCard({
    items: [
      {
        title: "Panel link title",
        URL: "#",
        icon: true
      }
    ]
  })}}

  <h3 class="nhsuk-heading-xs">With icon and supporting text</h3>

  {{ panelLinkCard({
    items: [
      {
        title: "Panel link title",
        URL: "#",
        icon: true,
        description: "Supporting text"
      }
    ]
  })}}

  <h3 class="nhsuk-heading-xs">With icon and badge</h3>

  {{ panelLinkCard({
    items: [
      {
        title: "Panel link title",
        URL: "#",
        icon: true,
        messages: data['messages'],
        description: "Supporting text"
      }
    ]
  })}}

  <h3 class="nhsuk-heading-xs">With badge</h3>

  {{ panelLinkCard({
    items: [
      {
        title: "Panel link title",
        URL: "#",
        icon: false
      }
    ]
  })}}

  <h3 class="nhsuk-heading-xs">Stacked</h3>

  {{ panelLinkCard({
    items: [
      {
        title: "Panel link title",
        URL: "#"
      },
      {
        title: "Panel link title",
        URL: "#"
      },
      {
        title: "Panel link title",
        URL: "#"
      },
      {
        title: "Panel link title",
        URL: "#"
      }
    ]
  })}}

  <h3 class="nhsuk-heading-xs">Spaced</h3>

  {{ panelLinkCard({
    spaced: true,
    items: [
      {
        title: "Panel link title",
        URL: "#"
      },
      {
        title: "Panel link title",
        URL: "#"
      },
      {
        title: "Panel link title",
        URL: "#"
      },
      {
        title: "Panel link title",
        URL: "#"
      }
    ]
  })}}

  <h2 class="nhsuk-heading-m">Examples in context</h2>

  <ul clas="nhsuk-list">
    <li>
      <a href="/pages/home-p9">Homepage - P9</a>
    </li>
    <li>
      <a href="/pages/services-p9">Services - P9</a>
    </li>
    <li>
      <a href="/pages/messages-p9">Messages - P9</a>
    </li>
  </ul>

{% endblock %}
