{% extends 'layout-app.html' %}

{% set hub = "Services" %}

{% set backLink = true %}
{% set backLinkText = "Back" %}

{% set pageHeading = "Next available appointment" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSecondary: true
      })}}

      <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-6">Monday 20 November 2023</h2>

      <form id="form" method="post" action="/pages/services/gp-appointment-confirm" novalidate="novalidate">

        {{ radios({
          idPrefix: "gp-appointment-time-1",
          name: "gp-appointment-time-1",
          classes: "nhsuk-u-margin-bottom-4",
          fieldset: {
            legend: {
              text: "Dr. K Cooper",
              classes: "nhsuk-fieldset__legend--m"
            }
          },
          "items": [
            {
              value: "01",
              text: "5:30pm",
              checked: checked("gp-appointment-time-1", "01")
            }
          ]
        }) }}

        {{ radios({
          idPrefix: "gp-appointment-time-1",
          name: "gp-appointment-time-1",
          classes: "nhsuk-u-margin-bottom-4",
          fieldset: {
            legend: {
              text: "Dr. R Baines",
              classes: "nhsuk-fieldset__legend--m"
            }
          },
          "items": [
            {
              value: "02",
              text: "9am",
              checked: checked("gp-appointment-time-1", "02")
            },
            {
              value: "03",
              text: "2pm",
              checked: checked("gp-appointment-time-1", "03")
            }
          ]
        }) }}

        <p class="nhsuk-u-margin-bottom-6">
          <a href="/pages/services/gp-appointment-select">View more appointment times</a>
        </p>

        {% if data['web'] === "yes" %}

          {{ button({
            text: "Continue",
            classes: "app-button"
          }) }}

        {% endif %}
        
      </form>

    </div>
  </div>

  {% endblock %}

  {% block afterContent %}

    {% if data['web'] === "no" %}

      <div class="app-sticky-footer">
        <div class="nhsuk-width-container">
          <div class="nhsuk-grid-row">

            <button class="nhsuk-button app-button nhsuk-u-margin-bottom-0" data-module="nhsuk-button" form="form" type="submit">
              Continue
            </button>

          </div>
        </div>
      </div>

    {% endif %}

  {% endblock %}
