{% extends 'layout-app.html' %}

{% set hub = "Services" %}

{% set backLink = true %}
{% set backLinkText = "Back" %}
{% set backLinkURL = "/pages/services-p9" %}

{% set pageHeading = "Select an appointment type" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <form id="form" method="post" action="/pages/services/gp-appointment-type-answer" novalidate="novalidate">

        {{ radios({
          idPrefix: "gp-appointment-type",
          name: "gp-appointment-type",
          fieldset: {
            legend: {
              text: pageHeading,
              classes: "nhsuk-fieldset__legend--xl",
              isPageHeading: true
            }
          },
          "items": [
            {
              value: "Routine GP",
              text: "Routine GP",
              checked: checked("gp-appointment-type", "Routine GP")
            },
            {
              value: "Asthma clinic",
              text: "Asthma clinic",
              checked: checked("gp-appointment-type", "Asthma clinic")
            },
            {
              value: "Blood test",
              text: "Blood test",
              checked: checked("gp-appointment-type", "Blood test")
            },
            {
              value: "B12 Injection",
              text: "B12 Injection",
              checked: checked("gp-appointment-type", "B12 Injection")
            },
            {
              value: "Childhood vaccinations",
              text: "Childhood vaccinations",
              checked: checked("gp-appointment-type", "Childhood vaccinations")
            },
            {
              value: "Contraception appointment",
              text: "Contraception appointment",
              checked: checked("gp-appointment-type", "Contraception appointment")
            },
            {
              value: "Carer health check",
              text: "Carer health check",
              checked: checked("gp-appointment-type", "Carer health check")
            },
            {
              value: "Diabetic review",
              text: "Diabetic review",
              checked: checked("gp-appointment-type", "Diabetic review")
            },
            {
              value: "Dressing/wound care",
              text: "Dressing/wound care",
              checked: checked("gp-appointment-type", "Dressing/wound care")
            },
            {
              divider: "or"
            },
            {
              value: "none",
              text: "Contact GP about a health problem",
              checked: checked("gp-appointment-type", "none"),
              hint: {
                text: "This service is provided by Engage"
              }
            }
          ]
        }) }}

        {{ button({
          text: "Continue",
          classes: "app-button app-button--full-width"
        }) }}
        
      </form>

    </div>
  </div>

  {% endblock %}


