{% extends 'layout-app.html' %}

{% set hub = "Services" %}

{% set backLink = true %}
{% set backLinkURL = "/pages/services/gp-appointment-clinician" %}

{% set pageHeading = "Next available appointment" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSecondary: true
      })}}

      <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-6">Monday 20 November 2023</h2>

      <form id="form" method="post" action="/pages/services/gp-appointment-confirm" novalidate="novalidate">

        {% if "Dr K Cooper" in data['gp-appointment-clinician'] or data['gp-appointment-clinician'] == "" or "none" in data['gp-appointment-clinician'] %}
          <div class="nhsuk-form-group">
            <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
              Dr. K Cooper
            </legend>
            <div class="nhsuk-radios nhsuk-u-margin-bottom-4"> 
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="gp-appointment-time-1" name="gp-appointment-time" type="radio" value="1">
                <label class="nhsuk-label nhsuk-radios__label" for="gp-appointment-time-1">
                  5:30pm
                </label>
              </div>
            </div>
            </fieldset>
          </div>
        {% endif %}

        {% if "Dr R Baines" in data['gp-appointment-clinician']or data['gp-appointment-clinician'] == "" or "none" in data['gp-appointment-clinician'] %}
          <div class="nhsuk-form-group">
            <fieldset class="nhsuk-fieldset">
              <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
                Dr. R Baines
              </legend>
              <div class="nhsuk-radios nhsuk-u-margin-bottom-4">
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="gp-appointment-time-2" name="gp-appointment-time" type="radio" value="2">
                  <label class="nhsuk-label nhsuk-radios__label" for="gp-appointment-time-2">
                    9am
                  </label>
                </div>
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="gp-appointment-time-3" name="gp-appointment-time" type="radio" value="3">
                  <label class="nhsuk-label nhsuk-radios__label" for="gp-appointment-time-3">
                    2pm
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
        {% endif %}

        <p class="nhsuk-u-margin-bottom-6">
          <a href="/pages/services/gp-appointment-select" class="nhsuk-link--no-visited-state">View more appointment times</a>
        </p>

        {% if data['web'] === "yes" %}

          {{ button({
            text: "Continue",
            classes: "nhsapp-button"
          }) }}

        {% endif %}
        
      </form>

    </div>
  </div>

  {% endblock %}

  {% block afterContent %}

    {% if data['web'] === "no" %}

      <div class="app-sticky-footer">
        <div class="nhsuk-width-container">
          <div class="nhsuk-grid-row">

            <button class="nhsuk-button app-button nhsuk-u-margin-bottom-0" data-module="nhsuk-button" form="form" type="submit">
              Continue
            </button>

          </div>
        </div>
      </div>

    {% endif %}

  {% endblock %}
