{% extends 'layout-app.html' %}

{% set hub = "Services" %}

{% set backLink = true %}
{% set backLinkURL = "/pages/services/gp-appointment-reason" %}

{% set pageHeading = "Select a phone number for this appointment" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <form id="form" method="post" action="/pages/services/gp-appointment-confirm" novalidate="novalidate">

        {% set phoneHtml %}
          {{ input({
            id: "appointment-phone-number-new",
            name: "appointment-phone-number-new",
            classes: "nhsuk-u-width-two-thirds",
            value: data['appointment-phone-number-new'],
            type: "tel",
            autocomplete: "tel",
            label: {
              text: "Phone number"
            }
          }) }}
        {% endset -%}

        {{ radios({
          idPrefix: "appointment-phone-number",
          name: "appointment-phone-number",
          fieldset: {
            legend: {
              text: pageHeading,
              classes: "nhsuk-fieldset__legend--l",
              isPageHeading: true
            }
          },
          "items": [
            {
              value: "Current",
              text: "Phone ending with 3456",
              checked: checked("appointment-phone-number", "Current")
            },
            {
              value: "New",
              text: "Use a different phone number",
              checked: checked("appointment-phone-number", "New"),
              conditional: {
                html: phoneHtml
              }
            }
          ]
        }) }}

        {{ button({
          text: "Continue",
          classes: "nhsapp-button"
        }) }}
        
      </form>

    </div>
  </div>

  {% endblock %}


