{% extends 'layout-app.html' %}

{% set hub = "Services" %}

{% set backLink = true %}
{% set backLinkText = "Back" %}
{% set backLinkURL = "/pages/services/gp-appointment-select-date" %}

{% set pageHeading = "Select your appointment" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSecondary: true
      })}}

      <h2 class="nhsuk-heading-m">
        <span class="nhsuk-u-visually-hidden">Appointments on </span>
        {% if data['gp-appointment-date'] in ["1"] %}
          Monday 11 March 2024
        {% elif data['gp-appointment-date'] in ["2"] %}
          Tuesday 12 March 2024
        {% elif data['gp-appointment-date'] in ["3"] %}
          Thursday 14 March 2024
        {% elif data['gp-appointment-date'] in ["4"] %}
          Friday 15 March 2024
        {% elif data['gp-appointment-date'] in ["5"] %}
          Monday 18 March 2024
        {% elif data['gp-appointment-date'] in ["6"] %}
          Tuesday 19 March 2024
        {% elif data['gp-appointment-date'] in ["7"] %}
          Tuesday 26 March 2024
        {% elif data['gp-appointment-date'] in ["8"] %}
          Thursday 28 March 2024
        {% else %}
          Friday 29 March 2024
        {% endif %}
      </h2>

      <h3 class="nhsuk-heading-s">Morning <span class="nhsuk-u-visually-hidden">appointment</span></h3>

      <ul class="app-panel-link-card-spaced app-panel-link-card-stacked">
        <li class="app-panel-link-card">
          <div class="app-panel-link-card__content">
            <form id="appointmentForm1" method="post" action="/pages/services/gp-appointment-reason">
              <input type="hidden" name="appointment-time" value="8:00am">
              <input type="hidden" name="appointment-clinician" value="Dr Max Smith">
              <input type="hidden" name="appointment-location" value="Southbank Practice">
              <a href="javascript:{}" onclick="document.getElementById('appointmentForm1').submit();" class="app-panel-link-card__link nhsuk-heading-s">
                8:00am <span class="nhsuk-u-visually-hidden">with Dr Max Smith at Southbank Practice</span>
                <svg class="app-panel-link-card__chevron" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                  <path d="M8.82264 19.11C8.56264 19.11 8.29264 19.01 8.10264 18.8C7.72264 18.4 7.73264 17.77 8.13264 17.39L13.7426 12.01L8.14264 6.75999C7.74264 6.37999 7.72264 5.74999 8.09264 5.34999C8.47264 4.94999 9.10264 4.92999 9.50264 5.29999L15.8726 11.27C16.0726 11.46 16.1826 11.72 16.1926 11.99C16.2026 12.26 16.0826 12.53 15.8826 12.72L9.51264 18.83C9.32264 19.02 9.07264 19.11 8.82264 19.11Z"></path>
                </svg>
              </a>
            </form>
            <p aria-hidden="true" class="app-panel-link-card__description nhsuk-u-margin-top-0">Dr Max Smith</p>
            <p aria-hidden="true" class="app-panel-link-card__description nhsuk-u-secondary-text-color nhsuk-u-margin-top-0">Southbank Practice</p>
          </div>
        </li>
        <li class="app-panel-link-card">
          <div class="app-panel-link-card__content">
            <form id="appointmentForm2" method="post" action="/pages/services/gp-appointment-reason">
              <input type="hidden" name="appointment-time" value="9:30am">
              <input type="hidden" name="appointment-clinician" value="Dr Max Smith">
              <input type="hidden" name="appointment-location" value="Southbank Practice">
              <a href="javascript:{}" onclick="document.getElementById('appointmentForm2').submit();" class="app-panel-link-card__link nhsuk-heading-s">
                9:30am <span class="nhsuk-u-visually-hidden">with Dr Max Smith at Southbank Practice</span>
                <svg class="app-panel-link-card__chevron" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                  <path d="M8.82264 19.11C8.56264 19.11 8.29264 19.01 8.10264 18.8C7.72264 18.4 7.73264 17.77 8.13264 17.39L13.7426 12.01L8.14264 6.75999C7.74264 6.37999 7.72264 5.74999 8.09264 5.34999C8.47264 4.94999 9.10264 4.92999 9.50264 5.29999L15.8726 11.27C16.0726 11.46 16.1826 11.72 16.1926 11.99C16.2026 12.26 16.0826 12.53 15.8826 12.72L9.51264 18.83C9.32264 19.02 9.07264 19.11 8.82264 19.11Z"></path>
                </svg>
              </a>
            </form>
            <p aria-hidden="true" class="app-panel-link-card__description nhsuk-u-margin-top-0">Dr Max Smith</p>
            <p aria-hidden="true" class="app-panel-link-card__description nhsuk-u-secondary-text-color nhsuk-u-margin-top-0">Southbank Practice</p>
          </div>
        </li>
        <li class="app-panel-link-card">
          <div class="app-panel-link-card__content">
            <form id="appointmentForm3" method="post" action="/pages/services/gp-appointment-reason">
              <input type="hidden" name="appointment-time" value="9:30am">
              <input type="hidden" name="appointment-clinician" value="Dr Emily Taylor">
              <input type="hidden" name="appointment-location" value="York Road Practice">
              <a href="javascript:{}" onclick="document.getElementById('appointmentForm3').submit();" class="app-panel-link-card__link nhsuk-heading-s">
                9:30am <span class="nhsuk-u-visually-hidden">with Dr Emily Taylor at York Road Practice</span>
                <svg class="app-panel-link-card__chevron" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                  <path d="M8.82264 19.11C8.56264 19.11 8.29264 19.01 8.10264 18.8C7.72264 18.4 7.73264 17.77 8.13264 17.39L13.7426 12.01L8.14264 6.75999C7.74264 6.37999 7.72264 5.74999 8.09264 5.34999C8.47264 4.94999 9.10264 4.92999 9.50264 5.29999L15.8726 11.27C16.0726 11.46 16.1826 11.72 16.1926 11.99C16.2026 12.26 16.0826 12.53 15.8826 12.72L9.51264 18.83C9.32264 19.02 9.07264 19.11 8.82264 19.11Z"></path>
                </svg>
              </a>
            </form>
            <p aria-hidden="true" class="app-panel-link-card__description nhsuk-u-margin-top-0">Dr Emily Taylor</p>
            <p aria-hidden="true" class="app-panel-link-card__description nhsuk-u-secondary-text-color nhsuk-u-margin-top-0">York Road Practice</p>
          </div>
        </li>
        <li class="app-panel-link-card">
          <div class="app-panel-link-card__content">
            <form id="appointmentForm4" method="post" action="/pages/services/gp-appointment-reason">
              <input type="hidden" name="appointment-time" value="10:30am">
              <input type="hidden" name="appointment-clinician" value="Dr Max Smith">
              <input type="hidden" name="appointment-location" value="Southbank Practice">
              <a href="javascript:{}" onclick="document.getElementById('appointmentForm4').submit();" class="app-panel-link-card__link nhsuk-heading-s">
                10:30am <span class="nhsuk-u-visually-hidden">with Dr Max Smith at Southbank Practice</span>
                <svg class="app-panel-link-card__chevron" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                  <path d="M8.82264 19.11C8.56264 19.11 8.29264 19.01 8.10264 18.8C7.72264 18.4 7.73264 17.77 8.13264 17.39L13.7426 12.01L8.14264 6.75999C7.74264 6.37999 7.72264 5.74999 8.09264 5.34999C8.47264 4.94999 9.10264 4.92999 9.50264 5.29999L15.8726 11.27C16.0726 11.46 16.1826 11.72 16.1926 11.99C16.2026 12.26 16.0826 12.53 15.8826 12.72L9.51264 18.83C9.32264 19.02 9.07264 19.11 8.82264 19.11Z"></path>
                </svg>
              </a>
            </form>
            <p aria-hidden="true" class="app-panel-link-card__description nhsuk-u-margin-top-0">Dr Max Smith</p>
            <p aria-hidden="true" class="app-panel-link-card__description nhsuk-u-secondary-text-color nhsuk-u-margin-top-0">Southbank Practice</p>
          </div>
        </li>
        <li class="app-panel-link-card">
          <div class="app-panel-link-card__content">
            <form id="appointmentForm5" method="post" action="/pages/services/gp-appointment-reason">
              <input type="hidden" name="appointment-time" value="11:30am">
              <input type="hidden" name="appointment-clinician" value="Dr Emily Taylor">
              <input type="hidden" name="appointment-location" value="York Road Practice">
              <a href="javascript:{}" onclick="document.getElementById('appointmentForm5').submit();" class="app-panel-link-card__link nhsuk-heading-s">
                11:30am <span class="nhsuk-u-visually-hidden">with Dr Emily Taylor at York Road Practice</span>
                <svg class="app-panel-link-card__chevron" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                  <path d="M8.82264 19.11C8.56264 19.11 8.29264 19.01 8.10264 18.8C7.72264 18.4 7.73264 17.77 8.13264 17.39L13.7426 12.01L8.14264 6.75999C7.74264 6.37999 7.72264 5.74999 8.09264 5.34999C8.47264 4.94999 9.10264 4.92999 9.50264 5.29999L15.8726 11.27C16.0726 11.46 16.1826 11.72 16.1926 11.99C16.2026 12.26 16.0826 12.53 15.8826 12.72L9.51264 18.83C9.32264 19.02 9.07264 19.11 8.82264 19.11Z"></path>
                </svg>
              </a>
            </form>
            <p aria-hidden="true" class="app-panel-link-card__description nhsuk-u-margin-top-0">Dr Emily Taylor </p>
            <p aria-hidden="true" class="app-panel-link-card__description nhsuk-u-secondary-text-color nhsuk-u-margin-top-0">York Road Practice</p>
          </div>
        </li>
      </ul>

      <h3 class="nhsuk-heading-s">Afternoon <span class="nhsuk-u-visually-hidden">appointment</span></h3>

      <ul class="app-panel-link-card-spaced app-panel-link-card-stacked">
        <li class="app-panel-link-card">
          <div class="app-panel-link-card__content">
            <form id="appointmentForm6" method="post" action="/pages/services/gp-appointment-reason">
              <input type="hidden" name="appointment-time" value="12:00pm">
              <input type="hidden" name="appointment-clinician" value="Dr Max Smith">
              <input type="hidden" name="appointment-location" value="Southbank Practice">
              <a href="javascript:{}" onclick="document.getElementById('appointmentForm6').submit();" class="app-panel-link-card__link nhsuk-heading-s">
                12:00pm <span class="nhsuk-u-visually-hidden">with Dr Max Smith at Southbank Practice</span>
                <svg class="app-panel-link-card__chevron" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                  <path d="M8.82264 19.11C8.56264 19.11 8.29264 19.01 8.10264 18.8C7.72264 18.4 7.73264 17.77 8.13264 17.39L13.7426 12.01L8.14264 6.75999C7.74264 6.37999 7.72264 5.74999 8.09264 5.34999C8.47264 4.94999 9.10264 4.92999 9.50264 5.29999L15.8726 11.27C16.0726 11.46 16.1826 11.72 16.1926 11.99C16.2026 12.26 16.0826 12.53 15.8826 12.72L9.51264 18.83C9.32264 19.02 9.07264 19.11 8.82264 19.11Z"></path>
                </svg>
              </a>
          </form>
            <p aria-hidden="true" class="app-panel-link-card__description nhsuk-u-margin-top-0">Dr Max Smith</p>
            <p aria-hidden="true" class="app-panel-link-card__description nhsuk-u-secondary-text-color nhsuk-u-margin-top-0">Southbank Practice</p>
          </div>
        </li>
        <li class="app-panel-link-card">
          <div class="app-panel-link-card__content">
            <form id="appointmentForm7" method="post" action="/pages/services/gp-appointment-reason">
              <input type="hidden" name="appointment-time" value="1:00pm">
              <input type="hidden" name="appointment-clinician" value="Dr Emily Taylor">
              <input type="hidden" name="appointment-location" value="York Road Practice">
              <a href="javascript:{}" onclick="document.getElementById('appointmentForm7').submit();" class="app-panel-link-card__link nhsuk-heading-s">
                1:00pm <span class="nhsuk-u-visually-hidden">with Dr Emily Taylor at York Road Practice</span>
                <svg class="app-panel-link-card__chevron" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                  <path d="M8.82264 19.11C8.56264 19.11 8.29264 19.01 8.10264 18.8C7.72264 18.4 7.73264 17.77 8.13264 17.39L13.7426 12.01L8.14264 6.75999C7.74264 6.37999 7.72264 5.74999 8.09264 5.34999C8.47264 4.94999 9.10264 4.92999 9.50264 5.29999L15.8726 11.27C16.0726 11.46 16.1826 11.72 16.1926 11.99C16.2026 12.26 16.0826 12.53 15.8826 12.72L9.51264 18.83C9.32264 19.02 9.07264 19.11 8.82264 19.11Z"></path>
                </svg>
              </a>
          </form>
            <p aria-hidden="true" class="app-panel-link-card__description nhsuk-u-margin-top-0">Dr Emily Taylor </p>
            <p aria-hidden="true" class="app-panel-link-card__description nhsuk-u-secondary-text-color nhsuk-u-margin-top-0">York Road Practice</p>
          </div>
        </li>
        <li class="app-panel-link-card">
          <div class="app-panel-link-card__content">
            <form id="appointmentForm8" method="post" action="/pages/services/gp-appointment-reason">
              <input type="hidden" name="appointment-time" value="2:00pm">
              <input type="hidden" name="appointment-clinician" value="Dr Max Smith">
              <input type="hidden" name="appointment-location" value="Southbank Practice">
              <a href="javascript:{}" onclick="document.getElementById('appointmentForm8').submit();" class="app-panel-link-card__link nhsuk-heading-s">
                2:00pm <span class="nhsuk-u-visually-hidden">with Dr Max Smith at Southbank Practice</span>
                <svg class="app-panel-link-card__chevron" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                  <path d="M8.82264 19.11C8.56264 19.11 8.29264 19.01 8.10264 18.8C7.72264 18.4 7.73264 17.77 8.13264 17.39L13.7426 12.01L8.14264 6.75999C7.74264 6.37999 7.72264 5.74999 8.09264 5.34999C8.47264 4.94999 9.10264 4.92999 9.50264 5.29999L15.8726 11.27C16.0726 11.46 16.1826 11.72 16.1926 11.99C16.2026 12.26 16.0826 12.53 15.8826 12.72L9.51264 18.83C9.32264 19.02 9.07264 19.11 8.82264 19.11Z"></path>
                </svg>
              </a>
            </form>
            <p aria-hidden="true" class="app-panel-link-card__description nhsuk-u-margin-top-0">Dr Max Smith</p>
            <p aria-hidden="true" class="app-panel-link-card__description nhsuk-u-secondary-text-color nhsuk-u-margin-top-0">Southbank Practice</p>
          </div>
        </li>
        <li class="app-panel-link-card">
          <div class="app-panel-link-card__content">
            <form id="appointmentForm9" method="post" action="/pages/services/gp-appointment-reason">
              <input type="hidden" name="appointment-time" value="2:30pm">
              <input type="hidden" name="appointment-clinician" value="Dr Emily Taylor">
              <input type="hidden" name="appointment-location" value="York Road Practice">
              <a href="javascript:{}" onclick="document.getElementById('appointmentForm9').submit();" class="app-panel-link-card__link nhsuk-heading-s">
                2:30pm <span class="nhsuk-u-visually-hidden">with Dr Emily Taylor at York Road Practice</span>
                <svg class="app-panel-link-card__chevron" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                  <path d="M8.82264 19.11C8.56264 19.11 8.29264 19.01 8.10264 18.8C7.72264 18.4 7.73264 17.77 8.13264 17.39L13.7426 12.01L8.14264 6.75999C7.74264 6.37999 7.72264 5.74999 8.09264 5.34999C8.47264 4.94999 9.10264 4.92999 9.50264 5.29999L15.8726 11.27C16.0726 11.46 16.1826 11.72 16.1926 11.99C16.2026 12.26 16.0826 12.53 15.8826 12.72L9.51264 18.83C9.32264 19.02 9.07264 19.11 8.82264 19.11Z"></path>
                </svg>
              </a>
            </form>
            <p aria-hidden="true" class="app-panel-link-card__description nhsuk-u-margin-top-0">Dr Emily Taylor </p>
            <p aria-hidden="true" class="app-panel-link-card__description nhsuk-u-secondary-text-color nhsuk-u-margin-top-0">York Road Practice</p>
          </div>
        </li>
        <li class="app-panel-link-card">
          <div class="app-panel-link-card__content">
            <form id="appointmentForm10" method="post" action="/pages/services/gp-appointment-reason">
              <input type="hidden" name="appointment-time" value="3:00pm">
              <input type="hidden" name="appointment-clinician" value="Dr Max Smith">
              <input type="hidden" name="appointment-location" value="Southbank Practice">
              <a href="javascript:{}" onclick="document.getElementById('appointmentForm10').submit();" class="app-panel-link-card__link nhsuk-heading-s">
                3:00pm <span class="nhsuk-u-visually-hidden">with Dr Max Smith at Southbank Practice</span>
                <svg class="app-panel-link-card__chevron" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                  <path d="M8.82264 19.11C8.56264 19.11 8.29264 19.01 8.10264 18.8C7.72264 18.4 7.73264 17.77 8.13264 17.39L13.7426 12.01L8.14264 6.75999C7.74264 6.37999 7.72264 5.74999 8.09264 5.34999C8.47264 4.94999 9.10264 4.92999 9.50264 5.29999L15.8726 11.27C16.0726 11.46 16.1826 11.72 16.1926 11.99C16.2026 12.26 16.0826 12.53 15.8826 12.72L9.51264 18.83C9.32264 19.02 9.07264 19.11 8.82264 19.11Z"></path>
                </svg>
              </a>
            </form>
            <p aria-hidden="true" class="app-panel-link-card__description nhsuk-u-margin-top-0">Dr Max Smith</p>
            <p aria-hidden="true" class="app-panel-link-card__description nhsuk-u-secondary-text-color nhsuk-u-margin-top-0">Southbank Practice</p>
          </div>
        </li>
        <li class="app-panel-link-card">
          <div class="app-panel-link-card__content">
            <form id="appointmentForm11" method="post" action="/pages/services/gp-appointment-reason">
              <input type="hidden" name="appointment-time" value="4:30pm">
              <input type="hidden" name="appointment-clinician" value="Dr Max Smith">
              <input type="hidden" name="appointment-location" value="Southbank Practice">
              <a href="javascript:{}" onclick="document.getElementById('appointmentForm11').submit();" class="app-panel-link-card__link nhsuk-heading-s">
                4:30pm <span class="nhsuk-u-visually-hidden">with Dr Max Smith at Southbank Practice</span>
                <svg class="app-panel-link-card__chevron" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                  <path d="M8.82264 19.11C8.56264 19.11 8.29264 19.01 8.10264 18.8C7.72264 18.4 7.73264 17.77 8.13264 17.39L13.7426 12.01L8.14264 6.75999C7.74264 6.37999 7.72264 5.74999 8.09264 5.34999C8.47264 4.94999 9.10264 4.92999 9.50264 5.29999L15.8726 11.27C16.0726 11.46 16.1826 11.72 16.1926 11.99C16.2026 12.26 16.0826 12.53 15.8826 12.72L9.51264 18.83C9.32264 19.02 9.07264 19.11 8.82264 19.11Z"></path>
                </svg>
              </a>
            </form>
            <p aria-hidden="true" class="app-panel-link-card__description nhsuk-u-margin-top-0">Dr Max Smith</p>
            <p aria-hidden="true" class="app-panel-link-card__description nhsuk-u-secondary-text-color nhsuk-u-margin-top-0">Southbank Practice</p>
          </div>
        </li>
        <li class="app-panel-link-card">
          <div class="app-panel-link-card__content">
            <form id="appointmentForm12" method="post" action="/pages/services/gp-appointment-reason">
              <input type="hidden" name="appointment-time" value="5:00pm">
              <input type="hidden" name="appointment-clinician" value="Dr Max Smith">
              <input type="hidden" name="appointment-location" value="Southbank Practice">
              <a href="javascript:{}" onclick="document.getElementById('appointmentForm12').submit();" class="app-panel-link-card__link nhsuk-heading-s">
                5:00pm <span class="nhsuk-u-visually-hidden">with Dr Max Smith at Southbank Practice</span>
                <svg class="app-panel-link-card__chevron" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                  <path d="M8.82264 19.11C8.56264 19.11 8.29264 19.01 8.10264 18.8C7.72264 18.4 7.73264 17.77 8.13264 17.39L13.7426 12.01L8.14264 6.75999C7.74264 6.37999 7.72264 5.74999 8.09264 5.34999C8.47264 4.94999 9.10264 4.92999 9.50264 5.29999L15.8726 11.27C16.0726 11.46 16.1826 11.72 16.1926 11.99C16.2026 12.26 16.0826 12.53 15.8826 12.72L9.51264 18.83C9.32264 19.02 9.07264 19.11 8.82264 19.11Z"></path>
                </svg>
              </a>
            </form>
            <p aria-hidden="true" class="app-panel-link-card__description nhsuk-u-margin-top-0">Dr Max Smith</p>
            <p aria-hidden="true" class="app-panel-link-card__description nhsuk-u-secondary-text-color nhsuk-u-margin-top-0">Southbank Practice</p>
          </div>
        </li>
      </ul>

    </div>
  </div>

  {% endblock %}

