{% extends 'layout-app.html' %}

{% set hub = "Messages" %}

{% set backLink = true %}
{% set backLinkURL = "/pages/services/gp-appointment-select-appointment-v4" %}

{% set pageHeading = "Filter by" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSmall: true
      })}}

      <form id="form" method="post" action="/pages/services/gp-appointment-select-appointment-v4" novalidate="novalidate">

        {{ checkboxes({
          idPrefix: "gp-appointment-clinician",
          name: "gp-appointment-clinician",
          fieldset: {
            legend: {
              text: "Healthcare professional",
              classes: "nhsuk-label--s"
            }
          },
          "items": [
            {
              value: "Dr Louise Williams (Female)",
              text: "Dr Louise Williams (Female)",
              checked: checked("gp-appointment-clinician", "Dr Louise Williams (Female)")
            },
            {
              value: "Dr Max Smith (Male)",
              text: "Dr Max Smith (Male)",
              checked: checked("gp-appointment-clinician", "Dr Max Smith (Male)")
            },
            {
              value: "Dr Sarah Clarke (Female)",
              text: "Dr Sarah Clarke (Female)",
              checked: checked("gp-appointment-clinician", "Dr Sarah Clarke (Female)")
            }
          ]
        }) }}

        <div class="nhsapp-button-group">
          <button class="nhsuk-button nhsapp-button" data-module="nhsuk-button" type="submit">
            Apply
            <span id="count"></span>
            <span class="nhsuk-u-visually-hidden"> filters</span>
          </button>
        </form>
          <form id="form-clear" method="post" action="/pages/services/gp-appointment-filters-v2" novalidate="novalidate">
            <input type="hidden" name="gp-appointment-clinician" value="">
            <input type="hidden" name="gp-appointment-clinician-sex" value="">
            <input type="hidden" name="gp-appointment-location" value="">
            {{ button({
              text: "Clear all",
              classes: "app-button--link"
            }) }}
          </form>
        </div>
        
    </div>
  </div>

  {% endblock %}

  {% block pageScripts %}

  <script>

    function updateCount() { 
      let count = $('input[type="checkbox"]:checked').length;
      if(count) {
      $('#count').text('(' + count + ')');
      } else {
        $('#count').text('')
      }
     }
    $('input[type="checkbox"]').change(updateCount)
    $(document).ready(updateCount);

  </script>

  {% endblock %}
