{% extends 'layout-app.html' %}

{% set hub = "Services" %}

{% set pageHeading = "Appointment confirmed" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      {{ nhsappPanel({
        titleText: pageHeading
      }) }}

      <p class="nhsuk-u-font-size-24">
        <span class="nhsuk-u-visually-hidden">Date: </span>{{ data['appointment-date'] or 'Wednesday 29 May 2024' }}<br>
        <span class="nhsuk-u-visually-hidden">Time: </span>{{ data['appointment-time'] or '9:00am' }}</span>
      </p>
      <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">
      <p>
        <span class="nhsuk-u-visually-hidden">Location: </span>{{ data['appointment-location'] or 'York Road Practice' }} <br>
        <span class="nhsuk-u-visually-hidden">Clinician: </span>{{ data['appointment-clinician'] or 'Dr Max Smith (Male)' }} 
      </p>
        
      {{ button({
        text: "Add to calendar",
        classes: "nhsuk-u-margin-top-1 nhsapp-button nhsapp-button--secondary"
      }) }}

      <h2 class="nhsuk-heading-s">What you can do next</h2>

      {{ nhsappCardGroup({
        stacked: true,
        classes: "app-cards--secondary",
        cards: [
          {
            title: "View upcoming appointments",
            href: "#"
          }
        ]
      }) }}


    </div>
  </div>

  {% endblock %}


