{% extends 'layout-app.html' %}

{% set hub = "Services" %}

{% set backLink = true %}
{% set backLinkText = "Back" %}
{% set backLinkURL = "/pages/services/gp-appointment-select-appointment-v3" %}

{% set pageHeading = "Tell us how we can help" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <form id="form" method="post" action="/pages/services/gp-appointment-confirm" novalidate="novalidate">

        {{ textarea({
          name: "gp-appointment-reason",
          id: "gp-appointment-reason",
          label: {
            text: pageHeading,
            classes: "nhsuk-label--xl nhsuk-u-margin-bottom-4",
            isPageHeading: true
          },
          hint: {
            text: "Describe your problem in a few words. Your note may not be seen or replied to."
          }
        }) }}

        {{ button({
          text: "Continue",
          classes: "app-button app-button--full-width"
        }) }}
        
      </form>

    </div>
  </div>

  {% endblock %}
