{% extends 'layout-app.html' %}

{% set hub = "Services" %}

{% set backLink = true %}
{% set backLinkText = "Back" %}

{% set pageHeading = "Why do you need an appointment?" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSecondary: true
      })}}

      <form id="form" method="post" action="/pages/services/gp-appointment-location" novalidate="novalidate">

        {{ textarea({
          name: "gp-appointment-reason",
          id: "gp-appointment-reason",
          label: {
            text: "Add notes for your GP",
            classes: "nhsuk-label--m nhsuk-u-margin-bottom-2"
          },
          hint: {
            text: "You can add a note about your appointment here. Your note may not be seen or replied to."
          }
        }) }}

        {% if data['web'] === "yes" %}

          {{ button({
            text: "Continue",
            classes: "app-button"
          }) }}

        {% endif %}
        
      </form>

    </div>
  </div>

  {% endblock %}

  {% block afterContent %}

    {% if data['web'] === "no" %}

      <div class="app-sticky-footer">
        <div class="nhsuk-width-container">
          <div class="nhsuk-grid-row">

            <button class="nhsuk-button app-button nhsuk-u-margin-bottom-0" data-module="nhsuk-button" form="form" type="submit">
              Continue
            </button>

          </div>
        </div>
      </div>

    {% endif %}

  {% endblock %}
