{% extends 'layout-app.html' %}

{% set hub = "Services" %}

{% set pageHeading = "Appointment confirmed" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <div class="app-confirmation">
        <h1 class="app-confirmation__title">{{ pageHeading }}</h1>
      </div>

      <p class="nhsuk-u-font-size-24">
        <span class="nhsuk-u-visually-hidden">Date: </span>{{ data['appointment-date'] or 'Wednesday 29 May 2024' }}<br>
        <span class="nhsuk-u-visually-hidden">Time: </span>{{ data['appointment-time'] or '9:00am' }}</span>
      </p>
      <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">
      <p class="nhsuk-u-margin-bottom-5">
        <span class="nhsuk-u-visually-hidden">Location: </span>{{ data['appointment-location'] or 'York Road Practice' }} <br>
        <span class="nhsuk-u-visually-hidden">Clinician: </span>{{ data['appointment-clinician'] or 'Dr Max Smith (Male)' }} 
      </p>

      <div class="nhsapp-card app-card--secondary">
        <div class="nhsapp-card__container">
          {{ nhsappIcon('calendar') }}
          <div class="nhsapp-card__content">
            <a href="#" class="nhsapp-card__link nhsuk-link--no-visited-state">
              Add to calendar
            </a>
          </div>
        </div>
      </div>

      {{ nhsappCard({
        classes: "app-card--secondary",
        title: "View upcoming appointments",
        href: "#"
      }) }}


    </div>
  </div>

  {% endblock %}


