{% extends 'layout-app.html' %}

{% set hub = "Services" %}

{% set backLink = true %}
{% set backLinkText = "Back" %}
{% set backLinkURL = "/pages/services/gp-appointment-reason" %}

{% set pageHeading = "Confirm appointment details" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSecondary: true
      })}}

      <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Appointment type
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['gp-appointment-type'] or 'General' }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a class="nhsuk-link--no-visited-state" href="/pages/services/gp-appointment-type">
              Change<span class="nhsuk-u-visually-hidden"> appointment type</span>
            </a>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Location
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['appointment-location'] or 'York Road Practice' }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a class="nhsuk-link--no-visited-state" href="/pages/services/gp-appointment-location">
              Change<span class="nhsuk-u-visually-hidden"> location</span>
            </a>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Clinician
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['appointment-clinician'] or 'Dr Max Smith' }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a class="nhsuk-link--no-visited-state" href="/pages/services/gp-appointment-clinician">
              Change<span class="nhsuk-u-visually-hidden"> clinician</span>
            </a>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Date of appointment
          </dt>
          <dd class="nhsuk-summary-list__value">
            {% if data['gp-appointment-date'] in ["1"] %}
              Monday 11 March 2024
            {% elif data['gp-appointment-date'] in ["2"] %}
              Tuesday 12 March 2024
            {% elif data['gp-appointment-date'] in ["3"] %}
              Thursday 14 March 2024
            {% elif data['gp-appointment-date'] in ["4"] %}
              Friday 15 March 2024
            {% elif data['gp-appointment-date'] in ["5"] %}
              Monday 18 March 2024
            {% elif data['gp-appointment-date'] in ["6"] %}
              Tuesday 19 March 2024
            {% elif data['gp-appointment-date'] in ["7"] %}
              Tuesday 26 March 2024
            {% elif data['gp-appointment-date'] in ["8"] %}
              Thursday 28 March 2024
            {% else %}
              Friday 29 March 2024
            {% endif %}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a class="nhsuk-link--no-visited-state" href="/pages/services/gp-appointment-select-date">
              Change <span class="nhsuk-u-visually-hidden"> date of appointment</span>
            </a>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Time of appointment
          </dt>
          <dd class="nhsuk-summary-list__value">
              {{ data['appointment-time'] or '9:00am' }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a class="nhsuk-link--no-visited-state" href="/pages/services/gp-appointment-select-appointment">
              Change <span class="nhsuk-u-visually-hidden"> time of appointment</span>
            </a>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Reason for appointment
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['gp-appointment-reason'] or 'Pain in my foot' }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a class="nhsuk-link--no-visited-state" href="/pages/services/gp-appointment-reason">
              Change<span class="nhsuk-u-visually-hidden"> reason for appointment</span>
            </a>
          </dd>
        </div>
   
      </dl>


      <form id="form" method="post" action="/pages/services/gp-appointment-confirmed" novalidate="novalidate">

        {{ button({
          text: "Confirm appointment",
          classes: "app-button app-button--full-width"
        }) }}
        
      </form>

    </div>
  </div>

  {% endblock %}
