{% extends 'layout-app.html' %}

{% set hub = "Services" %}

{% set backLink = true %}

{% set pageHeading = "Select appointment date and time" %}
{% set pageDescription = "The next available appointment is Monday 20 November." %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSecondary: true,
        description: pageDescription
      })}}

      <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">November 2023</h2>

      <div class="app-date-picker nhsuk-u-margin-bottom-5">
        <button class="app-date-picker__button app-date-picker__button--left" onclick="clickLeft()" aria-hidden="true">
          <span class="nhsuk-u-visually-hidden">Left</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="10" height="15" viewBox="0 0 10 15" fill="none">
            <path d="M8.17917 14.9698C7.92917 14.9698 7.68917 14.8798 7.49917 14.6998L1.12917 8.72978C0.929174 8.53978 0.819174 8.27978 0.809174 8.00978C0.799174 7.73978 0.919173 7.46978 1.11917 7.27978L7.48917 1.16978C7.88917 0.789782 8.51917 0.799782 8.89917 1.19978C9.27917 1.59978 9.26917 2.22978 8.86917 2.60978L3.25917 7.98978L8.85917 13.2398C9.25917 13.6198 9.27917 14.2498 8.90917 14.6498C8.70917 14.8598 8.44917 14.9698 8.17917 14.9698Z" fill="#005EB8"/>
          </svg>
        </button>
        <ul class="app-date-picker__container" id="app-date-picker__container">
          <li class="app-date-picker__item">
            <a href="#" class="app-date-picker__link app-date-picker__link--active" onclick="openAppointments(event, 'date-1')">
              <span class="date-picker__day" aria-hidden="true">Mon</span>
              <span class="date-picker__number" aria-hidden="true">20</span>
              <span class="nhsuk-u-visually-hidden">Monday 20th November 2023</span>
            </a>
          </li>
          <li class="app-date-picker__item">
            <a href="#" class="app-date-picker__link" onclick="openAppointments(event, 'date-2')">
              <span class="date-picker__day" aria-hidden="true">Tue</span>
              <span class="date-picker__number" aria-hidden="true">21</span>
              <span class="nhsuk-u-visually-hidden">Tuesday 21st November 2023</span>
            </a>
          </li>
          <li class="app-date-picker__item">
            <span class="date-picker__day" aria-hidden="true">Wed</span>
            <span class="date-picker__number" aria-hidden="true">22</span>
            <span class="nhsuk-u-visually-hidden">Wednesday 22nd November 2023</span>
          </li>
          <li class="app-date-picker__item">
            <a href="#" class="app-date-picker__link" onclick="openAppointments(event, 'date-3')">
              <span class="date-picker__day" aria-hidden="true">Thu</span>
              <span class="date-picker__number" aria-hidden="true">23</span>
              <span class="nhsuk-u-visually-hidden">Thursday 23rd November 2023</span>
            </a>
          </li>
          <li class="app-date-picker__item">
            <a href="#" class="app-date-picker__link" onclick="openAppointments(event, 'date-4')">
              <span class="date-picker__day" aria-hidden="true">Fri</span>
              <span class="date-picker__number" aria-hidden="true">24</span>
              <span class="nhsuk-u-visually-hidden">Friday 24th November 2023</span>
            </a>
          </li>
          <li class="app-date-picker__item">
              <span class="date-picker__day" aria-hidden="true">Sat</span>
              <span class="date-picker__number" aria-hidden="true">25</span>
              <span class="nhsuk-u-visually-hidden">Saturday 25th November 2023</span>
          </li>
          <li class="app-date-picker__item">
              <span class="date-picker__day" aria-hidden="true">Sun</span>
              <span class="date-picker__number" aria-hidden="true">26</span>
              <span class="nhsuk-u-visually-hidden">Sunday 26th November 2023</span>
          </li>
          <li class="app-date-picker__item">
            <a href="#" class="app-date-picker__link" onclick="openAppointments(event, 'date-5')">
              <span class="date-picker__day" aria-hidden="true">Mon</span>
              <span class="date-picker__number" aria-hidden="true">27</span>
              <span class="nhsuk-u-visually-hidden">Monday 27th November 2023</span>
            </a>
          </li>
          <li class="app-date-picker__item">
            <a href="#" class="app-date-picker__link" onclick="openAppointments(event, 'date-6')">
              <span class="date-picker__day" aria-hidden="true">Tue</span>
              <span class="date-picker__number" aria-hidden="true">28</span>
              <span class="nhsuk-u-visually-hidden">Tuesday 28th November 2023</span>
            </a>
          </li>
          <li class="app-date-picker__item">
            <a href="#" class="app-date-picker__link" onclick="openAppointments(event, 'date-7')">
              <span class="date-picker__day" aria-hidden="true">Wed</span>
              <span class="date-picker__number" aria-hidden="true">29</span>
              <span class="nhsuk-u-visually-hidden">Wednesday 29th November 2023</span>
            </a>
          </li>
          <li class="app-date-picker__item">
            <a href="#" class="app-date-picker__link" onclick="openAppointments(event, 'date-8')">
              <span class="date-picker__day" aria-hidden="true">Thu</span>
              <span class="date-picker__number" aria-hidden="true">30</span>
              <span class="nhsuk-u-visually-hidden">Thursday 30th November 2023</span>
            </a>
          </li>
          <li class="app-date-picker__item">
            <a href="#" class="app-date-picker__link" onclick="openAppointments(event, 'date-9')">
              <span class="date-picker__day" aria-hidden="true">Fri</span>
              <span class="date-picker__number" aria-hidden="true">1</span>
              <span class="nhsuk-u-visually-hidden">Friday 1st December 2023</span>
            </a>
          </li>
          <li class="app-date-picker__item">
              <span class="date-picker__day" aria-hidden="true">Sat</span>
              <span class="date-picker__number" aria-hidden="true">2</span>
              <span class="nhsuk-u-visually-hidden">Saturday 2nd December 2023</span>
          </li>
          <li class="app-date-picker__item">
            <span class="date-picker__day" aria-hidden="true">Sun</span>
            <span class="date-picker__number" aria-hidden="true">3</span>
            <span class="nhsuk-u-visually-hidden">Sunday 3rd December 2023</span>
          </li>
          <li class="app-date-picker__item">
            <a href="#" class="app-date-picker__link" onclick="openAppointments(event, 'date-10')">
              <span class="date-picker__day" aria-hidden="true">Mon</span>
              <span class="date-picker__number" aria-hidden="true">4</span>
              <span class="nhsuk-u-visually-hidden">Monday 4th December 2023</span>
            </a>
          </li>
        </ul>
        <button class="app-date-picker__button app-date-picker__button--right" onclick="clickRight()" aria-hidden="true">
          <span class="nhsuk-u-visually-hidden">Right</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M8.82191 19.11C8.56191 19.11 8.29191 19.01 8.10191 18.8C7.72191 18.4 7.73191 17.77 8.13191 17.39L13.7419 12.01L8.14191 6.75999C7.74191 6.37999 7.72191 5.74999 8.09191 5.34999C8.47191 4.94999 9.10191 4.92999 9.50191 5.29999L15.8719 11.27C16.0719 11.46 16.1819 11.72 16.1919 11.99C16.2019 12.26 16.0819 12.53 15.8819 12.72L9.51191 18.83C9.32191 19.02 9.07191 19.11 8.82191 19.11Z" fill="#005EB8"/>
            </svg>
        </button>
      </div>

        <form id="appointmentWrapper" tabindex="0" method="post" action="/pages/services/gp-appointment-confirm" novalidate="novalidate">

          <!-- Tab content -->
          <div id="date-1" class="appointments" style="display: block">

            <p class="nhsuk-u-margin-bottom-5">3 appointments available</p>
    
            {{ radios({
              idPrefix: "gp-appointment-time-1",
              name: "gp-appointment-time-1",
              classes: "nhsuk-u-margin-bottom-4",
              fieldset: {
                legend: {
                  text: "Dr. K Cooper",
                  classes: "nhsuk-fieldset__legend--s"
                }
              },
              "items": [
                {
                  value: "1",
                  text: "5:30pm",
                  checked: checked("gp-appointment-time-1", "1")
                }
              ]
            }) }}
    
            {{ radios({
              idPrefix: "gp-appointment-time-1",
              name: "gp-appointment-time-1",
              classes: "nhsuk-u-margin-bottom-4",
              fieldset: {
                legend: {
                  text: "Dr. R Baines",
                  classes: "nhsuk-fieldset__legend--s"
                }
              },
              "items": [
                {
                  value: "2",
                  text: "9am",
                  checked: checked("gp-appointment-time-1", "2")
                },
                {
                  value: "3",
                  text: "2pm",
                  checked: checked("gp-appointment-time-1", "3")
                }
              ]
            }) }}
    
        </div>

        <div id="date-2" class="appointments">
          
          <p class="nhsuk-u-margin-bottom-5">1 appointment available</p>
    
          {{ radios({
            idPrefix: "gp-appointment-time-1",
            name: "gp-appointment-time-1",
            classes: "nhsuk-u-margin-bottom-4",
            fieldset: {
              legend: {
                text: "Dr. K Cooper",
                classes: "nhsuk-fieldset__legend--s"
              }
            },
            "items": [
              {
                value: "4",
                text: "5:30pm",
                checked: checked("gp-appointment-time-1", "4")
              }
            ]
          }) }}  
 
        </div>

        <div id="date-3" class="appointments">
          <p class="nhsuk-u-margin-bottom-5">2 appointments available</p>
    
          {{ radios({
            idPrefix: "gp-appointment-time-1",
            name: "gp-appointment-time-1",
            classes: "nhsuk-u-margin-bottom-4",
            fieldset: {
              legend: {
                text: "Dr. R Baines",
                classes: "nhsuk-fieldset__legend--s"
              }
            },
            "items": [
              {
                value: "5",
                text: "9am",
                checked: checked("gp-appointment-time-1", "5")
              },
              {
                value: "6",
                text: "2pm",
                checked: checked("gp-appointment-time-1", "6")
              }
            ]
            }) }}

        </div>

        <div id="date-4" class="appointments">
          <p class="nhsuk-u-margin-bottom-5">3 appointments available</p>
    
          {{ radios({
            idPrefix: "gp-appointment-time-1",
            name: "gp-appointment-time-1",
            classes: "nhsuk-u-margin-bottom-4",
            fieldset: {
              legend: {
                text: "Dr. K Cooper",
                classes: "nhsuk-fieldset__legend--s"
              }
            },
            "items": [
              {
                value: "7",
                text: "5:30pm",
                checked: checked("gp-appointment-time-1", "7")
              }
            ]
          }) }}
  
          {{ radios({
            idPrefix: "gp-appointment-time-1",
            name: "gp-appointment-time-1",
            classes: "nhsuk-u-margin-bottom-4",
            fieldset: {
              legend: {
                text: "Dr. R Baines",
                classes: "nhsuk-fieldset__legend--s"
              }
            },
            "items": [
              {
                value: "8",
                text: "9am",
                checked: checked("gp-appointment-time-1", "8")
              },
              {
                value: "9",
                text: "2pm",
                checked: checked("gp-appointment-time-1", "9")
              }
            ]
          }) }}
    
        </div>

        <div id="date-5" class="appointments">
          <p class="nhsuk-u-margin-bottom-5">1 appointment available</p>
    
          {{ radios({
            idPrefix: "gp-appointment-time-1",
            name: "gp-appointment-time-1",
            classes: "nhsuk-u-margin-bottom-4",
            fieldset: {
              legend: {
                text: "Dr. K Cooper",
                classes: "nhsuk-fieldset__legend--s"
              }
            },
            "items": [
              {
                value: "10",
                text: "5:30pm",
                checked: checked("gp-appointment-time-1", "10")
              }
            ]
          }) }}  
    
        </div>

        <div id="date-6" class="appointments">
          <p class="nhsuk-u-margin-bottom-5">2 appointments available</p>
    
          {{ radios({
            idPrefix: "gp-appointment-time-1",
            name: "gp-appointment-time-1",
            classes: "nhsuk-u-margin-bottom-4",
            fieldset: {
              legend: {
                text: "Dr. R Baines",
                classes: "nhsuk-fieldset__legend--s"
              }
            },
            "items": [
              {
                value: "11",
                text: "9am",
                checked: checked("gp-appointment-time-1", "11")
              },
              {
                value: "12",
                text: "2pm",
                checked: checked("gp-appointment-time-1", "12")
              }
            ]
          }) }}
    
        </div>

        <div id="date-7" class="appointments">
          <p class="nhsuk-u-margin-bottom-5">3 appointments available</p>
    
          {{ radios({
            idPrefix: "gp-appointment-time-1",
            name: "gp-appointment-time-1",
            classes: "nhsuk-u-margin-bottom-4",
            fieldset: {
              legend: {
                text: "Dr. K Cooper",
                classes: "nhsuk-fieldset__legend--s"
              }
            },
            "items": [
              {
                value: "13",
                text: "5:30pm",
                checked: checked("gp-appointment-time-1", "13")
              }
            ]
          }) }}
  
          {{ radios({
            idPrefix: "gp-appointment-time-1",
            name: "gp-appointment-time-1",
            classes: "nhsuk-u-margin-bottom-4",
            fieldset: {
              legend: {
                text: "Dr. R Baines",
                classes: "nhsuk-fieldset__legend--s"
              }
            },
            "items": [
              {
                value: "14",
                text: "9am",
                checked: checked("gp-appointment-time-1", "14")
              },
              {
                value: "15",
                text: "2pm",
                checked: checked("gp-appointment-time-1", "15")
              }
            ]
          }) }}
    
        </div>

        <div id="date-8" class="appointments">
          <p class="nhsuk-u-margin-bottom-5">1 appointment available</p>
    
          {{ radios({
            idPrefix: "gp-appointment-time-1",
            name: "gp-appointment-time-1",
            classes: "nhsuk-u-margin-bottom-4",
            fieldset: {
              legend: {
                text: "Dr. K Cooper",
                classes: "nhsuk-fieldset__legend--s"
              }
            },
            "items": [
              {
                value: "16",
                text: "5:30pm",
                checked: checked("gp-appointment-time-1", "16")
              }
            ]
          }) }}  
    
        </div>

        <div id="date-9" class="appointments">
          <p class="nhsuk-u-margin-bottom-5">2 appointments available</p>
    
          {{ radios({
            idPrefix: "gp-appointment-time-1",
            name: "gp-appointment-time-1",
            classes: "nhsuk-u-margin-bottom-4",
            fieldset: {
              legend: {
                text: "Dr. R Baines",
                classes: "nhsuk-fieldset__legend--s"
              }
            },
            "items": [
              {
                value: "17",
                text: "9am",
                checked: checked("gp-appointment-time-1", "17")
              },
              {
                value: "18",
                text: "2pm",
                checked: checked("gp-appointment-time-1", "18")
              }
            ]
          }) }}
            
        </div>

        <div id="date-10" class="appointments">
          <p class="nhsuk-u-margin-bottom-5">3 appointments available</p>
    
          {{ radios({
            idPrefix: "gp-appointment-time-1",
            name: "gp-appointment-time-1",
            classes: "nhsuk-u-margin-bottom-4",
            fieldset: {
              legend: {
                text: "Dr. K Cooper",
                classes: "nhsuk-fieldset__legend--s"
              }
            },
            "items": [
              {
                value: "19",
                text: "5:30pm",
                checked: checked("gp-appointment-time-1", "19")
              }
            ]
          }) }}
  
          {{ radios({
            idPrefix: "gp-appointment-time-1",
            name: "gp-appointment-time-1",
            classes: "nhsuk-u-margin-bottom-4",
            fieldset: {
              legend: {
                text: "Dr. R Baines",
                classes: "nhsuk-fieldset__legend--s"
              }
            },
            "items": [
              {
                value: "20",
                text: "9am",
                checked: checked("gp-appointment-time-1", "20")
              },
              {
                value: "21",
                text: "2pm",
                checked: checked("gp-appointment-time-1", "21")
              }
            ]
          }) }}
    
        </div>

        {% if data['web'] === "yes" %}

          {{ button({
            text: "Continue",
            classes: "nhsapp-button"
          }) }}

        {% endif %}
        
      </form>

    </div>
  </div>

  {% endblock %}

  {% block afterContent %}

    {% if data['web'] === "no" %}

      <div class="app-sticky-footer">
        <div class="nhsuk-width-container">
          <div class="nhsuk-grid-row">

            <button class="nhsuk-button app-button nhsuk-u-margin-bottom-0" data-module="nhsuk-button" form="appointmentWrapper" type="submit">
              Continue
            </button>

          </div>
        </div>
      </div>

    {% endif %}

  {% endblock %}

  {% block pageScripts %}

    <style>
      /* Style the tab content */
      .appointments {
        display: none;
      }
    </style>

    <script>

      function clickLeft() {
        let container = document.querySelector('#app-date-picker__container');
        container.scrollTo({
          left:container.scrollLeft - 276,
          top: 0,
          behavior: "smooth"
        });
      }

      function clickRight() {
        let container = document.querySelector('#app-date-picker__container');
        container.scrollTo({
          left:container.scrollLeft + 276,
          top: 0,
          behavior: "smooth"
        });
      }

      // Show and hide appointments
      function openAppointments(evt, date) {
      // Declare all variables
      var i, tabcontent, tablinks;

      // Get all elements with class="appointments" and hide them
      tabcontent = document.getElementsByClassName("appointments");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }

      // Get all elements with class="app-date-picker__link" and remove the class "app-date-picker__link--active"
      tablinks = document.getElementsByClassName("app-date-picker__link");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" app-date-picker__link--active", "");
      }

      // Show the current tab, and add an "app-date-picker__link--active" class to the button that opened the tab
      document.getElementById(date).style.display = "block";
      evt.currentTarget.className += " app-date-picker__link--active";

      var hiddenDiv = document.getElementById('appointmentWrapper');
      hiddenDiv.focus()
    }

    </script>

  {% endblock %}