{% extends 'layout-app.html' %}

{% set hub = "Services" %}

{% set backLink = true %}
{% set backLinkText = "Back" %}
{% set backLinkURL = "/pages/services/gp-appointment-reason" %}

{% set pageHeading = "Select location" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <form id="form" method="post" action="/pages/services/gp-appointment-clinician" novalidate="novalidate">

        {{ radios({
          idPrefix: "gp-appointment-location",
          name: "gp-appointment-location",
          fieldset: {
            legend: {
              text: pageHeading,
              classes: "nhsuk-fieldset__legend--xl",
              isPageHeading: true
            }
          },
          hint: {
            text: "Only one available"
          },
          "items": [
            {
              value: "York Road practice",
              text: "York Road practice",
              checked: true
            }
          ]
        }) }}

        {% if data['web'] === "yes" %}

          {{ button({
            text: "Continue",
            classes: "app-button app-button--full-width"
          }) }}

        {% endif %}
        
      </form>

    </div>
  </div>

  {% endblock %}

  {% block afterContent %}

    {% if data['web'] === "no" %}

      <div class="app-sticky-footer">
        <div class="nhsuk-width-container">
          <div class="nhsuk-grid-row">

            <button class="nhsuk-button app-button nhsuk-u-margin-bottom-0" data-module="nhsuk-button" form="form" type="submit">
              Continue
            </button>

          </div>
        </div>
      </div>

    {% endif %}

  {% endblock %}
