{% extends 'layout-app.html' %}

{% set hub = "Services" %}

{% set backLink = true %}
{% set backLinkText = "Back" %}
{% set backLinkURL = "/pages/services/gp-appointment-select-date" %}

{% set pageHeading = "Select your appointment" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSecondary: true
      })}}

      <h2 class="nhsuk-heading-m">
        <span class="nhsuk-u-visually-hidden">Appointments on </span>
        Monday 11 March 2024
      </h2>

      <h3 class="nhsuk-heading-s">Morning <span class="nhsuk-u-visually-hidden">appointment</span></h3>

      <ul class="app-panel-link-card-spaced app-panel-link-card-stacked">
        <li class="app-panel-link-card">
          <div class="app-panel-link-card__content">
            <a class="app-panel-link-card__link nhsuk-heading-s" href="/pages/services/gp-appointment-reason">
              8:00am <span class="nhsuk-u-visually-hidden">with Dr Max Smith at Southbank Practice</span>
              <svg class="app-panel-link-card__chevron" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                <path d="M8.82264 19.11C8.56264 19.11 8.29264 19.01 8.10264 18.8C7.72264 18.4 7.73264 17.77 8.13264 17.39L13.7426 12.01L8.14264 6.75999C7.74264 6.37999 7.72264 5.74999 8.09264 5.34999C8.47264 4.94999 9.10264 4.92999 9.50264 5.29999L15.8726 11.27C16.0726 11.46 16.1826 11.72 16.1926 11.99C16.2026 12.26 16.0826 12.53 15.8826 12.72L9.51264 18.83C9.32264 19.02 9.07264 19.11 8.82264 19.11Z"></path>
              </svg>
            </a>
            <p aria-hidden="true" class="app-panel-link-card__description nhsuk-u-margin-top-0">Dr Max Smith</p>
            <p aria-hidden="true" class="app-panel-link-card__description nhsuk-u-secondary-text-color nhsuk-u-margin-top-0">Southbank Practice</p>
          </div>
        </li>
        <li class="app-panel-link-card">
          <div class="app-panel-link-card__content">
            <a class="app-panel-link-card__link nhsuk-heading-s" href="/pages/services/gp-appointment-reason">
              9:30am <span class="nhsuk-u-visually-hidden">with Dr Max Smith at Southbank Practice</span>
              <svg class="app-panel-link-card__chevron" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                <path d="M8.82264 19.11C8.56264 19.11 8.29264 19.01 8.10264 18.8C7.72264 18.4 7.73264 17.77 8.13264 17.39L13.7426 12.01L8.14264 6.75999C7.74264 6.37999 7.72264 5.74999 8.09264 5.34999C8.47264 4.94999 9.10264 4.92999 9.50264 5.29999L15.8726 11.27C16.0726 11.46 16.1826 11.72 16.1926 11.99C16.2026 12.26 16.0826 12.53 15.8826 12.72L9.51264 18.83C9.32264 19.02 9.07264 19.11 8.82264 19.11Z"></path>
              </svg>
            </a>
            <p aria-hidden="true" class="app-panel-link-card__description nhsuk-u-margin-top-0">Dr Max Smith</p>
            <p aria-hidden="true" class="app-panel-link-card__description nhsuk-u-secondary-text-color nhsuk-u-margin-top-0">Southbank Practice</p>
          </div>
        </li>
        <li class="app-panel-link-card">
          <div class="app-panel-link-card__content">
            <a class="app-panel-link-card__link nhsuk-heading-s" href="/pages/services/gp-appointment-reason">
              9:30am <span class="nhsuk-u-visually-hidden">with Dr Emily Taylor at York Road Practice</span>
              <svg class="app-panel-link-card__chevron" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                <path d="M8.82264 19.11C8.56264 19.11 8.29264 19.01 8.10264 18.8C7.72264 18.4 7.73264 17.77 8.13264 17.39L13.7426 12.01L8.14264 6.75999C7.74264 6.37999 7.72264 5.74999 8.09264 5.34999C8.47264 4.94999 9.10264 4.92999 9.50264 5.29999L15.8726 11.27C16.0726 11.46 16.1826 11.72 16.1926 11.99C16.2026 12.26 16.0826 12.53 15.8826 12.72L9.51264 18.83C9.32264 19.02 9.07264 19.11 8.82264 19.11Z"></path>
              </svg>
            </a>
            <p aria-hidden="true" class="app-panel-link-card__description nhsuk-u-margin-top-0">Dr Emily Taylor</p>
            <p aria-hidden="true" class="app-panel-link-card__description nhsuk-u-secondary-text-color nhsuk-u-margin-top-0">York Road Practice</p>
          </div>
        </li>
        <li class="app-panel-link-card">
          <div class="app-panel-link-card__content">
            <a class="app-panel-link-card__link nhsuk-heading-s" href="/pages/services/gp-appointment-reason">
              10:30am <span class="nhsuk-u-visually-hidden">with Dr Max Smith at Southbank Practice</span>
              <svg class="app-panel-link-card__chevron" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                <path d="M8.82264 19.11C8.56264 19.11 8.29264 19.01 8.10264 18.8C7.72264 18.4 7.73264 17.77 8.13264 17.39L13.7426 12.01L8.14264 6.75999C7.74264 6.37999 7.72264 5.74999 8.09264 5.34999C8.47264 4.94999 9.10264 4.92999 9.50264 5.29999L15.8726 11.27C16.0726 11.46 16.1826 11.72 16.1926 11.99C16.2026 12.26 16.0826 12.53 15.8826 12.72L9.51264 18.83C9.32264 19.02 9.07264 19.11 8.82264 19.11Z"></path>
              </svg>
            </a>
            <p aria-hidden="true" class="app-panel-link-card__description nhsuk-u-margin-top-0">Dr Max Smith</p>
            <p aria-hidden="true" class="app-panel-link-card__description nhsuk-u-secondary-text-color nhsuk-u-margin-top-0">Southbank Practice</p>
          </div>
        </li>
        <li class="app-panel-link-card">
          <div class="app-panel-link-card__content">
            <a class="app-panel-link-card__link nhsuk-heading-s" href="/pages/services/gp-appointment-reason">
              11:30am <span class="nhsuk-u-visually-hidden">with Dr Emily Taylor at York Road Practice</span>
              <svg class="app-panel-link-card__chevron" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                <path d="M8.82264 19.11C8.56264 19.11 8.29264 19.01 8.10264 18.8C7.72264 18.4 7.73264 17.77 8.13264 17.39L13.7426 12.01L8.14264 6.75999C7.74264 6.37999 7.72264 5.74999 8.09264 5.34999C8.47264 4.94999 9.10264 4.92999 9.50264 5.29999L15.8726 11.27C16.0726 11.46 16.1826 11.72 16.1926 11.99C16.2026 12.26 16.0826 12.53 15.8826 12.72L9.51264 18.83C9.32264 19.02 9.07264 19.11 8.82264 19.11Z"></path>
              </svg>
            </a>
            <p aria-hidden="true" class="app-panel-link-card__description nhsuk-u-margin-top-0">Dr Emily Taylor </p>
            <p aria-hidden="true" class="app-panel-link-card__description nhsuk-u-secondary-text-color nhsuk-u-margin-top-0">York Road Practice</p>
          </div>
        </li>
      </ul>

      <h3 class="nhsuk-heading-s">Afternoon <span class="nhsuk-u-visually-hidden">appointment</span></h3>

      <ul class="app-panel-link-card-spaced app-panel-link-card-stacked">
        <li class="app-panel-link-card">
          <div class="app-panel-link-card__content">
            <a class="app-panel-link-card__link nhsuk-heading-s" href="/pages/services/gp-appointment-reason">
              12:00pm <span class="nhsuk-u-visually-hidden">with Dr Max Smith at Southbank Practice</span>
              <svg class="app-panel-link-card__chevron" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                <path d="M8.82264 19.11C8.56264 19.11 8.29264 19.01 8.10264 18.8C7.72264 18.4 7.73264 17.77 8.13264 17.39L13.7426 12.01L8.14264 6.75999C7.74264 6.37999 7.72264 5.74999 8.09264 5.34999C8.47264 4.94999 9.10264 4.92999 9.50264 5.29999L15.8726 11.27C16.0726 11.46 16.1826 11.72 16.1926 11.99C16.2026 12.26 16.0826 12.53 15.8826 12.72L9.51264 18.83C9.32264 19.02 9.07264 19.11 8.82264 19.11Z"></path>
              </svg>
            </a>
            <p aria-hidden="true" class="app-panel-link-card__description nhsuk-u-margin-top-0">Dr Max Smith</p>
            <p aria-hidden="true" class="app-panel-link-card__description nhsuk-u-secondary-text-color nhsuk-u-margin-top-0">Southbank Practice</p>
          </div>
        </li>
        <li class="app-panel-link-card">
          <div class="app-panel-link-card__content">
            <a class="app-panel-link-card__link nhsuk-heading-s" href="/pages/services/gp-appointment-reason">
              1:00pm <span class="nhsuk-u-visually-hidden">with Dr Emily Taylor at York Road Practice</span>
              <svg class="app-panel-link-card__chevron" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                <path d="M8.82264 19.11C8.56264 19.11 8.29264 19.01 8.10264 18.8C7.72264 18.4 7.73264 17.77 8.13264 17.39L13.7426 12.01L8.14264 6.75999C7.74264 6.37999 7.72264 5.74999 8.09264 5.34999C8.47264 4.94999 9.10264 4.92999 9.50264 5.29999L15.8726 11.27C16.0726 11.46 16.1826 11.72 16.1926 11.99C16.2026 12.26 16.0826 12.53 15.8826 12.72L9.51264 18.83C9.32264 19.02 9.07264 19.11 8.82264 19.11Z"></path>
              </svg>
            </a>
            <p aria-hidden="true" class="app-panel-link-card__description nhsuk-u-margin-top-0">Dr Emily Taylor </p>
            <p aria-hidden="true" class="app-panel-link-card__description nhsuk-u-secondary-text-color nhsuk-u-margin-top-0">York Road Practice</p>
          </div>
        </li>
        <li class="app-panel-link-card">
          <div class="app-panel-link-card__content">
            <a class="app-panel-link-card__link nhsuk-heading-s" href="/pages/services/gp-appointment-reason">
              2:00pm <span class="nhsuk-u-visually-hidden">with Dr Max Smith at Southbank Practice</span>
              <svg class="app-panel-link-card__chevron" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                <path d="M8.82264 19.11C8.56264 19.11 8.29264 19.01 8.10264 18.8C7.72264 18.4 7.73264 17.77 8.13264 17.39L13.7426 12.01L8.14264 6.75999C7.74264 6.37999 7.72264 5.74999 8.09264 5.34999C8.47264 4.94999 9.10264 4.92999 9.50264 5.29999L15.8726 11.27C16.0726 11.46 16.1826 11.72 16.1926 11.99C16.2026 12.26 16.0826 12.53 15.8826 12.72L9.51264 18.83C9.32264 19.02 9.07264 19.11 8.82264 19.11Z"></path>
              </svg>
            </a>
            <p aria-hidden="true" class="app-panel-link-card__description nhsuk-u-margin-top-0">Dr Max Smith</p>
            <p aria-hidden="true" class="app-panel-link-card__description nhsuk-u-secondary-text-color nhsuk-u-margin-top-0">Southbank Practice</p>
          </div>
        </li>
        <li class="app-panel-link-card">
          <div class="app-panel-link-card__content">
            <a class="app-panel-link-card__link nhsuk-heading-s" href="/pages/services/gp-appointment-reason">
              2:30pm <span class="nhsuk-u-visually-hidden">with Dr Emily Taylor at York Road Practice</span>
              <svg class="app-panel-link-card__chevron" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                <path d="M8.82264 19.11C8.56264 19.11 8.29264 19.01 8.10264 18.8C7.72264 18.4 7.73264 17.77 8.13264 17.39L13.7426 12.01L8.14264 6.75999C7.74264 6.37999 7.72264 5.74999 8.09264 5.34999C8.47264 4.94999 9.10264 4.92999 9.50264 5.29999L15.8726 11.27C16.0726 11.46 16.1826 11.72 16.1926 11.99C16.2026 12.26 16.0826 12.53 15.8826 12.72L9.51264 18.83C9.32264 19.02 9.07264 19.11 8.82264 19.11Z"></path>
              </svg>
            </a>
            <p aria-hidden="true" class="app-panel-link-card__description nhsuk-u-margin-top-0">Dr Emily Taylor </p>
            <p aria-hidden="true" class="app-panel-link-card__description nhsuk-u-secondary-text-color nhsuk-u-margin-top-0">York Road Practice</p>
          </div>
        </li>
        <li class="app-panel-link-card">
          <div class="app-panel-link-card__content">
            <a class="app-panel-link-card__link nhsuk-heading-s" href="/pages/services/gp-appointment-reason">
              3:00pm <span class="nhsuk-u-visually-hidden">with Dr Max Smith at Southbank Practice</span>
              <svg class="app-panel-link-card__chevron" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                <path d="M8.82264 19.11C8.56264 19.11 8.29264 19.01 8.10264 18.8C7.72264 18.4 7.73264 17.77 8.13264 17.39L13.7426 12.01L8.14264 6.75999C7.74264 6.37999 7.72264 5.74999 8.09264 5.34999C8.47264 4.94999 9.10264 4.92999 9.50264 5.29999L15.8726 11.27C16.0726 11.46 16.1826 11.72 16.1926 11.99C16.2026 12.26 16.0826 12.53 15.8826 12.72L9.51264 18.83C9.32264 19.02 9.07264 19.11 8.82264 19.11Z"></path>
              </svg>
            </a>
            <p aria-hidden="true" class="app-panel-link-card__description nhsuk-u-margin-top-0">Dr Max Smith</p>
            <p aria-hidden="true" class="app-panel-link-card__description nhsuk-u-secondary-text-color nhsuk-u-margin-top-0">Southbank Practice</p>
          </div>
        </li>
        <li class="app-panel-link-card">
          <div class="app-panel-link-card__content">
            <a class="app-panel-link-card__link nhsuk-heading-s" href="/pages/services/gp-appointment-reason">
              4:30pm <span class="nhsuk-u-visually-hidden">with Dr Max Smith at Southbank Practice</span>
              <svg class="app-panel-link-card__chevron" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                <path d="M8.82264 19.11C8.56264 19.11 8.29264 19.01 8.10264 18.8C7.72264 18.4 7.73264 17.77 8.13264 17.39L13.7426 12.01L8.14264 6.75999C7.74264 6.37999 7.72264 5.74999 8.09264 5.34999C8.47264 4.94999 9.10264 4.92999 9.50264 5.29999L15.8726 11.27C16.0726 11.46 16.1826 11.72 16.1926 11.99C16.2026 12.26 16.0826 12.53 15.8826 12.72L9.51264 18.83C9.32264 19.02 9.07264 19.11 8.82264 19.11Z"></path>
              </svg>
            </a>
            <p aria-hidden="true" class="app-panel-link-card__description nhsuk-u-margin-top-0">Dr Max Smith</p>
            <p aria-hidden="true" class="app-panel-link-card__description nhsuk-u-secondary-text-color nhsuk-u-margin-top-0">Southbank Practice</p>
          </div>
        </li>
        <li class="app-panel-link-card">
          <div class="app-panel-link-card__content">
            <a class="app-panel-link-card__link nhsuk-heading-s" href="/pages/services/gp-appointment-reason">
              5:00pm <span class="nhsuk-u-visually-hidden">with Dr Max Smith at Southbank Practice</span>
              <svg class="app-panel-link-card__chevron" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                <path d="M8.82264 19.11C8.56264 19.11 8.29264 19.01 8.10264 18.8C7.72264 18.4 7.73264 17.77 8.13264 17.39L13.7426 12.01L8.14264 6.75999C7.74264 6.37999 7.72264 5.74999 8.09264 5.34999C8.47264 4.94999 9.10264 4.92999 9.50264 5.29999L15.8726 11.27C16.0726 11.46 16.1826 11.72 16.1926 11.99C16.2026 12.26 16.0826 12.53 15.8826 12.72L9.51264 18.83C9.32264 19.02 9.07264 19.11 8.82264 19.11Z"></path>
              </svg>
            </a>
            <p aria-hidden="true" class="app-panel-link-card__description nhsuk-u-margin-top-0">Dr Max Smith</p>
            <p aria-hidden="true" class="app-panel-link-card__description nhsuk-u-secondary-text-color nhsuk-u-margin-top-0">Southbank Practice</p>
          </div>
        </li>
      </ul>

    </div>
  </div>

  {% endblock %}

