{% extends 'layout-app.html' %}

{% set hub = "Services" %}

{% set backLink = true %}
{% set backLinkText = "Back" %}

{% set pageHeading = "Confirm appointment details" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSecondary: true
      })}}

      <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Date and time
          </dt>
          <dd class="nhsuk-summary-list__value">
            {% if data['gp-appointment-time'] < 4 %}
              Monday 20 November 2023
            {% elif data['gp-appointment-time'] < 9 %}
              Tuesday 21 November 2023
            {% elif data['gp-appointment-time'] < 13 %}
              Thursday 23 November 2023
            {% elif data['gp-appointment-time'] < 16 %}
              Friday 24 November 2023
            {% elif data['gp-appointment-time'] < 21 %}
              Monday 27 November 2023
            {% elif data['gp-appointment-time'] < 25 %}
              Tuesday 28 November 2023
            {% elif data['gp-appointment-time'] < 28 %}
              Wednsday 29 November 2023
            {% elif data['gp-appointment-time'] < 33 %}
              Thursday 30 November 2023
            {% elif data['gp-appointment-time'] < 37 %}
              Friday 1 December 2023
            {% elif data['gp-appointment-time'] < 40 %}
              Monday 4 December 2023
            {% else %}
              Monday 20 November 2023
            {% endif %}
            <br>
            {% if data['gp-appointment-time'] in ["10", "22", "34"] %}
              8am
            {% elif data['gp-appointment-time'] in ["11", "23", "35"] %}
              8:30am
            {% elif data['gp-appointment-time'] in ["2", "14", "26", "38", "6", "12", "18", "24", "30", "36"] %}
              9am
            {% elif data['gp-appointment-time'] in ["7", "19", "31"] %}
              10am
            {% elif data['gp-appointment-time'] in ["8", "20", "32"] %}
              11am
            {% elif data['gp-appointment-time'] in ["3", "15", "27", "39"] %}
              2pm
            {% elif data['gp-appointment-time'] in ["4", "16", "28"] %}
              2:30pm
            {% elif data['gp-appointment-time'] in ["5", "17", "29"] %}
              3pm
            {% else %}
              5:30pm
            {% endif %}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="#">
              Edit<span class="nhsuk-u-visually-hidden"> time</span>
            </a>
          </dd>
        </div>

        <!--<div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Location
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['gp-appointment-location'] or 'York Road practice' }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="#">
              Edit<span class="nhsuk-u-visually-hidden"> location</span>
            </a>
          </dd>
        </div>-->

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Appointment type
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['gp-appointment-type'] or 'General' }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="#">
              Edit<span class="nhsuk-u-visually-hidden"> appointment type</span>
            </a>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Clinician
          </dt>
          <dd class="nhsuk-summary-list__value">
            {% if data['gp-appointment-time'] in ["1", "4", "5", "9", "13", "16", "17", "21", "25", "29", "33", "37"] %}
              Dr. K Cooper
            {% else %}
              Dr. R Baines
            {% endif %}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="#">
              Edit<span class="nhsuk-u-visually-hidden"> clinician</span>
            </a>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Reason for appointment
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['gp-appointment-reason'] or 'Pain in my foot' }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="#">
              Edit<span class="nhsuk-u-visually-hidden"> reason for appointment</span>
            </a>
          </dd>
        </div>
   
      </dl>


      <form id="form" method="post" action="/pages/services/gp-appointment-confirmed" novalidate="novalidate">

        {% if data['web'] === "yes" %}

          {{ button({
            text: "Confirm appointment",
            classes: "app-button app-button--full-width"
          }) }}

        {% endif %}
        
      </form>

    </div>
  </div>

  {% endblock %}

  {% block afterContent %}

    {% if data['web'] === "no" %}

      <div class="app-sticky-footer">
        <div class="nhsuk-width-container">
          <div class="nhsuk-grid-row">

            <button class="nhsuk-button app-button nhsuk-u-margin-bottom-0" data-module="nhsuk-button" form="form" type="submit">
              Confirm appointment
            </button>

          </div>
        </div>
      </div>

    {% endif %}

  {% endblock %}
