{% extends 'layout-app.html' %}

{% set hub = "Services" %}

{% set backLink = true %}
{% set backLinkText = "Back" %}

{% set pageHeading = "Services" %}
{% set pageDescription = "Get care and support to help you stay well" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSecondary: true,
        description: pageDescription
      })}}

      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <h3 class="nhsuk-card__heading">
            These are the services that are and are not enabled on your NHS App
          </h3>
          <div style="margin-top:20px;">
            <span class="app-panel-link-card__tag"; style="margin-top:20px;">
             {{ tag({
               text: "Enabled by GP",
               classes: "app-tag--no-border app-tag--new app-tag--green"
             })}}
            </span>
            <ul style="line-height:120%; margin-top:15px;"> 
             <li> Request repeat prescriptions </li> 
             <li> View your GP health record </li> 
             <li> View your messages </li> 
             <li> Contact your GP surgery for a document or update </li> 
             <li> Switch profiles </li>
             </ul>
           </div>
     
         <div style="margin-top:30px">
           <span class="app-panel-link-card__tag">
             {{ tag({
               text: "Disabled by GP",
               classes: "app-tag--no-border app-tag--new app-tag--grey"
               
             })}}
           </span>
     
            <ul style="line-height:120%;margin-top:15px;"> 
             <li> Book GP appointments </li>
              <li> Contact your GP for a health problem </li> 
            </ul>
           
        </div>

        <p style="margin-top:20px;"> Note that certain services may not be offered by your GP surgery. If you require more information about your available services, contact your surgery.</p>
      </div>

    
    
     
        
    
    </div >
    <div style="margin-top:-20px;"> 
    <a href="/pages/services-p9-link" class="nhsuk-button app-button app-button--full-width">Access Services</a>
    </div>
  </div>

  {% endblock %}
