{% extends 'layout-app.html' %}

{% set containerFullWidth = true %}

{% set hub = "Services" %}

{% set backLink = true %}

{% set pageHeading = "Your GP appointments" %}

{% block content %}

  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">

        <!-- DYNAMIC PAGE TITLE -->
        {{ dynamicPageTitle({
          title: pageHeading,
          classes: "nhsuk-u-margin-bottom-5"
        })}}

        <p>For urgent medical advice, go to <a href="#">111.nhs.uk</a> or <a href="#">call 111</a>.</p>

        {{ button({
          text: "Book an appointment",
          href: "#",
          classes: "app-button nhsuk-u-margin-bottom-7 nhsuk-u-margin-top-3"
        }) }}

        <section class="app-section app-section--with-border">

        <!--<hr class="app-section-break--4">-->

        <h2 class="nhsuk-u-margin-bottom-6">Upcoming appointments</h2>

        <!--<p>If you have an upcoming appointment that is not shown here, contact your GP surgery for more information.</p>-->

        <h3 class="nhsuk-u-visually-hidden">Upcoming appointment 1</h3>
        <h4 class="nhsuk-u-visually-hidden">Date and time</h4>
        <p class="nhsuk-u-font-size-19">Tuesday 7 November 2023
        <br><span class="nhsuk-u-font-size-24">8:10am</span></p>
        <h4 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0 nhsuk-u-padding-top-0">Appointment type</h4>
        <p class="nhsuk-body-s">Outpatient Surgery
        <br>Minor surgery
        <br>We will call you on 028(37) 960 194
        <br>Dr Neo Cortex</p>
        <h4 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0 nhsuk-u-padding-top-0">Location</h4>
        <p class="nhsuk-body-s">Wumpa Islands</p>
        <h4 class="nhsuk-u-visually-hidden">Cancel</h4>
        <p class="nhsuk-body-s">To cancel this appointment, contact your GP surgery</p>

        <!--<hr>

        <h3 class="nhsuk-u-visually-hidden">Upcoming appointment 2</h3>
        <h4 class="nhsuk-u-visually-hidden">Date and time</h4>
        <p class="nhsuk-u-font-size-19">Friday 24 November 2023
        <br><span class="nhsuk-u-font-size-24">8:20am</span></p>
        <h4 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0 nhsuk-u-padding-top-0">Appointment type</h4>
        <p class="nhsuk-body-s">Outpatient Surgery
        <br>Minor surgery
        <br>We will call you on 028(37) 960 194
        <br>Dr Neo Cortex</p>
        <h4 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0 nhsuk-u-padding-top-0">Location</h4>
        <p class="nhsuk-body-s">Wumpa Islands</p>
        <h4 class="nhsuk-u-visually-hidden">Cancel</h4>
        <p class="nhsuk-body-s">To cancel this appointment, contact your GP surgery</p>-->
      </section>

      </div>
    </div>
  </div>


  <section class="app-section app-section--grey-4">
    <div class="nhsuk-width-container">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          <h2 class="nhsuk-u-margin-bottom-6">Past appointments</h2>
          <h3 class="nhsuk-u-visually-hidden">Past appointment 1</h3>
          <h4 class="nhsuk-u-visually-hidden">Date and time</h4>
          <p class="nhsuk-u-font-size-19">Friday 3 February 2023
          <br><span class="nhsuk-u-font-size-24">8:30am</span></p>
          <h4 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0 nhsuk-u-padding-top-0">Appointment type</h4>
          <p class="nhsuk-body-s">Clinician: Joanna Young - M&G Same day F2F - Finished</p>
          <h4 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0 nhsuk-u-padding-top-0">Location</h4>
          <p class="nhsuk-body-s">Menston Medical Centre</p>

          <hr>

          <h3 class="nhsuk-u-visually-hidden">Past appointment 1</h3>
          <h4 class="nhsuk-u-visually-hidden">Date and time</h4>
          <p class="nhsuk-u-font-size-19">Friday 7 October 2022
          <br><span class="nhsuk-u-font-size-24">10:30am</span></p>
          <h4 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0 nhsuk-u-padding-top-0">Appointment type</h4>
          <p class="nhsuk-body-s">Clinician: Dr Fazeel Ahmad - M&G Prebookable F2F - Finished</p>
          <h4 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0 nhsuk-u-padding-top-0">Location</h4>
          <p class="nhsuk-body-s">Menston Medical Centre</p>

          <hr>

          <h3 class="nhsuk-u-visually-hidden">Past appointment 1</h3>
          <h4 class="nhsuk-u-visually-hidden">Date and time</h4>
          <p class="nhsuk-u-font-size-19">Monday 4 April 2022
          <br><span class="nhsuk-u-font-size-24">9:45am</span></p>
          <h4 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0 nhsuk-u-padding-top-0">Appointment type</h4>
          <p class="nhsuk-body-s">Clinician: Dr Ibraheem Syed - M&G Same day F2F - Finished</p>
          <h4 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0 nhsuk-u-padding-top-0">Location</h4>
          <p class="nhsuk-body-s">Menston Medical Centre</p>

          <hr>

          <h3 class="nhsuk-u-visually-hidden">Past appointment 1</h3>
          <h4 class="nhsuk-u-visually-hidden">Date and time</h4>
          <p class="nhsuk-u-font-size-19">Wednesday 16 February 2022
          <br><span class="nhsuk-u-font-size-24">9:50am</span></p>
          <h4 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0 nhsuk-u-padding-top-0">Appointment type</h4>
          <p class="nhsuk-body-s">Clinician: Dr Ibraheem Syed - M&G Same day F2F - Finished</p>
          <h4 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0 nhsuk-u-padding-top-0">Location</h4>
          <p class="nhsuk-body-s">Menston Medical Centre</p>

        </div>
      </div>
    </div>
  </section>

  {% endblock %}
