<nav class="app-bottom-navigation">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <ul class="app-bottom-navigation__list">
        <li class="app-bottom-navigation__item">
          <a class="app-bottom-navigation__link" href="/pages/home-{{ data['accountType'] }}">
            {% if hub === "Home" %}
              {% include "components/icons/home-active.html" %}
            {% else %}
              {% include "components/icons/home.html" %}
            {% endif %}
            <span class="app-bottom-navigation__label {% if hub === 'Home' %}app-bottom-navigation__label--active{% endif %}">Home</span>
          </a>
        </li>
        <li class="app-bottom-navigation__item">
          <a class="app-bottom-navigation__link" href="/pages/services-{{ data['accountType'] }}">
            {% if hub === "Services" %}
              {% include "components/icons/services-active.html" %}
            {% else %}
              {% include "components/icons/services.html" %}
            {% endif %}        
            <span class="app-bottom-navigation__label {% if hub === 'Services' %}app-bottom-navigation__label--active{% endif %}">Services</span>
          </a>
        </li>
        <li class="app-bottom-navigation__item">
          <a class="app-bottom-navigation__link" href="/pages/your-health-{{ data['accountType'] }}">
            {% if hub === "Your health" %}
              {% include "components/icons/your-health-active.html" %}
            {% else %}
              {% include "components/icons/your-health.html" %}
            {% endif %} 
            <span class="app-bottom-navigation__label {% if hub === 'Your health' %}app-bottom-navigation__label--active{% endif %}">Your health</span>
          </a>
        </li>
        <li class="app-bottom-navigation__item">
          <a class="app-bottom-navigation__link" href="/pages/messages-{{ data['accountType'] }}">
            {% if hub === "Messages" %}
              {% if data['messages'] === true %}
                {% include "components/icons/messages-with-badge-active.html" %}
              {% else %}
                {% include "components/icons/messages-active.html" %}
              {% endif %}
            {% else %}
              {% if data['messages'] === true %}
                {% include "components/icons/messages-with-badge.html" %}
              {% else %}
                {% include "components/icons/messages.html" %}
              {% endif %}
            {% endif %}
            <span class="app-bottom-navigation__label {% if hub === 'Messages' %}app-bottom-navigation__label--active{% endif %}">Messages</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>