// ==========================================================================
// COMPONENTS / #BADGE
// ==========================================================================

.app-badge {
  @include nhsuk-typography-responsive(19);
    
  background-color: $nhsuk-error-color;
  border-radius: nhsuk-spacing(1);
  color: $color_nhsuk-white;
  display: inline-block;
  font-weight: bold;
  padding: 0 nhsuk-spacing(2);

  @include mq($from: tablet) {
    padding: 0 12px;
  }
}

.app-badge-status-dot {
  background-color: $color_nhsuk-blue;
  border-radius: 50%;
  display: inline-block;
  margin-right: 12px;
  position: relative;
  height: 10px;
  top: -1px;
  vertical-align: middle;
  width: 10px;
}

.app-badge-small {
  position: relative;
  color: $color_nhsuk-blue;
}

.app-badge-small--absolute {
  position: absolute;
  left: -1em;
}

.app-badge--purple {
  background-color: $color_tag-purple-text;
}

.app-badge--yellow {
  background-color: $color_tag-yellow-text;
}

.app-badge--green {
  background-color: $color_tag-green-text;
}

.app-badge--grey {
  background-color: $color_tag-grey-text;
}

.app-badge--red {
  background-color: $nhsuk-error-color;
}

.app-badge--orange {
  background-color: $color_tag-orange-text;
}

.app-badge-small--red {
  color: $nhsuk-error-color;
}
