// ==========================================================================
// COMPONENTS / #BADGE
// ==========================================================================

.app-badge {
  @include nhsuk-typography-responsive(19);
    
  background-color: $nhsuk-error-color;
  border-radius: nhsuk-spacing(1);
  color: $color_nhsuk-white;
  font-weight: bold;
  padding: 0 nhsuk-spacing(2);

  @include mq($from: tablet) {
    padding: 0 12px;
  }
}

.app-badge-status-dot {
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  margin-right: 12px;
  position: relative;
  height: 10px;
  top: -1px;
  vertical-align: middle;
  width: 10px;
}

.app-badge--purple {
  background-color: $color_tag-purple-text;
}
