// ==========================================================================
// COMPONENTS / #BADGE
// ==========================================================================

.app-badge {
  @include nhsuk-typography-responsive(19);
    
  background-color: $nhsuk-error-color;
  border-radius: nhsuk-spacing(1);
  color: $color_nhsuk-white;
  display: inline-block;
  font-weight: bold;
  padding: 0 nhsuk-spacing(2);

  @include mq($from: tablet) {
    padding: 0 12px;
  }
}

// With inline-block
.app-badge-status-dot__wrapper {
  position: relative;
}

.app-badge-status-dot {
  background-color: $color_nhsuk-blue;
  border-radius: 50%;
  display: inline-block;
  margin-right: 4px;
  position: relative;
  height: 8px;
  top: -1px;
  vertical-align: middle;
  width: 8px;

  @include mq($from: tablet) {
    height: 12px;
    margin-right: 8px;
    width: 12px;
  }
}

.app-badge-status-dot--absolute {
  position: absolute;
  left: -18px;
  top: 7px;

  @include mq($from: tablet) {
    left: -22px;
  }
}

// With special character
.app-badge-small {
  color: $color_nhsuk-blue;
  position: relative;
  top: -1px;
}

.app-badge-small--absolute {
  left: -1em;
  position: absolute;
}

// With flexbox
.app-badge-indicator {
  align-items: center;
  display: flex;
}

.app-badge-indicator__dot {
  background-color: $color_nhsuk-blue;
  border-radius: 50%;
  display: flex;
  flex: none;
  height: 8px;
  margin-right: 8px;
  width: 8px;

  @include mq($from: tablet) {
    height: 12px;
    margin-right: 12px;
    width: 12px;
  }
}

.app-badge-indicator__dot--absolute {
  margin-left: -16px;

  @include mq($from: tablet) {
    margin-left: -24px;
    margin-right: 8px;
  }
}

// Colours
.app-badge--purple {
  background-color: $color_tag-purple-text;
}

.app-badge--yellow {
  background-color: $color_tag-yellow-text;
}

.app-badge--green {
  background-color: $color_tag-green-text;
}

.app-badge--grey {
  background-color: $color_tag-grey-text;
}

.app-badge--red {
  background-color: $nhsuk-error-color;
}

.app-badge--orange {
  background-color: $color_tag-orange-text;
}

.app-badge-small--red {
  color: $nhsuk-error-color;
}