// ==========================================================================
// COMPONENTS / #BUTTONS
// ==========================================================================

.app-button {
  padding: 12px 40px;

  @include mq($until: tablet) {
    width: 100%;
  }
}

// Button styling override
.nhsuk-button--reverse {
  &:visited, &:active, &:hover {
    color: $nhsuk-focus-text-color;
  }
}