// ==========================================================================
// COMPONENTS / #BUTTONS
// ==========================================================================

// Button styled as a link
.app-button--link {
  @include nhsuk-link-style-default;
  @include nhsuk-typography-responsive(19);

  background-color: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none; 
  cursor: pointer;
  font-weight: normal;
  padding: 0;
  text-decoration: underline;

  &:hover,
  &:active {
    background-color: transparent;
    top: 0;
  }

  &:focus {
    background-color: #ffeb3b;
  }
}

// Secondary button styles - new
.app-button--secondary {
  background-color: transparent;
  border: 2px solid $nhsuk-link-color;
  border-bottom: 0;
  box-shadow: 0 4px 0 $nhsuk-link-color;
  color: $nhsuk-link-color;

  &:link,
  &:visited {
    color: $nhsuk-link-color;
  }

  &:hover {
    background-color: $nhsuk-link-color;
    color: $color_nhsuk-white;
  }

  &:active {
    background-color: $nhsuk-link-color;
  }

  &:focus {
    border-color: $nhsuk-focus-color;
  }
}