// ==========================================================================
// COMPONENTS / #CARD LINK
// ==========================================================================

.app-cards {
  @include nhsuk-responsive-margin(5, "bottom");
  list-style: none; // Removes default list style
  padding: 0; // Removes default list padding
}

.app-card-link {
  @include nhsuk-responsive-margin(5, "bottom");

  background-color: $color_nhsuk-white;
  border: $card-border-width solid $card-border-color;
  position: relative; // Set to relative so the entire card can be clickable

  &:hover {
    .app-icon--chevron {
      fill: $nhsuk-link-hover-color;
    }
  }
}

.app-card-link__container {
  align-items: center;
  display: flex;
  gap: nhsuk-spacing(3);
  margin: 0 nhsuk-spacing(3);
  padding: 20px 0;

  @include mq($from: tablet) {
    margin: 0 nhsuk-spacing(4);
    padding: nhsuk-spacing(4) 0;
  }

  .app-icon {
    height: 24px; // Could set icon sizes as a variable?
    flex: none; // Prevents icons from shrinking
    width: 24px;

    @include mq($from: tablet) {
      height: 28px;
      width: 28px;
    }
  }
}

.app-card-link__content {
  flex-grow: 2;
}

.app-card-link__below {
  *:last-child {
    margin-bottom: 0;
  }
}

.app-card-link__link {
  @include nhsuk-typography-responsive(22);

  font-weight: bold;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
  // Makes the entire card clickable
  &::after {
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

}

.app-card-link__link--l {
  @include nhsuk-typography-responsive(22);
}

// Smaller gap
.app-cards--spaced-small {
  .app-card-link {
    @include nhsuk-responsive-margin(1, "bottom");
  }
}

// Stacked
.app-cards--stacked {
  @include nhsuk-responsive-margin(5, "bottom");

  .app-card-link {
    border-bottom: 0;
    border-top: 0;
    margin-bottom: 0;

    .app-card-link__container {
      border-bottom: $card-border-width solid $card-border-color;
    }
  
    &:first-of-type {
      border-top: $card-border-width solid $card-border-color;
    }
  
    &:last-of-type {
      border-bottom: $card-border-width solid $card-border-color;
  
      .app-card-link__link,
      .app-card-link__container {
        border: 0;
      }
    }
  
  }

}

//Media
.app-card-link__img {
  display: block;
  max-width: 100%;
}

// Large card with image
// Used for new campaign card
.app-card-link--full-width {
  @include mq($from: desktop) {
    display: flex;

    .app-card-link__media {
      display: flex;
      flex: 2 0;
    }

    .app-card-link__img {
      flex: none;
    }

    .app-card-link__container {
      flex: 2 0;
      gap: nhsuk-spacing(5);
    }

  }
  @include mq($from: large-desktop) {
    .app-card-link__media {
      flex-grow: 2;
    }
    .app-card-link__container {
      flex-grow: 3;
    }
  }
}

// Colours
.app-card-link--blue {
  background-color: $nhsuk-link-color;
}

.app-card-link--dark-blue {
  background-color: $nhsuk-link-active-color;
}

.app-card-link--blue,
.app-card-link--dark-blue {
  border: 0;
  color: $color_nhsuk-white;

  .app-card-link__container {
    border-color: $color_nhsuk-white;
  }

  .app-card-link__link {
    color: currentColor;
  }

  &:hover {
    .app-icon--chevron {
      fill: $color_nhsuk-white;
    }
  }

  .nhsuk-card-link__img {
    border-bottom: 0;
  }

  .app-icon--chevron {
    fill: $color_nhsuk-white;
  }

  .nhsuk-caption-s,
  .nhsuk-caption-m,
  .nhsuk-caption-l,
  .nhsuk-caption-xl {
    color: $color_nhsuk-white;
  }

  .nhsuk-link {
    color: currentColor;
  }
}