// ==========================================================================
// COMPONENTS / #CARD LINK
// ==========================================================================

.app-cards {
  @include nhsuk-responsive-margin(5, "bottom");
  // Resets default list styles
  list-style: none;
  padding: 0;
}

.app-card-link {
  @include nhsuk-responsive-margin(5, "bottom");

  background-color: $color_nhsuk-white;
  border: $card-border-width solid $card-border-color;
  position: relative;
}

.app-card-link__content {
  align-items: center;
  display: flex;
  gap: nhsuk-spacing(3);
  margin: 0 nhsuk-spacing(3);
  padding: nhsuk-spacing(3) 0;

  @include mq($from: tablet) {
    margin: 0 nhsuk-spacing(4);
    padding: nhsuk-spacing(4) 0;
  }

  .app-icon {
    // Could set icon sizes as a variable?
    height: 24px;
    flex: none; // Prevents icons from shrinking
    width: 24px;

    @include mq($from: tablet) {
      height: 28px;
      width: 28px;
    }
  }
}

.app-card-link__link {
  text-decoration: none;

  &:hover {
    .app-card-link__title-text {
      color: $nhsuk-link-hover-color;
      text-decoration: underline;
    }

    .app-icon--chevron {
      fill: $nhsuk-link-hover-color;
    }
  }

  &:focus {
    // Remove focus styles
    background-color: transparent;
    box-shadow: none;
    outline: 0;

    .app-card-link__title-text {
      // Add focus style to title text
      @include nhsuk-focused-text;
    }
  }

  &:visited {
    color: $color_nhsuk-blue;
  }

  &::after {
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

}

.app-card-link__main,
.app-card-link__link--flex {
  display: flex;
  flex-grow: 2;
  flex-wrap: wrap;

  > * {
    flex-basis: 100%;
    margin-bottom: 0;
  }
}

.app-card-link__title {
  @include nhsuk-typography-responsive(22);
  font-weight: bold;
}

// Stacked
.app-cards--stacked {
  @include nhsuk-responsive-margin(5, "bottom");

  .app-card-link {
    border-bottom: 0;
    border-top: 0;
    margin-bottom: 0;

    .app-card-link__content {
      border-bottom: $card-border-width solid $card-border-color;
    }
  
    &:first-of-type {
      border-top: $card-border-width solid $card-border-color;
    }
  
    &:last-of-type {
      border-bottom: $card-border-width solid $card-border-color;
  
      .app-card-link__link,
      .app-card-link__content {
        border: 0;
      }
    }
  
  }

}

// Spacing modifiers for card content
// Could possibly be utility classes?
.app-card-link__main--gap-4 {
  gap: nhsuk-spacing(1);
}

.app-card-link__main--gap-8 {
  gap: nhsuk-spacing(2);
}

.app-card-link__main--gap-12 {
  gap: 12px;
}

// Utility class (to be added somewhere else!)

.nhsuk-u-text-color {
  color: $nhsuk-text-color !important;
}