// ==========================================================================
// COMPONENTS / #CARD
// ==========================================================================

.app-card--blue {
  background-color: $nhsuk-link-color;
  border: 0;
  color: $color_nhsuk-white;
}

.app-card--dark-blue {
  background-color: $nhsuk-link-active-color;
  border: 0;
  color: $color_nhsuk-white;
}

.app-card__content {
  @include reading-width();
  @include nhsuk-responsive-padding(5, "bottom");
  @include nhsuk-responsive-padding(4, "right");
  @include nhsuk-responsive-padding(4, "left");
  @include nhsuk-responsive-padding(5, "top");
}

// Gives correct padding left and right when full width
.app-u-full-width-tablet {
  .app-card__content {
    @include mq($from: tablet, $until: desktop) {
      padding-left: nhsuk-spacing(5);
      padding-right: nhsuk-spacing(5);
    }
  }
}

// Removes border from a card
.app-card--no-border {
  border: 0;
}

// Center aligns card content
.app-card--center-align {
  text-align: center;

  .app-card__content {
    margin: 0 auto;
  }
}

