// ==========================================================================
// COMPONENTS / #CARD
// ==========================================================================

.app-card--blue {
  background-color: $nhsuk-link-color;
  border: 0;
  color: white;
}

.app-card--dark-blue {
  background-color: #002f5c;
  border: 0;
  color: white;
}

.app-card__content {
  @include reading-width();
  @include nhsuk-responsive-padding(5, "bottom");
  @include nhsuk-responsive-padding(4, "right");
  @include nhsuk-responsive-padding(4, "left");
  @include nhsuk-responsive-padding(5, "top");

  .app-button {
    width: 100%;

    @include mq($from: tablet) {
      width: 50%;
    }
  }

}

// Gives correct padding left and right when full width
.app-u-full-width-tablet {
  .app-card__content {
    @include mq($from: tablet, $until: desktop) {
      padding-left: nhsuk-spacing(5);
      padding-right: nhsuk-spacing(5);
    }
  }
}


