// ==========================================================================
// COMPONENTS / #CARD
// ==========================================================================

//Media
.app-card-link__img {
  display: block;
  max-width: 100%;
}

// Large card with image
// Used for new campaign card
.app-card-link--full-width {
  @include mq($from: desktop) {
    display: flex;

    .app-card-link__media {
      display: flex;
      flex: 2 0;
    }

    .app-card-link__img {
      flex: none;
    }

    .nhsapp-card__container {
      flex: 2 0;
      gap: nhsuk-spacing(5);
    }

  }
  @include mq($from: large-desktop) {
    .app-card-link__media {
      flex-grow: 2;
    }
    .nhsapp-card__container {
      flex-grow: 3;
    }
  }
}

// Colours
.app-card-link--blue {
  background-color: $nhsuk-link-color;
}

.app-card-link--dark-blue {
  background-color: $nhsuk-link-active-color;
}

.app-card-link--blue,
.app-card-link--dark-blue {
  border: 0;
  color: $color_nhsuk-white;

  .nhsapp-card__container {
    border-color: $color_nhsuk-white;
  }

  .nhsapp-card__link {
    color: currentColor;
  }

  &:hover {
    .nhsapp-icon {
      fill: $color_nhsuk-white;
    }
  }

  .nhsuk-card-link__img {
    border-bottom: 0;
  }

  .nhsapp-icon {
    fill: $color_nhsuk-white;
  }

  .nhsuk-caption-s,
  .nhsuk-caption-m,
  .nhsuk-caption-l,
  .nhsuk-caption-xl {
    color: $color_nhsuk-white;
  }

  .nhsuk-link {
    color: currentColor;
  }
}

// NEEDS CLEANING UP
.app-card--blue {
  background-color: $nhsuk-link-color;
}

.app-card--dark-blue {
  background-color: $nhsuk-link-active-color;
}

.app-card--blue,
.app-card--dark-blue {
  border: 0;
  color: $color_nhsuk-white;

  a {
    color: currentColor;
  }

  .nhsuk-card__link {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .nhsuk-card__img {
    border-bottom: 0;
  }

  .app-card__chevron {
    fill: $color_nhsuk-white;
  }
}

.app-card__content {
  @include nhsuk-responsive-padding(5, "bottom");
  @include nhsuk-responsive-padding(4, "right");
  @include nhsuk-responsive-padding(4, "left");
  @include nhsuk-responsive-padding(4, "top");
}

.app-card__content--with-chevron {
  @include nhsuk-responsive-padding(9, "right");

  position: relative;
}

// Gives correct padding left and right when full width
.app-u-full-width-tablet {
  .app-card__content {
    @include mq($from: tablet, $until: desktop) {
      padding-left: nhsuk-spacing(5);
      padding-right: nhsuk-spacing(5);
    }
  }
}

// Removes border from a card
.app-card--no-border {
  border: 0;
}

// Center aligns card content
.app-card--center-align {
  text-align: center;

  .app-card__content {
    margin: 0 auto;
  }
}

// Card overrides
$card-border-width: 1px;

// Secondary card link
.app-cards--secondary .nhsapp-card,
.app-card--secondary {
  background: transparent;
  border-width: $card-border-width;

  &:first-of-type,
  &:last-of-type {
    border-width: $card-border-width;
  }
}

// Blue card
// Used for account

$card-blue-background: #D2E1EF;
$card-blue-color: $nhsuk-link-active-color;

.app-cards--blue .nhsapp-card {
  background: $card-blue-background;
  border-color: $card-blue-background;
  color: $card-blue-color;

  &:first-of-type,
  &:last-of-type {
    border-color: $card-blue-background;
  }

  .nhsapp-card__container {
    border-color: $card-blue-color;
  }

  .nhsapp-card__link {
    color: $card-blue-color;
  }

  .nhsapp-icon {
    fill: $card-blue-color;
  }
}