// ==========================================================================
// COMPONENTS / #CONFIRMATION
// ==========================================================================

.app-confirmation {
  margin-bottom: nhsuk-spacing(5);
  text-align: center;

  .app-icon--confirmation {
    margin: 0 nhsuk-spacing(2) 0;

    @include mq($until: desktop) {
      height: 80px;
      width: 80px;
    }
  }
}

.app-confirmation--blue {
  @include nhsuk-responsive-padding(5);

  background: $color_nhsuk-white;
}
