// ==========================================================================
// COMPONENTS / #CONFIRMATION
// ==========================================================================

.app-confirmation {
  margin-bottom: nhsuk-spacing(4);
  text-align: center;

  .app-icon--confirmation {
    margin: nhsuk-spacing(2) 0;
  }
}