// ==========================================================================
// COMPONENTS / #DATE PICKER
// ==========================================================================

.app-date-picker {
  overflow-y: hidden;
  padding: 0 32px;
  margin-bottom: 40px;
  position: relative;
}

.app-date-picker__container {
  overflow-x: auto;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
}

.app-date-picker__item {
  background: $color_nhsuk-grey-2;
  color: $color_nhsuk-white;
  display: inline-block;
  flex: 1 0 68px;
  margin: 2px;
  text-align: center;

  &:last-child {
    margin: 2px;
  }
}

.app-date-picker__link {
  background: $color_nhsuk-white;
  display: inline-block;
  color: $color_nhsuk-blue;
  min-height: 68px;
  text-decoration: none;
  width: 68px;

  &:visited {
    color: $color_nhsuk-blue;
  }
}

.app-date-picker__link--active {
  background: $color_nhsuk-blue;
  color: $color_nhsuk-white;

  &:visited {
    color: $color_nhsuk-white;
  }
}

.date-picker__day {
  display: block;
  font-size: 16px;
  line-height: 24px;
  margin-top: 6px;
}

.date-picker__number {
  display: block;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
}

.app-date-picker__button {
  background: transparent;
  border: 0;
  height: 68px;
  position: absolute;
  top: 0;
  width: 24px;
}

.app-date-picker__button--left {
  left: 0;
}

.app-date-picker__button--right {
  right: 0;
}