// ==========================================================================
// COMPONENTS / #DYNAMIC HEADING
// ==========================================================================

.app-dynamic-page-title {
  @include nhsuk-responsive-margin(7, "bottom");
  
  margin-top: nhsuk-spacing(2);

  .nhsuk-logo{
    @include nhsuk-responsive-margin(3, "bottom");

    @include mq($from: tablet) {
      height: nhsuk-spacing(5);
      width: 80px; // do we need to increase nhsuk spacing scale?
    }
  }
}

.app-dynamic-page-title__heading {
  @include nhsuk-responsive-margin(2, "bottom");
}

.app-dynamic-page-title__nhs-number {
  color: $nhsuk-link-color;
}

