// ==========================================================================
// COMPONENTS / #DYNAMIC HEADING
// ==========================================================================

.app-dynamic-heading {
  margin-bottom: 24px;
}

.app-dynamic-heading__logo {
  margin-bottom: 12px;
}

.app-dynamic-heading__title {
  margin-bottom: 12px;
}

.app-dynamic-heading__description {

}

.app-dynamic-heading__nhs-number {

}
