// ==========================================================================
// COMPONENTS / #DYNAMIC HEADING
// ==========================================================================

.app-dynamic-page-title {
  @include nhsuk-responsive-margin(7, "bottom");

  .nhsuk-logo{
    @include nhsuk-responsive-margin(1, "bottom");

    @include mq($from: tablet) {
      height: 32px;
      width: 80px;
    }
  }
}

.app-dynamic-page-title__heading {
  @include nhsuk-responsive-margin(3, "bottom");
}

.app-dynamic-page-title__nhs-number {
  color: $nhsuk-link-color;
}

