// Header link CSS - from NHS App

.HeaderLink_header-link_hc7Ob[data-v-0837c6cc] {
  margin: 0
}

.HeaderLink_header-link_hc7Ob a[data-v-0837c6cc] {
  display: block;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  padding: .5em
}

.HeaderLink_header-link_hc7Ob a[data-v-0837c6cc]:active,.HeaderLink_header-link_hc7Ob a[data-v-0837c6cc]:visited {
  color: #fff
}

.HeaderLink_header-link_hc7Ob a[data-v-0837c6cc]:hover {
  background: #003d78!important;
  box-shadow: none!important;
  color: #fff!important;
  text-decoration: underline!important
}

.HeaderLink_header-link_hc7Ob b[data-v-0837c6cc] {
  display: block;
  display: inline-block;
  color: #fff
}

.HeaderLinks_header-links_Sx73j[data-v-3e6c377a] {
  float: right;
  display: none
}

@media(min-width: 990px) {
  .HeaderLinks_header-links_Sx73j[data-v-3e6c377a] {
      display:inline-block
  }
}

// Header nav CSS - taken from NHS App

nav[data-v-13bcd11a] {
  overflow: hidden;
  height: auto;
  display: none
}

nav[data-v-13bcd11a] :focus {
  box-shadow: inset 0 0 0 4px #ffeb3b
}

nav .HeaderMenu_menu-nojs-caption_GZHaZ[data-v-13bcd11a] {
  display: none
}

@media(min-width: 990px) {
  nav[data-v-13bcd11a] {
      display:block
  }

  nav .HeaderMenu_additionalMenuItem_dDTZi[data-v-13bcd11a] {
      display: none
  }

  nav div>ul[data-v-13bcd11a] {
      display: flex;
      flex-wrap: wrap;
      list-style: none
  }

  nav div>ul li[data-v-13bcd11a] {
      display: inline-block;
      margin: 0;
      color: #fff;
      flex-grow: 1;
      text-align: center
  }

  nav div>ul li a[data-v-13bcd11a] {
      display: block;
      color: #212b32;
      color: #fff
  }

  nav div>ul li a[data-v-13bcd11a]:active,nav div>ul li a[data-v-13bcd11a]:visited {
      color: #fff
  }

  nav div>ul li a[data-v-13bcd11a]:hover {
      background: #003d78!important;
      box-shadow: none!important;
      color: #fff!important;
      text-decoration: underline!important
  }

}

nav a.HeaderMenu_mini-menu-close-button_l0xjC[data-v-13bcd11a] {
  display: none
}

nav a.HeaderMenu_mini-menu-close-button_l0xjC[data-v-13bcd11a] :focus {
  outline-color: #ffeb3b;
  box-shadow: inset 0 0 0 4px #ffeb3b;
  outline-offset: -5px
}

@media(max-width: 641px) {
  nav[data-v-13bcd11a] {
      background:#fff
  }

  nav hr[data-v-13bcd11a] {
      display: none
  }

  nav .HeaderMenu_menu-nojs-caption_GZHaZ[data-v-13bcd11a] {
      padding: 1em .8em 1em 1em;
      display: block;
      border-bottom: 1px solid #f0f4f5;
      color: #212b32;
      cursor: pointer;
      cursor: default
  }
}

header[data-v-2907a3a6] {
  background: #005eb8;
  color: #fff;
  position: relative;
  height: auto;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
  box-sizing: border-box;
  min-width: 300px
}

header .WebHeader_header-content_pzc7e[data-v-2907a3a6] {
  display: block
}

header .WebHeader_header-content_pzc7e .WebHeader_nhsLogo_H3x6R a.WebHeader_anchor-icon_M8AGY[data-v-2907a3a6],header .WebHeader_header-content_pzc7e .WebHeader_nhsLogo_H3x6R[data-v-2907a3a6] {
  color: #fff;
  display: inline-block
}

header .WebHeader_header-content_pzc7e a.WebHeader_mini-menu-toggler_iFxcZ[data-v-2907a3a6] {
  display: none
}

header .WebHeader_header-content_pzc7e a.WebHeader_mini-menu-toggler_iFxcZ[data-v-2907a3a6] :focus {
  background-color: transparent;
  border-color: #ffeb3b;
  box-shadow: 0 0 0 3px #ffeb3b
}

header .WebHeader_menuButton_DYQ_7[data-v-2907a3a6] {
  margin-right: 0;
  right: auto
}

@media(max-width: 989px) {
  header .WebHeader_menuButton_DYQ_7[data-v-2907a3a6] {
      display:inline
  }
}

@media(min-width: 641px) {
  header .WebHeader_menuButton_DYQ_7[data-v-2907a3a6] {
      margin-right:0
  }
}

@media(max-width: 641px) {
  header .WebHeader_header-content_pzc7e a.WebHeader_mini-menu-toggler_iFxcZ[data-v-2907a3a6] {
      float:right;
      margin-top: .8em;
      display: inline-block;
      font-family: FrutigerLTW01-55Roman,sans-serif,Arial;
      font-weight: 700;
      line-height: 2em;
      color: #fff;
      font-size: 1.125em;
      border: 1px solid #fff;
      border-radius: .5em;
      padding: .125em .8em;
      margin-left: 1em;
      cursor: pointer
  }

  header .WebHeader_header-content_pzc7e a.WebHeader_mini-menu-toggler_iFxcZ[data-v-2907a3a6]:focus {
      box-shadow: 0 0 0 4px #ffeb3b
  }

  header .WebHeader_header-content_pzc7e a.WebHeader_mini-menu-toggler_iFxcZ[data-v-2907a3a6]:hover {
      background: #003d78;
      box-shadow: 0 0 0 4px #ffeb3b;
      text-decoration: none
  }
}

// Overrides

@media (min-width: 61.875em) {
  .nhsuk-header__navigation-list {
      justify-content: flex-start;
      gap: 32px;
  }

  nav div > ul li[data-v-13bcd11a] {
    flex-grow: 0;
  }
}

.HeaderLink_header-link_hc7Ob a[data-v-0837c6cc]:focus {
  color: #212b32;
}