// ==========================================================================
// COMPONENTS / #DYNAMIC HEADING
// ==========================================================================

.app-icon {
  fill: $nhsuk-link-color; // Set default icon colour to NHS blue
}

.app-icon--no-fill {
  fill: none; // Removes fill colour
}

.app-icon--16 {
  height: 16px !important;
  width: 16px !important;
}

.text-with-icon {
  align-items: center;
  display: inline-flex;
  gap: nhsuk-spacing(2);
}

.app-icon--warning {
  @include nhsuk-responsive-margin(2, "bottom");

  height: 40px;
  width: 40px;

  @include mq($from: tablet) {
    height: 56px;
    width: 56px;
  }
}