// ==========================================================================
// COMPONENTS / #PANEL LINK CARD
// ==========================================================================

.app-panel-link-card {
  @include nhsuk-responsive-margin(7, "bottom");

  background-color: white;
  border: $card-border-width solid $card-border-color;
  list-style: none;
  padding: 0;
}

.app-panel-link-card__item {
  @include nhsuk-responsive-margin(4, "left");
  @include nhsuk-responsive-margin(4, "right");

  border-bottom: $card-border-width solid $card-border-color;
  margin-bottom: 0;
  padding: 20px 0;
  position: relative;

  @include mq($from: tablet) {
    padding: 24px 0;
  }

  &:last-child {
    border: none;
  }

}

.app-panel-link-card__link {
  margin-bottom: 0;
  margin-right: 32px;
  text-decoration: none;

  &::after {
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  &:hover {
    text-decoration: underline;
  }

}

.app-panel-link-card__description {
  margin: 4px 0 0;
}

// Chevron

.app-panel-link-card__chevron {
  position: absolute;
  height: 24px;
  right: -4px;
  top: calc(50% - 12px);
  width: 24px;

  @include mq($from: tablet) {
    height: 28px;
    right: -2px;
    top: calc(50% - 14px);
    width: 28px;
  }
}

// Variant with icon

.app-panel-link-card__item--with-icon {
  @include nhsuk-responsive-padding(7, "left");
}

.app-panel-link-card__icon {
  height: 24px;
  position: absolute;
  left: 0;
  height: 24px;

  @include mq($from: tablet) {
    height: 28px;
    width: 28px;
  }
}

// Variant with badge

.app-panel-link-card__item--with-badge {

  .app-panel-link-card__link {
    margin-right: 72px;

    @include mq($from: tablet) {
      margin-right: 96px;
    }
  }

  .app-badge {
    position: absolute;
    right: 32px;
    top: calc(50% - 12px);

    @include mq($from: tablet) {
      right: 48px;
      top: calc(50% - 14px);
    }
  }
}