// Link with an icon
.app-link--with-icon {
  padding-left: nhsuk-spacing(6);
  position: relative;

  .app-icon {
    fill: $nhsuk-link-color;
    height: nhsuk-spacing(4);
    position: absolute;
    left: 0;
    width: nhsuk-spacing(4);

    @include mq($from: tablet) {
      height: 28px;
      width: 28px;
    }
  }
}