// Link with an icon
.app-link-with-icon {
  padding-left: nhsuk-spacing(6);
  position: relative;

  .app-icon {
    fill: $nhsuk-link-color;
    height: nhsuk-spacing(4);
    position: absolute;
    left: 0;
    width: nhsuk-spacing(4);

    @include mq($from: tablet) {
      height: 28px;
      width: 28px;
    }
  }

  a {
    &:hover {
      .app-icon {
        fill: $nhsuk-link-hover-color;
      }
    }

    &:visited {
      .app-icon {
        fill: $nhsuk-link-visited-color;
      }
    }

    &:visited {
      .app-icon {
        fill: $nhsuk-link-active-color;
      }
    }

    &:focus {
      .app-icon {
        fill: $nhsuk-link-active-color;
      }
    }
  }
  
}

// Link with an icon
.app-link-with-icon--compact {
  padding-left: nhsuk-spacing(5);
  margin-bottom: nhsuk-spacing(3);
}

// Back link
.app-back-link {
  @include nhsuk-responsive-margin(3, "bottom");

  .nhsuk-back-link__link {
    @include nhsuk-responsive-padding(4, "left");
    @include nhsuk-typography-responsive(19);
  }

  .nhsuk-icon__chevron-left {
    height: 24px;
    width: 24px;

    @include mq($until: tablet) {
      top: auto; // Overrides service manual icon alignment - could do with reviewing in the NHS.UK Frontend
    }

    @include mq($from: tablet) {
      height: 28px;
      width: 28px;
    }
  }

}