/* ==========================================================================
   COMPONENTS / #LOADER
   ========================================================================== */

   .app-loader {
    @include nhsuk-responsive-margin(4, bottom);
    @include nhsuk-responsive-margin(4, top);
    
    position: relative;
    text-align: center;
  }
  
  .app-loader__spinner {
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .app-loader--middle {
    left: 0;
    position: fixed;
    right: 0;
    top: calc(50% - 32px);
  }