// ==========================================================================
// COMPONENTS / #PANEL LINK CARD
// ==========================================================================

.app-panel-link-card {
  @include nhsuk-responsive-margin(5, "bottom");

  background-color: $color_nhsuk-white;
  border: $card-border-width solid $card-border-color;
  position: relative;
}

.app-panel-link-card__content {
  @include nhsuk-responsive-padding(4);

  @include mq($until: tablet) {
    padding-bottom: 20px;
    padding-top: 20px;
  }
}

.app-panel-link-card__link {
  display: inline-block;
  margin-bottom: 0;
  margin-right: nhsuk-spacing(3);
  text-decoration: none;

  .app-panel-link-card__chevron {
    fill: currentColor;
  }

  &::after {
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: $nhsuk-link-color;
  }

}

.app-panel-link-card__description,
.app-panel-link-card__list {
  margin: 12px nhsuk-spacing(5) 0 0;
}

// Chevron

.app-panel-link-card__chevron {
  fill: $nhsuk-link-color;
  height: nhsuk-spacing(4);
  position: absolute;
  right: nhsuk-spacing(3);
  top: calc(50% - 12px);
  width: nhsuk-spacing(4);

  @include mq($from: tablet) {
    height: 32px;
    right: nhsuk-spacing(4);
    top: calc(50% - 16px);
    width: 32px;
  }
}

// Variant with icon

.app-panel-link-card--with-icon {
  @include nhsuk-responsive-padding(7, "left");

  .app-icon {
    height: nhsuk-spacing(4);
    position: absolute;
    left: nhsuk-spacing(3);
    height: nhsuk-spacing(4);
    top: calc(50% - 12px);

    @include mq($from: tablet) {
      height: 28px;
      left: nhsuk-spacing(4);
      width: 28px;
      top: calc(50% - 14px);
    }
  }

}

// Variant with badge

.app-panel-link-card--with-badge-right {

  .app-panel-link-card__link {
    margin-right: 72px;

    @include mq($from: tablet) {
      margin-right: 96px;
    }
  }

  .app-badge {
    position: absolute;
    right: nhsuk-spacing(8);
    top: calc(50% - 12px);

    @include mq($from: tablet) {
      right: 80px;
      top: calc(50% - 14px);
    }
  }
}

.app-panel-link-card--with-badge-top {

  .app-panel-link-card__link {
    margin-top: nhsuk-spacing(6) - 4px;

    @include mq($from: tablet) {
      margin-top: nhsuk-spacing(7) - 4px;
    }
  }

  .app-badge {
    position: absolute;
    left: nhsuk-spacing(3);
    top: 20px;

    @include mq($from: tablet) {
      left: nhsuk-spacing(4);
      top: nhsuk-spacing(4);
    }
  }
}

.app-panel-link-card__content {
  @include nhsuk-responsive-margin(4, "left");
  @include nhsuk-responsive-margin(4, "right");
  @include nhsuk-responsive-padding(0, "left");
}

// Stacked

.app-panel-link-card-stacked,
.app-panel-link-card-spaced {
  @include nhsuk-responsive-margin(7, "bottom");

  list-style: none;
  padding: 0;
}

.app-panel-link-card-stacked {
  border: $card-border-width solid $card-border-color;

  .app-panel-link-card {
    @include nhsuk-responsive-margin(0, "bottom");

    border: 0;

    .app-panel-link-card__content {
      border-bottom: $card-border-width solid $card-border-color;
    }

    &:last-child {
      .app-panel-link-card__content {
        border: 0;
      }
    }
  }

}

// Messages

.app-panel-link-card__content--message {
  padding-left: 16px;

  @include mq($from: tablet) {
    padding-left: 28px;
  }

  .app-panel-link-card__description {
    margin-right: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.app-panel-link-card__link--with-badge {
  position: relative;

  &:before {
    background-color: $color_nhsuk-blue;
    content: "";
    border-radius: 50%;
    display: block;
    height: 8px;
    left: -16px;
    position: absolute;
    top: 7px;
    width: 8px;

    @include mq($from: tablet) {
      height: 12px;
      left: -28px;
      top: 7px;
      width: 12px;
    }
  }
}

.app-panel-link-card__tag {
  display: block;
  margin-bottom: 16px;
}