// ==========================================================================
// COMPONENTS / #SECTION TITLE
// ==========================================================================

.app-section-title {
  position: relative;
  margin-bottom: 12px;
}

.app-section-title__heading {
  margin-bottom: 0;
}

.app-section-title__link {
  position: absolute;
  right: 0;
  top: 2px;
}