// ==========================================================================
// COMPONENTS / #SECTION TITLE
// ==========================================================================

.app-section-title {
  @include nhsuk-responsive-margin(4, "bottom");

  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  gap: nhsuk-spacing(3);
}