/* ==========================================================================
  #TAG
  ========================================================================== */

.app-tag {
  @include nhsuk-font($size: 16, $weight: normal, $line-height: 1.25);
  background-color: tint($color_nhsuk-blue, 80%);
  border: 1px solid shade($color_nhsuk-blue, 30%);
  border-radius: 2px;
  color: shade($color_nhsuk-blue, 30%);
  margin-bottom: -2px;
  margin-top: -2px;
  padding: 3px 10px;

  @include mq($from: tablet) {
    line-height: 1.47368;
  }
}

.app-tag--new {
  @include nhsuk-font($size: 16, $weight: bold, $line-height: 1.25);
  background-color: tint($color_nhsuk-blue, 80%);
  border: 1px solid shade($color_nhsuk-blue, 30%);
  border-radius: 2px;
  color: shade($color_nhsuk-blue, 30%);
  letter-spacing: 0.01rem;
  padding: 3px 10px;

  @include mq($until: tablet) {
    line-height: 1.4285em;
  }
}

.app-tag--uppercase {
  text-transform: uppercase;
}

/* Colour variants
  ========================================================================== */

.app-tag--white {
  background-color: $color_nhsuk-white;
  border-color: $color_nhsuk-black;
  color: $color_nhsuk-black;
}

.app-tag--grey {
  background-color: $color_tag-grey-background;
  border-color: $color_tag-grey-text;
  color: $color_tag-grey-text;
}

.app-tag--green {
  background-color: $color_tag-green-background;
  border-color: $color_tag-green-text;
  color: $color_tag-green-text;
}

.app-tag--aqua-green {
  background-color: tint($color_nhsuk-aqua-green, 80%);
  border-color: shade($color_nhsuk-aqua-green, 50%);
  color: shade($color_nhsuk-aqua-green, 50%);
}

.app-tag--blue {
  background-color: tint($color_nhsuk-blue, 80%);
  border-color: shade($color_nhsuk-blue, 30%);
  color: shade($color_nhsuk-blue, 30%);
}

.app-tag--purple {
  background-color: $color_tag-purple-background;
  border-color: $color_tag-purple-text;
  color: $color_tag-purple-text;
}

.app-tag--pink {
  background-color: tint($color_nhsuk-pink, 85%);
  border-color: shade($color_nhsuk-pink, 25%);
  color: shade($color_nhsuk-pink, 25%);
}

.app-tag--red {
  background-color: $color_tag-red-background;
  border-color: $color_tag-red-text;
  color: $color_tag-red-text;
}

.app-tag--orange {
  background-color: $color_tag-orange-background;
  border-color: $color_tag-orange-text;
  color: $color_tag-orange-text;
}

.app-tag--yellow {
  background-color: $color_tag-yellow-background;
  border-color: $color_tag-yellow-text;
  color: $color_tag-yellow-text;
}

.app-tag--text-color {
  background-color: transparent;
  border-color: transparent;
  color: $nhsuk-text-color;
}

.app-tag--secondary-text-color {
  background-color: transparent;
  border-color: transparent;
  color: $nhsuk-secondary-text-color;
}

.app-tag--no-border {
  border: 0;
  padding: 4px 10px;

  &.app-tag--new {
    padding: 4px 10px;
  }
}
  
.nhsuk-tag--normal {
  font-weight: normal;
}