/* ==========================================================================
  #TIMELINE
  ========================================================================== */

.app-timeline {
  list-style: none;
  margin: 0;
  padding: 0;
}
  
.app-timeline__item {
  display: flex;
  margin-bottom: 0;
  margin-left: 12px;
  padding-bottom: 40px;
  position: relative;

  &:last-child {
    padding-bottom: 24px;

    &:before {
      background-image: none;
    }
  }
}

.app-timeline__item:before {
  background-image: url('data:image/svg+xml,<svg width="2" height="400" viewBox="0 0 2 400" fill="none" xmlns="http://www.w3.org/2000/svg"><line x1="0.75" y1="0.75" x2="0.749983" y2="399.25" stroke="%23005EB8" stroke-width="1.5" stroke-linecap="round" stroke-dasharray="6 6"/></svg>');
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  top: 0;
  width: 0.094rem;

  @include mq($from: tablet) {
    top: 2px;
  }
}

.app-timeline__badge {
  align-items: center;
  height: 24px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  margin-left: -12px;
  margin-right: 16px;
  width: 24px;
  z-index: 1;

  @include mq($from: tablet) {
    margin-top: 2px;
  }
}

.app-timeline__body {
  margin-top: 0;
  max-width: 100%;
  min-width: 0;
}

.app-timeline__item--past {
  .app-timeline__badge-fill {
    fill: $color_nhsuk-blue;
  }
}
