{% extends 'components/layout.html' %}

{% set pageHeading = "Dynamic Page Title" %}
{% set backlogID = "16" %}

{% block innerContent %}

  <h2 class="nhsuk-heading-l">Variants</h2>

  <h3 class="nhsuk-heading-s">Homepage</h3>

  <div class="example">
    {{ dynamicPageTitle({
      logo: data['web'] !== "yes",
      greetingName: data['userFirstName'],
      nhsNumber: data['nhsNumber']
    })}}
  </div>

  <h3 class="nhsuk-heading-s">Homepage (web)</h3>

  <div class="example">
    {{ dynamicPageTitle({
      greetingName: data['userFirstName'],
      nhsNumber: data['nhsNumber']
    })}}
  </div>

  <h3 class="nhsuk-heading-s">Homepage (linked profiles)</h3>

  <div class="example">
    {{ dynamicPageTitle({
      logo: data['web'] !== "yes",
      linkedProfile: {
        name: data['linkedProfileFirstName'] + " " + data['linkedProfileLastName'],
        age: data['linkedProfileAge']
      }
    })}}
  </div>

  <h3 class="nhsuk-heading-s">Homepage (linked profiles - web)</h3>

  <div class="example">
    {{ dynamicPageTitle({
      linkedProfile: {
        name: data['linkedProfileFirstName'] + " " + data['linkedProfileLastName'],
        age: data['linkedProfileAge']
      }
    })}}
  </div>

  <h3 class="nhsuk-heading-s">Secondary</h3>

  <div class="example">
    {{ dynamicPageTitle({
      title: "Services",
      description: "Get care and support to help you stay well"
    })}}
  </div>

  <h2 class="nhsuk-heading-l">Examples in context</h2>

  <ul clas="nhsuk-list">
    <li>
      <a href="/pages/home-p9">Homepage - P9</a>
    </li>
    <li>
      <a href="/pages/services-p9">Services - P9</a>
    </li>
    <li>
      <a href="/pages/messages-p9">Messages - P9</a>
    </li>
  </ul>

{% endblock %}
