{% extends 'layout-app.html' %}

{% set hub = "Services" %}

{% set backLink = true %}

{% set pageHeading = "Check the details of your request" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSecondary: true
      })}}

      <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Medicines
          </dt>
          <dd class="nhsuk-summary-list__value">
            <ul class="nhsuk-list nhsuk-list--border">

              {% if "select-medicines-1" in data['select-medicines'] or data['select-medicines'] == "" %}
              <li>
                {{ data['medicine1'] }}
                <span class="nhsuk-u-display-block nhsuk-u-secondary-text-color">
                  {{ data['medicine1description'] }}
                </span>
              </li>
              {% endif %}

              {% if "select-medicines-2" in data['select-medicines'] or data['select-medicines'] == "" %}
              <li>
                {{ data['medicine2'] }}
                <span class="nhsuk-u-display-block nhsuk-u-secondary-text-color">
                  {{ data['medicine2description'] }}
                </span>
              </li>
              {% endif %}

              {% if "select-medicines-3" in data['select-medicines'] or data['select-medicines'] == "" %}
              <li>
                {{ data['medicine3'] }}
                <span class="nhsuk-u-display-block nhsuk-u-secondary-text-color">
                  {{ data['medicine3description'] }}
                </span>
              </li>
              {% endif %}

              {% if "select-medicines-4" in data['select-medicines'] or data['select-medicines'] == "" %}
              <li>
                {{ data['medicine4'] }}
                <span class="nhsuk-u-display-block nhsuk-u-secondary-text-color">
                  {{ data['medicine4description'] }}
                </span>
              </li>
              {% endif %}

              {% if "select-medicines-5" in data['select-medicines'] or data['select-medicines'] == "" %}
              <li>
                {{ data['medicine5'] }}
                <span class="nhsuk-u-display-block nhsuk-u-secondary-text-color">
                  {{ data['medicine5description'] }}
                </span>
              </li>
              {% endif %}

              {% if "select-medicines-6" in data['select-medicines'] or data['select-medicines'] == "" %}
              <li>
                {{ data['medicine6'] }}
                <span class="nhsuk-u-display-block nhsuk-u-secondary-text-color">
                  {{ data['medicine6description'] }}
                </span>
              </li>
              {% endif %}

            </ul>
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="/pages/your-health/repeat-prescription/select-medicines">Edit<span class="nhsuk-u-visually-hidden"> medicines</span></a>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Notes for your GP surgery
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['prescription-request-note'] or "No notes added" }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="/pages/your-health/repeat-prescription/add-note">Edit<span class="nhsuk-u-visually-hidden"> Notes for your GP surgery</span></a>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Your nominated pharmacy
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>
              BAKERS CHEMIST<br />
              219 - 223 UPPER TOOTING RD<br />
              LONDON<br />
              SW17 7TG<br />
              02086726116
            </p>
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="/pages/your-health/repeat-prescription/check-the-pharmacy">Edit<span class="nhsuk-u-visually-hidden"> Your nominated pharmacy</span></a>
          </dd>
        </div>

      </dl>

      <form id="form" method="post" action="/pages/your-health/repeat-prescription/prescription-requested-2" novalidate="novalidate">

        <input type="hidden" name="prescription-requested" value="true">

        {{ button({
          text: "Request medicines",
          classes: "nhsapp-button"
        }) }}

      </form>

    </div>
  </div>

  {% endblock %}
