{% extends 'layout-app.html' %}

{% set hub = "Services" %}

{% set backLink = true %}

{% set pageHeading = "Check your chosen pharmacy" %}
{% set pageDescription = "This is the pharmacy the medicines will be collected or delivered from." %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSecondary: true,
        description: pageDescription
      })}}

      <p class="nhsuk-u-margin-bottom-5">
        <span class="nhsuk-u-font-weight-bold">BOOTS</span><br />
        Balham<br />
        London<br />
        SW12 73G<br />
        080867766155
      </p>

      {{ details({
        "classes": "nhsuk-expander",
        "text": "Opening hours",
        "HTML": "
        <dl class='nhsuk-summary-list app-summary-list--two-columns-on-mobile'>

          <div class='nhsuk-summary-list__row'>
            <dt class='nhsuk-summary-list__key'>
              Sunday
            </dt>
            <dd class='nhsuk-summary-list__value'>
              Closed
            </dd>
          </div>

          <div class='nhsuk-summary-list__row'>
            <dt class='nhsuk-summary-list__key'>
              Monday
            </dt>
            <dd class='nhsuk-summary-list__value'>
              9am to 12:30pm <br />
              1:30pm to 6pm
            </dd>
          </div>

          <div class='nhsuk-summary-list__row'>
            <dt class='nhsuk-summary-list__key'>
              Tuesday
            </dt>
            <dd class='nhsuk-summary-list__value'>
              9am to 12:30pm <br />
              1:30pm to 6pm
            </dd>
          </div>

          <div class='nhsuk-summary-list__row'>
            <dt class='nhsuk-summary-list__key'>
              Wednesday
            </dt>
            <dd class='nhsuk-summary-list__value'>
              9am to 12:30pm <br />
              1:30pm to 6pm
            </dd>
          </div>

          <div class='nhsuk-summary-list__row'>
            <dt class='nhsuk-summary-list__key'>
              Thursday
            </dt>
            <dd class='nhsuk-summary-list__value'>
              9am to 12:30pm <br />
              1:30pm to 6pm
            </dd>
          </div>

          <div class='nhsuk-summary-list__row'>
            <dt class='nhsuk-summary-list__key'>
              Friday
            </dt>
            <dd class='nhsuk-summary-list__value'>
              9am to 12:30pm <br />
              1:30pm to 6pm
            </dd>
          </div>

          <div class='nhsuk-summary-list__row'>
            <dt class='nhsuk-summary-list__key'>
              Saturday
            </dt>
            <dd class='nhsuk-summary-list__value'>
              Closed
            </dd>
          </div>
        
        </dl>
        "
      }) }}

      <p class="nhsuk-u-margin-bottom-5"><a class="nhsuk-link" href="#">Change your chosen pharmacy</a></p>

      {{ button({
        text: "Continue",
        classes: "nhsapp-button",
        href: "/pages/your-health/repeat-prescription/check-request"
      }) }}

    </div>
  </div>

  {% endblock %}