{% extends 'layout-app.html' %}

{% set hub = "Your health" %}

{% set backLink = true %}
{% set backLinkText = "Back" %}

{% set pageHeading = "Check the details of your request" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSecondary: true
      })}}

      <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Medicines
          </dt>
          <dd class="nhsuk-summary-list__value">
            <ul class="nhsuk-list">
              <li>
                Atorvastatin 500mg capsules
                <span class="nhsuk-u-display-block nhsuk-u-secondary-text-color">Quantity: 10 capsules</span>
              </li>
              <li>
                Codeine phosphate 30mg tablets
                <span class="nhsuk-u-display-block nhsuk-u-secondary-text-color">Quantity: 10 capsules</span>
              </li>
            </ul>
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="#">Change<span class="nhsuk-u-visually-hidden"> medicines</span></a>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Notes for your GP surgery
          </dt>
          <dd class="nhsuk-summary-list__value">
            No notes added
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="#">Change<span class="nhsuk-u-visually-hidden"> Notes for your GP surgery</span></a>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Your nominated pharmacy
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>
              Menston Pharmacy<br />
              88 Main Street<br />
              Menston<br />
              Ilkley<br />
              West Yorkshire<br />
              LS29 6HY<br />
              01943873862
            </p>
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="#">Change<span class="nhsuk-u-visually-hidden"> Your nominated pharmacy</span></a>
          </dd>
        </div>

      </dl>

      {{ button({
        text: "Request prescriptions",
        classes: "app-button app-button--full-width",
        href: "/pages/your-health/repeat-prescription/prescription-requested"
      }) }}

    </div>
  </div>

  {% endblock %}
