{% extends 'layout-app.html' %}

{% set hub = "Services" %}

{% set backLink = true %}

{% set pageHeading = "Check the details of your request" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSecondary: true
      })}}

      <h2>Medicines</h2>

      <ul class="nhsuk-list nhsuk-list--border">
        {% if "select-medicines-1" in data['select-medicines'] or data['select-medicines'] == "" %}
          <li>
            <span class="nhsuk-u-font-weight-bold nhsuk-u-display-block">{{ data['medicine1'] }}</span>
            {{ data['medicine1description'] }}
          </li>
        {% endif %}

        {% if "select-medicines-2" in data['select-medicines'] or data['select-medicines'] == "" %}
          <li>
            <span class="nhsuk-u-font-weight-bold nhsuk-u-display-block">{{ data['medicine2'] }}</span>
            {{ data['medicine2description'] }}
          </li>
        {% endif %}

        {% if "select-medicines-3" in data['select-medicines'] or data['select-medicines'] == "" %}
          <li>
            <span class="nhsuk-u-font-weight-bold nhsuk-u-display-block">{{ data['medicine3'] }}</span>
            {{ data['medicine3description'] }}
          </li>
        {% endif %}

        {% if "select-medicines-4" in data['select-medicines'] or data['select-medicines'] == "" %}
          <li>
            <span class="nhsuk-u-font-weight-bold nhsuk-u-display-block">{{ data['medicine4'] }}</span>
            {{ data['medicine4description'] }}
          </li>
        {% endif %}

        {% if "select-medicines-5" in data['select-medicines'] or data['select-medicines'] == "" %}
          <li>
            <span class="nhsuk-u-font-weight-bold nhsuk-u-display-block">{{ data['medicine5'] }}</span>
            {{ data['medicine5description'] }}
          </li>
        {% endif %}

        {% if "select-medicines-6" in data['select-medicines'] or data['select-medicines'] == "" %}
          <li>
            <span class="nhsuk-u-font-weight-bold nhsuk-u-display-block">{{ data['medicine6'] }}</span>
            {{ data['medicine6description'] }}
          </li>
        {% endif %}
      </ul>

      <p><a href="/pages/your-health/repeat-prescription/select-medicines">Edit<span class="nhsuk-u-visually-hidden"> medicines</span></a></p>

      <hr>

      <h2>Notes for your GP surgery</h2>

      <p>{{ data['prescription-request-note'] or "No notes added" }}</p>

      <p><a href="/pages/your-health/repeat-prescription/add-note">Edit <span class="nhsuk-u-visually-hidden">notes</span></a></p>

      <hr>

      <h2>Your chosen pharmacy</h2>

      <p>
        <span class="nhsuk-u-font-weight-bold">BOOTS</span><br />
        Balham<br />
        London<br />
        SW12 73G<br />
        080867766155
      </p>

      <p><a href="/pages/your-health/repeat-prescription/check-the-pharmacy">Edit<span class="nhsuk-u-visually-hidden"> Your nominated pharmacy</span></a></p>

      <hr>

      <form id="form" method="post" action="/pages/your-health/repeat-prescription/prescription-requested-2" novalidate="novalidate">

        <input type="hidden" name="prescription-requested" value="true">

        {{ button({
          text: "Request medicines",
          classes: "nhsapp-button"
        }) }}

      </form>

    </div>
  </div>

  {% endblock %}
