{% extends 'layout-app.html' %}

{% set hub = "Account" %}

{% set pageHeading = "Account and settings" %}
{% set pageDescription = "Change your NHS App settings and personal details" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        description: pageDescription
      })}}

      <!-- PANEL LINK CARD - Your health -->
      {{ panelLinkCard({
        items: [
          {
            title: "Manage services for another person",
            URL: "#"
          },
          {
            title: "Change your contact or login details",
            URL: "#"
          },
          {
            title: "Turn on fingerprint, face or iris login",
            URL: "#"
          },
          {
            title: "Manage your notifications",
            URL: "#"
          },
          {
            title: "Manage cookies and read legal information",
            URL: "#"
          },
          {
            title: "Update your GP surgery on changes to your personal details",
            URL: "#"
          }
        ]
      })}}

      <!-- LOGOUT LINK WITH VERSION -->
      {% include "includes/components/logout-link-with-version.html" %}

    </div>
  </div>

{% endblock %}
