{% extends 'layout-app.html' %}

{% set hub = "Account and settings" %}

{% set linkedProfile = true %}

{% set pageHeading = "Account and settings" %}
{% set pageDescription = "It's not possible to access this section while acting on " + data['linkedProfileFirstName'] + "'s behalf." %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSecondary: true,
        description: pageDescription
      })}}

      <p class="nhsuk-u-margin-bottom-5">Switch to your profile to access this section.</p>

      <form action="/pages/account-and-settings-p9" method="post" novalidate>

        <input type="hidden" name="accountType" value="p9">

        {{ button({
          text: "Switch to my profile",
          classes: "nhsapp-button"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
