{% extends 'layout-app.html' %}

{% set hub = home %}

{% set linkedProfile = true %}

{% block pageTitle %}
  NHS App homepage
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- SWITCH PROFILE BANNER -->
      {% include "includes/components/switch-profile-banner.html" %}

      <!-- DYNAMIC PAGE TITLE -->
      {% if data['web'] === "yes" %}
        {{ dynamicPageTitle({
          linkedProfile: {
            name: data['linkedProfileName'],
            age: data['linkedProfileAge']
          }
        })}}
      {% else %}
        {{ dynamicPageTitle({
          logo: true,
          linkedProfile: {
            name: data['linkedProfileName'],
            age: data['linkedProfileAge']
          }
        })}}
      {% endif %}

      <!-- SECTION TITLE - SERVICES -->
      {{ sectionTitle({
        title: "Services",
        URL: "#",
        hiddenText: "services"
      })}}

      <!-- PANEL LINK CARD - SERVICES -->
      {{ panelLinkCard({
        items: [
          {
            title: "Find NHS services near you",
            URL: "#"
          }
        ]
      })}}

      <!-- GET HELP LINK -->
      {% include "includes/components/get-help-link.html" %}

    </div>
  </div>

{% endblock %}
