{% extends 'layout-app.html' %}

{% set hub = "Home" %}

{% set pageHeading = "Home" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        logo: data['web'] !== "yes",
        greetingName: data['userFirstName'] + " " + data['userLastName'],
        nhsNumber: data['nhsNumber']
      })}}

      <!-- SECTION TITLE - SERVICES -->
      {{ nhsappSectionHeading({
        headingText: "Services",
        linkText: "View all",
        linkUrl: "/pages/services-p9",
        linkAriaLabel: "View all services"
      }) }}

      {{ nhsappCardGroup({
        stacked: true,
        cards: [
          {
            title: "Request medicines",
            href: "/pages/your-health/repeat-prescription/select-medicines"
          },
          {
            title: "Check if you need urgent medical help using 111 online",
            href: "#"
          }
        ]
      }) }}

      <!-- SECTION TITLE - YOUR HEALTH -->
      {{ nhsappSectionHeading({
        headingText: "Your health",
        linkText: "View all",
        linkUrl: "/pages/your-health-p9",
        linkAriaLabel: "View all your health"
      }) }}

      {{ nhsappCardGroup({
        stacked: true,
        cards: [
          {
            title: "GP health record",
            href: "#"
          },
          {
            title: "View and manage prescriptions",
            href: "/pages/your-health/prescriptions-p9"
          },
          {
            title: "Upcoming and past appointments",
            href: "/pages/your-health/upcoming-and-past-appointments-p9"
          }
        ]
      }) }}

      <!-- SECTION TITLE - MESSAGES -->
      {{ nhsappSectionHeading({
        headingText: "Messages"
      }) }}

      {{ nhsappCardGroup({
        stacked: true,
        cards: [
          {
            title: 'View your messages',
            href: '/pages/messages-p9',
            prefixIcon: 'messages',
            linkAriaLabel: 'Messages, you have 4 unread messages',
            badgeLarge: {
              count: data['messages'],
              label: 'unread messages',
              ariaHidden: true
            }
          }
        ]
      }) }}

      <!-- SECTION TITLE - SWITCH PROFILES -->
      {{ nhsappSectionHeading({
        headingText: "Manage services for another person"
      }) }}

      {{ nhsappCard({
        title: 'Switch profiles',
        href: '/pages/account-and-settings/linked-profiles',
        prefixIcon: 'switchProfile'
      }) }}

      <!-- CAMPAIGN CARD -->
      <div class="app-card-link app-card-link--dark-blue app-card-link--full-width nhsuk-u-margin-top-7">
        <div class="app-card-link__media">
          <img class="app-card-link__img" src="/images/campaigns/campaign-card-image-2.jpg" alt="">
        </div>
        <div class="app-card-link__container">
          <div class="app-card-link__content">
            <a href="#" class="app-card-link__link nhsuk-u-font-size-32">
              Research changes lives
            </a>
            <div class="app-card-link__below">
              <p class="nhsuk-u-margin-top-2">Register with Be Part of Research to find and join health studies</p>
            </div>
          </div>
          <svg class="app-icon app-icon--chevron" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
            <path d="M8.82264 19.11C8.56264 19.11 8.29264 19.01 8.10264 18.8C7.72264 18.4 7.73264 17.77 8.13264 17.39L13.7426 12.01L8.14264 6.75999C7.74264 6.37999 7.72264 5.74999 8.09264 5.34999C8.47264 4.94999 9.10264 4.92999 9.50264 5.29999L15.8726 11.27C16.0726 11.46 16.1826 11.72 16.1926 11.99C16.2026 12.26 16.0826 12.53 15.8826 12.72L9.51264 18.83C9.32264 19.02 9.07264 19.11 8.82264 19.11Z"></path>
          </svg>
        </div>
      </div>

    </div>
  </div>

{% endblock %}
