{% extends 'layout-app.html' %}

{% set web = true %}
{% set hub = home %}

{% block pageTitle %}
  NHS App homepage
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- DYNAMIC PAGE TITLE -->
      <div class="app-dynamic-page-title">
        <h1 class="app-dynamic-page-title__heading">
          <span class="greeting"></span>, 
          <span class="nhsuk-u-display-block">Hamish</span>
        </h1>
      </div>

      <!--{% from 'includes/components/dynamic-page-title-macro.njk' import dynamicPageTitle %}

      {{ dynamicPageTitle({
        greeting: true,
        logo: true
      }) }}-->

      <!-- INTERRUPTION CARD -->
      <div class="nhsuk-card app-card--dark-blue">
        <div class="nhsuk-card__content app-card__content">
          <h2 class="nhsuk-card__heading nhsuk-heading-m nhsuk-u-padding-top-2">Prove who you are to get full access</h2>
          <p class="nhsuk-card__description">You'll need to prove who you are before you can use most parts of the NHS App, including prescriptions, appointments and your GP health record.</p>
          <a class="nhsuk-button nhsuk-button--reverse app-button" href="#">
            Continue
            <span class="nhsuk-u-visually-hidden">to get full access</span>
          </a>
        </div>
      </div>

      <!-- SECTION TITLE - MESSAGES -->
      <div class="app-section-title">
        <h2 class="nhsuk-heading-s app-section-title__heading">Messages</h2>
      </div>

      <!-- PANEL LINK CARD - MESSAGES -->
      <ul class="app-panel-link-card">
        <li class="app-panel-link-card__item  app-panel-link-card__item--with-icon app-panel-link-card__item--with-badge">
          <svg class="app-panel-link-card__icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M21.7499 11.38C21.5399 11.24 21.2799 11.21 21.0499 11.3L20.8899 11.36V4.98001C20.8899 4.57001 20.5499 4.23001 20.1399 4.23001H4.04991C3.63991 4.23001 3.29991 4.57001 3.29991 4.98001V11.44L2.93991 11.29C2.70991 11.2 2.44991 11.23 2.23991 11.37C2.02991 11.51 1.90991 11.74 1.90991 11.99V21.26C1.90991 21.67 2.24991 22.01 2.65991 22.01h31.3299C21.7399 22.01 22.0799 21.67 22.0799 21.26V11.99C22.0799 11.74 21.9599 11.51 21.7499 11.37V11.38ZM4.79991 5.74001H19.3899V11.98L11.9999 14.95L4.79991 12.06V5.74001ZM20.5799 20.52H3.40991V13.11L3.76991 13.26L11.7199 16.45C11.8999 16.52 12.0999 16.52 12.2799 16.45L20.4199 13.18L20.5799 13.12V20.53V20.52Z" fill="#005EB8"/>
            <path d="M17.0401 1.98001C14.3001 1.98001 12.0601 4.21001 12.0601 6.96001C12.0601 9.71001 14.2901 11.93 17.0401 11.93C19.7901 11.93 22.0201 9.70001 22.0201 6.96001C22.0201 4.22001 19.7901 1.98001 17.0401 1.98001Z" fill="#D5281B"/>
          </svg>
          <a class="app-panel-link-card__link nhsuk-heading-s" href="#">
            View your messages
            <svg class="app-panel-link-card__chevron" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
              <path d="M8.82264 19.11C8.56264 19.11 8.29264 19.01 8.10264 18.8C7.72264 18.4 7.73264 17.77 8.13264 17.39L13.7426 12.01L8.14264 6.75999C7.74264 6.37999 7.72264 5.74999 8.09264 5.34999C8.47264 4.94999 9.10264 4.92999 9.50264 5.29999L15.8726 11.27C16.0726 11.46 16.1826 11.72 16.1926 11.99C16.2026 12.26 16.0826 12.53 15.8826 12.72L9.51264 18.83C9.32264 19.02 9.07264 19.11 8.82264 19.11Z" fill="#005EB8"/>
            </svg>
            <span class="nhsuk-u-visually-hidden">
              You have
            </span>
            <span class="app-badge">
              9+
            </span>
            <span class="nhsuk-u-visually-hidden">
              unread messages
            </span>
          </a>
        </li>
      </ul>

      <!-- GET HELP LINK -->
      {% include "includes/components/get-help-link.html" %}

    </div>
  </div>

{% endblock %}
