{% extends 'layout.html' %}

{% set backLinkText = "Home" %}
{% set backLinkURL = "/" %}

{% set pageHeading = "Pages" %}
{% set pageDescription = "A list of pages in the prototype." %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      {% include "components/back-link/include.html" %}

      <h1>{{ pageHeading }}</h1>

      <p class="nhsuk-lede-text">
        {{ pageDescription }}
      </p>

      <h2 class="nhsuk-heading-m">Layouts</h2>

      <ul clas="nhsuk-list">
        <li>
          <a href="/layout-app">App layout (top and bottom nav)</a>
        </li>
        <li>
          <a href="/layout-app-splash-screen">Splash screen (blue background)</a>
        </li>
        <li>
          <a href="/layout-app-not-signed-in">Not signed in (blue header)</a>
        </li>
      </ul>

      <hr>

      <h2 class="nhsuk-heading-m">Login</h2>

      <ul clas="nhsuk-list">
        <li>
          <a href="/pages/login">Login screen</a>
        </li>
        <li>
          <a href="/pages/login-face-id">Login - face id</a>
        </li>
        <li>
          <a href="/pages/login-face-id-success">Login - face id success</a>
        </li>
        <li>
          <a href="/pages/logged-out">Login - logged out</a>
        </li>
      </ul>

      <hr>

      <h2 class="nhsuk-heading-m">Homepage {% if data['web'] === "yes" %}(Web){% else %}(Native){% endif %}</h2>

      <ul clas="nhsuk-list">
        <li>
          <a href="/pages/home-p9">Homepage - P9</a>
        </li>
        <li>
          <a href="/pages/home-p5">Homepage - P5</a>
        </li>
        <li>
          <a href="/pages/home-linked-profiles">Homepage - Linked profiles</a>
        </li>
      </ul>

      <hr>

      <h2 class="nhsuk-heading-m">Hubpages {% if data['web'] === "yes" %}(Web){% else %}(Native){% endif %}</h2>

        <ul clas="nhsuk-list">
          <li>
            <a href="/pages/services-p9">Services - P9</a>
          </li>
          <li>
            <a href="/pages/services-p5">Services - P5</a>
          </li>
          <li>
            <a href="/pages/services-linked-profiles">Services - Linked profiles</a>
          </li>
          <li>
            <a href="/pages/your-health-p9">Your health - P9</a>
          </li>
          <li>
            <a href="/pages/your-health-p5">Your health - P5</a>
          </li>
          <li>
            <a href="/pages/your-health-linked-profiles">Your health - Linked profiles</a>
          </li>
          <li>
            <a href="/pages/messages-p9">Messages - P9</a>
          </li>
          <li>
            <a href="/pages/messages-p5">Messages - P5</a>
          </li>
          <li>
            <a href="/pages/messages-linked-profiles">Messages - Linked profiles</a>
          </li>
          <li>
            <a href="/pages/account-and-settings-p9">Account and settings - P9</a>
          </li>
          <li>
            <a href="/pages/account-and-settings-p5">Account and settings - P5</a>
          </li>
          <li>
            <a href="/pages/account-and-settings-linked-profiles">Account and settings - Linked profiles</a>
          </li>
        </ul>

        <hr>

        <h2 class="nhsuk-heading-m">Your health {% if data['web'] === "yes" %}(Web){% else %}(Native){% endif %}</h2>

        <ul clas="nhsuk-list">
          <li>
            <a href="/pages/your-health/upcoming-and-past-appointments-p9">Upcoming and past appointments - P9</a>
          </li>
          <ul clas="nhsuk-list">
            <li>
              <a href="/pages/your-health/referrals">Referrals</a>
            </li>
            <li>
              <a href="/pages/your-health/hospital-appointments">Hospital appointments</a>
            </li>
            <li>
              <a href="/pages/your-health/treatment-waiting-lists">Treatment waiting lists</a>
            </li>
          </ul>
          <li>
            <a href="/pages/your-health/upcoming-and-past-appointments-linked-profiles">Upcoming and past appointments - Linked profiles</a>
          </li>
          <li>
            <a href="/pages/your-health/care-plans-p9">Care plans - P9</a>
          </li>
          <li>
            <a href="/pages/your-health/your-health-choices-p9">Your health choices - P9</a>
          </li>
          <li>
            <a href="/pages/your-health/prescriptions-p9">Prescriptions - P9</a>
          </li>
          <ul clas="nhsuk-list">
            <li>
              <a href="/pages/your-health/requested-medicines">Requested medicines</a>
            </li>
            <li>
              <a href="/pages/your-health/your-approved-prescriptions">Your approved prescriptions</a>
            </li>
            <li>
              <a href="/pages/your-health/past-prescriptions">Past prescriptions</a>
            </li>
            <li>
              <a href="/pages/your-health/your-prescription">Your prescription</a>
            </li>
          </ul>
          <li>
            <a href="/pages/your-health/prescriptions-linked-profiles">Prescriptions - Linked profiles</a>
          </li>
        </ul>

        <hr>

        <h2 class="nhsuk-heading-m">Services {% if data['web'] === "yes" %}(Web){% else %}(Native){% endif %}</h2>

        <h3 class="nhsuk-heading-s">Book a GP appointment</h3>

        <h4 class="nhsuk-heading-xs">Latest journey</h4>

        <ul clas="nhsuk-list">
          <li>
            <a href="/pages/services/gp-appointment-type">Appointment type</a>
          </li>
          <li>
            <a href="/pages/services/gp-appointment-location">Select location</a>
          </li>
          <li>
            <a href="/pages/services/gp-appointment-clinician">Select clinician</a>
          </li>
          <li>
            <a href="/pages/services/gp-appointment-select-appointment-v4">Select appointment</a>
          </li>
          <li>
            <a href="/pages/services/gp-appointment-reason">Appointment reason</a>
          </li>
          <li>
            <a href="/pages/services/gp-appointment-confirm">Confirm appointment details</a>
          </li>
          <li>
            <a href="/pages/services/gp-appointment-confirmed">Appointment confirmed</a>
          </li>
        </ul>

        <h4 class="nhsuk-heading-xs">Archived pages with date picker</h4>

        <ul clas="nhsuk-list">
          <li>
            <a href="/pages/services/gp-appointment-next-available">Next available appointment</a>
          </li>
          <li>
            <a href="/pages/services/gp-appointment-select-date">Select date</a>
          </li>
          <li>
            <a href="/pages/services/gp-appointment-select">Select appointment date and time</a>
          </li>
        </ul>

        <hr>
        
        <h2 class="nhsuk-heading-m">Messages {% if data['web'] === "yes" %}(Web){% else %}(Native){% endif %}</h2>

        <ul clas="nhsuk-list">
          <li>
            <a href="/pages/messages/your-messages">Your messages</a>
          </li>
          <li>
            <a href="/pages/messages/cannot-send-your-reply">Cannot send your reply</a>
          </li>
          <li>
            <a href="/pages/messages/cannot-show-message">Cannot show message</a>
          </li>
        </ul>

        <hr>

        <h2 class="nhsuk-heading-m">Account and settings {% if data['web'] === "yes" %}(Web){% else %}(Native){% endif %}</h2>

        <ul clas="nhsuk-list">
          <li>
            <a href="/pages/account-and-settings/cookies-and-legal-agreement">Manage cookies and read legal information</a>
          </li>
          <li>
            <a href="/pages/account-and-settings/linked-profiles">Linked profiles</a>
          </li>
          <li>
            <a href="/pages/account-and-settings/switch-profiles">Switch profiles</a>
          </li>
        </ul> 
        
        <hr>

        <h2 class="nhsuk-heading-m">Error pages {% if data['web'] === "yes" %}(Web){% else %}(Native){% endif %} - work in progress</h2>

        <ul clas="nhsuk-list">
          <li><a href="/pages/error-pages/access-repeat-prescriptions">Access repeat prescriptions</a></li>
          <li><a href="/pages/error-pages/connect-to-gp">Connect to GP</a></li>
          <li><a href="/pages/error-pages/connect-you-to-the-app">Connect you to the app</a></li>
          <li><a href="/pages/error-pages/log-in">Log you in</a></li>
          <li><a href="/pages/error-pages/log-in-age">Log you in because of age</a></li>
          <li><a href="/pages/error-pages/manage-services-for-others">Manage services for others</a></li>
          <li><a href="/pages/error-pages/no-appointments-at-this-time">No appointments available online</a></li>
          <li><a href="/pages/error-pages/face-id">Touch ID or Face ID</a></li>
          <li><a href="/pages/error-pages/update-app">Update the NHS App</a></li>
          <li><a href="/pages/error-pages/view-confirmed-prescriptions">View confirmed prescriptions</a></li>
        </ul> 
        
        <hr>

        <h2>Prototype data</h2>
        <p>The prototype uses <a href="/data-settings">default data</a> to create dynamic content, for example, the username that gets displayed on the home page.</p> 

    </div>
  </div>
{% endblock %}
