{% extends 'layout-app.html' %}

{% set hub = "Messages" %}

{% set pageHeading = "Messages" %}
{% set pageDescription = "You have 4 inboxes" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSecondary: true,
        description: pageDescription
      })}}

      <!-- PANEL LINK CARD - MESSAGES -->
      {{ panelLinkCard({
        spaced: true,
        items: [
          {
            title: "Your NHS healthcare services",
            URL: "/pages/messages/your-messages",
            icon: false,
            notifications: data['messages'],
            notificationsPosition: 'top',
            description: "You may receive messages:",
            list: [
              {
                text: "from your GP surgery"
              },
              {
                text: "about hospital and specialist care appointments"
              },
              {
                text: "about invitations and reminders"
              }
            ]
          },
          {
            title: "Your hospital and specialist doctors",
            URL: "#",
            description: "You may send or receive messages about:",
            list: [
              {
                text: "your health record"
              },
              {
                text: "documents and letters"
              },
              {
                text: "pre-appointment questionnaires"
              }
            ]
          },
          {
            title: "Replies to your GP requests",
            URL: "#",
            description: "You may receive responses to queries you submitted about:",
            list: [
              {
                text: "health problems"
              },
              {
                text: "fit (sick) notes"
              },
              {
                text: "doctor's letters"
              }
            ]
          },
          {
            title: "GP surgery messaging",
            URL: "#",
            description: "Send and view messages from staff at your GP surgery"
          }
        ]
      })}}

    </div>
  </div>

{% endblock %}
