{% extends 'layout-app.html' %}

{% set hub = "Messages" %}

{% set pageHeading = "Messages" %}
{% set pageDescription = "You have 1 inbox" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        description: pageDescription
      })}}

      <!-- PANEL LINK CARD - MESSAGES -->
      {{ panelLinkCard({
        items: [
          {
            title: "Your NHS healthcare services",
            URL: "#",
            icon: false,
            messages: data['messages'],
            description: "You may receive messages:",
            list: [
              {
                text: "from your GP surgery"
              },
              {
                text: "about hospital and specialist care appointments"
              },
              {
                text: "about invitations and reminders"
              }
            ]
          }
        ]
      })}}

      <!-- INTERRUPTION CARD -->
      {% include "components/interruption-card/include.html" %}

    </div>
  </div>

{% endblock %}
