{% extends 'layout-app.html' %}

{% set hub = services %}

{% set linkedProfile = true %}

{% set pageHeading = "Services" %}
{% set pageDescription = "Get care and support to help you stay well" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- SWITCH PROFILE BANNER -->
      {% include "includes/components/switch-profile-banner.html" %}

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        description: pageDescription
      })}}

      <!-- SECTION TITLE - Your GP services -->
      {{ sectionTitle({
        title: "Your GP services"
      })}}

      <!-- PANEL LINK CARD - Your GP services -->
      {{ panelLinkCard({
        items: [
          {
            title: "Request repeat prescriptions",
            URL: "#"
          },
          {
            title: "Check for available GP appointments",
            URL: "#"
          }
        ]
      })}}

      <!-- SECTION TITLE - Other NHS services -->
      {{ sectionTitle({
        title: "Other NHS services"
      })}}
      
      <!-- PANEL LINK CARD - Other NHS services -->
      {{ panelLinkCard({
        items: [
          {
            title: "Find NHS services near you",
            URL: "#"
          }
        ]
      })}}

    </div>
  </div>

{% endblock %}
