{% extends 'layout-app.html' %}

{% set hub = "Services" %}

{% set pageHeading = "Services" %}
{% set pageDescription = "Get care and support to help you stay well" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSecondary: true,
        description: pageDescription
      })}}

      {{ nhsappSectionHeading({
        headingText: "Your GP services"
      })}}
      
      <ol class="nhsapp-cards nhsapp-cards--stacked">
        <li class="nhsapp-card">
          <div class="nhsapp-card__container">
            <div class="nhsapp-card__content">
              <a href="/pages/your-health/repeat-prescription/select-medicines" class="nhsapp-card__link nhsuk-link--no-visited-state">
                Request medicines
              </a>
            </div>
            {{ nhsappIcon('chevronRight') }}
          </div>
        </li>
        <li class="nhsapp-card">
          <div class="nhsapp-card__container">
            <div class="nhsapp-card__content">
              <a href="/" class="nhsapp-card__link nhsuk-link--no-visited-state">
                Contact your GP surgery for a document or update
              </a>
            </div>
            {{ nhsappIcon('chevronRight') }}
          </div>
        </li>
        <li class="nhsapp-card">
            <div class="nhsapp-card__container">
              <div class="nhsapp-card__content">
                {% if data['gpAppointmentError'] == "yes"  %}
                  <a href="/pages/error-pages/book-gp-appointment" class="nhsapp-card__link nhsuk-link--no-visited-state">
                {% else %}
                  <a href="/pages/services/gp-appointment-type" class="nhsapp-card__link nhsuk-link--no-visited-state">
                {% endif %}
                  Check for available GP appointments
                </a>
              </div>
              {{ nhsappIcon('chevronRight') }}
            </div>
          </form>
        </li>
      </ol>

      {{ nhsappSectionHeading({
        headingText: "Other NHS services"
      })}}

      {{ nhsappCardGroup({
        stacked: true,
        cards: [
          {
            title: "Check if you need urgent medical help using 111 online",
            href: "#"
          },
          {
            title: "Find NHS services near you",
            href: "#"
          }
        ]
      })}}

      {{ nhsappSectionHeading({
        headingText: "Find health information"
      })}}

      {{ nhsappCardGroup({
        stacked: true,
        cards: [
          {
            title: "Browse NHS health information",
            href: "#"
          },
          {
            title: "Browse NHS medicines information",
            href: "#"
          },
          {
            title: "Find COVID-19 guidance",
            href: "#"
          }
        ]
      })}}

    </div>
  </div>

{% endblock %}
