{% extends 'layout-app.html' %}

{% set hub = "Services" %}

{% set pageHeading = "Services" %}
{% set pageDescription = "Get care and support to help you stay well" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSecondary: true,
        description: pageDescription
      })}}

      {{ nhsappSectionHeading({
        headingText: "Your GP services"
      })}}

      {{ nhsappCardGroup({
        stacked: true,
        cards: [
          {
            title: "Request medicines",
            href: "/pages/your-health/repeat-prescription/select-medicines"
          },
          {
            title: "Contact your GP surgery for a document or update",
            href: "#"
          },
          {
            title: "Check for available GP appointments",
            href: "/pages/services/gp-appointment-type"
          }
        ]
      }) }}

      {{ nhsappSectionHeading({
        headingText: "Other NHS services"
      })}}

      {{ nhsappCardGroup({
        stacked: true,
        cards: [
          {
            title: "Check if you need urgent medical help using 111 online",
            href: "#"
          },
          {
            title: "Find NHS services near you",
            href: "#"
          }
        ]
      })}}

      {{ nhsappSectionHeading({
        headingText: "Find health information"
      })}}

      {{ nhsappCardGroup({
        stacked: true,
        cards: [
          {
            title: "Browse NHS health information",
            href: "#"
          },
          {
            title: "Browse NHS medicines information",
            href: "#"
          },
          {
            title: "Find COVID-19 guidance",
            href: "#"
          }
        ]
      })}}

    </div>
  </div>

{% endblock %}
