{% extends 'layout-app.html' %}

{% set linkedProfile = true %}
{% set hub = services %}
{% set pageHeading = "Services" %}

{% block pageTitle %}
  NHS App homepage
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- SWITCH PROFILE BANNER -->
      {% include "includes/components/switch-profile-banner.html" %}

      <!-- DYNAMIC PAGE TITLE -->
      <div class="app-dynamic-page-title">
        <h1 class="app-dynamic-page-title__heading">
          {{ pageHeading }}
        </h1>
        <p class="app-dynamic-page-title__description">
          Get care and support to help you stay well
        </p>
      </div>

      <!-- SECTION TITLE - Your GP services -->
      <div class="app-section-title">
        <h2 class="nhsuk-heading-s app-section-title__heading">Your GP services</h2>
      </div>

      <!-- PANEL LINK CARD - Your GP services -->
      {{ panelLinkCard({
        items: [
          {
            title: "Request repeat prescriptions",
            URL: "#"
          },
          {
            title: "Check for available GP appointments",
            URL: "#"
          }
        ]
      })}}

      <!-- SECTION TITLE - Other NHS services -->
      <div class="app-section-title">
        <h2 class="nhsuk-heading-s app-section-title__heading">Other NHS services</h2>
      </div>

      <!-- PANEL LINK CARD - Other NHS services -->
      {{ panelLinkCard({
        items: [
          {
            title: "Find NHS services near you",
            URL: "#"
          }
        ]
      })}}

    </div>
  </div>

{% endblock %}
