{% extends 'template.html' %}


{% block pageTitle %}
  NHS prototype
{% endblock %}

{% block header %}
  {{ header({
    "service": {
        "name": "Prototype",
        "href": "#"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>Task 1</h1>
      <p class="nhsuk-body-l">Imagine you are logging into the NHS app with your Face ID.</p>
      <p>Please, <strong>think aloud</strong> as you are going through this journey on the screen and share your thoughts openly please</p>

      <a class="nhsuk-button app-button--secondary nhsapp-button" href="login" role="button" draggable="false">Start now</a>


    </div>
  </div>
{% endblock %}