{% extends 'layout-app.html' %}

{% set hub = your-health %}

{% set linkedProfile = true %}

{% set pageHeading = "Your health" %}
{% set pageDescription = "View your personal records and choices" %}

{% block pageTitle %}
  NHS App homepage
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- SWITCH PROFILE BANNER -->
      {% include "includes/components/switch-profile-banner.html" %}

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        description: pageDescription
      })}}

      <!-- PANEL LINK CARD - Your health -->
      {{ panelLinkCard({
        items: [
          {
            title: "GP health record",
            URL: "#"
          },
          {
            title: "View and manage prescriptions",
            URL: "#"
          },
          {
            title: "Upcoming and past appointments",
            URL: "#"
          }
        ]
      })}}

    </div>
  </div>

{% endblock %}
