{% extends 'layout-app.html' %}

{% set hub = "Your health" %}

{% set pageHeading = "Your health" %}
{% set pageDescription = "View your personal records and choices" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSecondary: true,
        description: pageDescription
      })}}

      <!-- INTERRUPTION CARD -->
      {{ interruptionCard({
        title: "Prove who you are to get full access",
        description: "You'll need to prove who you are before you can use most parts of the NHS App, including prescriptions, appointments and your GP health record.",
        URL: "#",
        linkText: "Continue",
        hiddenText: "to get full access"
      })}}

    </div>
  </div>

{% endblock %}
