{% extends 'layout-app.html' %}

{% set hub = "Services" %}

{% set backLink = true %}

{% set pageHeading = "We could not access repeat prescriptions" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-u-margin-bottom-5">{{ pageHeading }}</h1>

      <p>This may be a temporary problem. You can try again.</p>

      {{ button({
        text: "Try again",
        classes: "nhsapp-button nhsapp-button--secondary"
      }) }}

    </div>
  </div>

  {% endblock %}


