{% extends 'layout-app.html' %}

{% set hub = "Services" %}

{% set backLink = true %}
{% set backLinkURL = "/pages/services-p9" %}

{% set pageHeading = "We could not connect to your GP system" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-u-margin-bottom-5">{{ pageHeading }}</h1>

      <p>You can try refreshing the page.</p>

      <form id="gpAppointment" method="post" action="/pages/error-pages/book-gp-appointment-next">
        <input type="hidden" name="gpAppointmentError" value="no">

        {{ button({
          text: "Refresh page",
          classes: "nhsapp-button nhsapp-button--secondary"
        }) }}

      </form>

      {% include "pages/error-pages/medical-note.html" %}

    </div>
  </div>

  {% endblock %}


