{% extends 'layout-app.html' %}

{% set hub = "Services" %}

{% set backLink = true %}
{% set backLinkText = "Back" %}
{% set backLinkURL = "/pages/services-p9" %}

{% set errorCode = "3ezxja" %}

{% set pageHeading = "Cannot show GP appointments" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!--{% include "components/icons/warning.html" %}-->
      <h1 class="nhsuk-u-margin-bottom-5">{{ pageHeading }}</h1>

      <p>You can try loading GP appointments again.</p>

      <form id="gpAppointment" method="post" action="/pages/error-pages/book-gp-appointment-next">
        <input type="hidden" name="gpAppointmentError" value="false">

        {{ button({
          text: "Try again",
          classes: "nhsapp-button app-button--secondary"
        }) }}

      </form>

      <p>You can contact your GP surgery directly if you need to book or change an upcoming appointment now.</p>

      {% include "pages/error-pages/medical-note.html" %}

    </div>
  </div>

  {% endblock %}


