{% extends 'layout-app.html' %}

{% set hub = "Services" %}

{% set backLink = true %}
{% set backLinkURL = "/pages/services-p9" %}

{% set errorCode = "3ezxja" %}

{% set pageHeading = "We still could not connect to your GP system" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-u-margin-bottom-5">{{ pageHeading }}</h1>

      <p>If you need to book an appointment now, contact your GP surgery.</p>

      <h2 class="nhsuk-heading-m">Other things you can do</h2>

      {{ nhsappCardGroup({
        stacked: true,
        classes: "app-cards--secondary",
        cards: [
          {
            title: "Contact your GP about a health problem",
            description: "Answer questions online and get a response from your GP surgery",
            href: "#"
          }
        ]
      })}}

      {% include "pages/error-pages/error-code.html" %}

    </div>
  </div>

  {% endblock %}


