{% extends 'layout-app.html' %}

{% set pageHeading = "We could not log you in" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!--{% include "components/icons/warning.html" %}-->
      <h1 class="nhsuk-u-margin-bottom-5">{{ pageHeading }}</h1>

      <p>This may be a temporary problem. You can go back and try logging in again.</p>

      {{ button({
        text: "Go back to login",
        classes: "nhsapp-button app-button--secondary"
      }) }}

      <h2 class="nhsuk-heading-m">If the problem continues</h2>

      <p>If you keep seeing this message, <a href="#">contact the NHS App team</a> and mention the <strong>error code 32[xxx]</strong>.</p>

      {{ insetText({
        html: "<p>For urgent medical advice, use <a href='#'>111 online</a> or call <a href='#'>111</a>.</p>"
      }) }}

    </div>
  </div>

  {% endblock %}


