{% extends 'layout-app-not-signed-in.html' %}

{% set pageHeading = "We could not log you in" %}

{% set errorCode = "3a4627" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-u-margin-bottom-5">{{ pageHeading }}</h1>

      <p>This may be a temporary problem. You can go back and try logging in again.</p>

      <form id="form" method="post" action="/pages/login" novalidate="novalidate">

        <input type="hidden" name="loginError" value="no">

        {{ button({
          text: "Go back to login",
          classes: "nhsapp-button nhsapp-button--secondary"
        }) }}
        
      </form>

      {% include "pages/error-pages/error-code.html" %}

      {% include "pages/error-pages/medical-note.html" %}

    </div>
  </div>

  {% endblock %}


