{% extends 'layout-app-not-signed-in.html' %}

{% set pageHeading = "We could not log you in because of age restrictions" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-u-margin-bottom-5">{{ pageHeading }}</h1>

      <p>You must be aged 13 or over to use the NHS App.</p>

      <h2 class="nhsuk-heading-m">What you can do</h2>

      <p>Your parent or guardian may be able to use the NHS App for you until you are aged 13. You both need to be registered at the same GP surgery. Contact your GP surgery to find out more.</p>

      {{ nhsappCardGroup({
        stacked: true,
        classes: "app-cards--secondary",
        cards: [
          {
            title: "Who can use the NHS App?",
            href: "#"
          },
          {
            title: "Find GP surgery contact details",
            href: "#"
          }
        ]
      })}}

      {% include "pages/error-pages/medical-note.html" %}

    </div>
  </div>

  {% endblock %}


