{% extends 'layout-app.html' %}

{% set hub = "Services" %}

{% set backLink = true %}

{% set pageHeading = "No appointments available to book online at this time" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!--{% include "components/icons/warning.html" %}-->
      <h1 class="nhsuk-u-margin-bottom-5">{{ pageHeading }}</h1>

      <p>You'll need to contact your GP surgery to book an appointment.</p>

      {% include "pages/error-pages/medical-note.html" %}

      <p><a href="#">What to do if you think you might have coronavirus</a></p>

    </div>
  </div>

  {% endblock %}


