{% extends 'layout-app.html' %}

{% set hub = "Services" %}

{% set pageHeading = "Cannot manage services for others" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!--{% include "components/icons/warning.html" %}-->
      <h1 class="nhsuk-u-margin-bottom-5">{{ pageHeading }}</h1>

      <p>We could not connect to your GP system.</p>

      <h2>What you can do</h2>

      <p>If you need to use health services on behalf of someone else, contact their GP surgery or try again later.</p>

      <p>If you keep seeing this message, <a href="#">contact the NHS App team</a> and mention <strong>the error code [xxxxxx]</strong>.</p>

      {{ insetText({
        html: "<p>For urgent medical advice, use <a href='#'>111 online</a> or call <a href='#'>111</a>.</p>"
      }) }}

    </div>
  </div>

  {% endblock %}


