{% extends 'layout-app.html' %}

{% set hub = "Services" %}

{% set pageHeading = "Cannot manage services for others" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {% include "components/icons/warning.html" %}
      <h1 class="nhsuk-u-margin-bottom-5">{{ pageHeading }}</h1>

      <p>We could not connect to your GP system.</p>

      <p>If you need to use health services on behalf of someone else, contact their GP surgery or try again later.</p>

      <h2>If you keep seeing this message</h2>

      <p>Contact the NHS App team and mention <strong>the error code < xxxxxx ></strong>.</p>

      {{ nhsappCardGroup({
        stacked: true,
        cards: [
          {
            title: "Contact the NHS App team",
            href: "#"
          }
        ]
      })}}

    </div>
  </div>

  {% endblock %}


