.example {
  border: 1px solid $color_nhsuk-grey-3;
  margin-bottom: nhsuk-spacing(6);
  padding: nhsuk-spacing(7) nhsuk-spacing(4) nhsuk-spacing(4);
  position: relative;

  &:before {
    @include nhsuk-font($size: 19, $weight: normal, $line-height: 1);
    background-color: #dbe0e3;
    border: 1px solid #94a1aa;
    color: #354550;
    content: "Example";
    font-kerning: 1;
    left: -1px;
    padding: nhsuk-spacing(1) nhsuk-spacing(2);
    position: absolute;
    top: -1px;
  }

  .app-bottom-navigation,
  .app-global-navigation-native {
    position: absolute;
    left: 0;
    right: 0;
  }

  .component-image {
    width: 100%;
  }

}

.example--tall {
  min-height: 140px;
}

.example--white-background {
  background-color: $color_nhsuk-white;
}