<div class="nhsuk-card app-card--blue app-u-full-width-tablet">
  <div class="nhsuk-card__content app-card__content">
    <h2 class="nhsuk-card__heading nhsuk-heading-m nhsuk-u-margin-bottom-1 nhsuk-u-padding-top-5">Book a free flu vaccine</h2>
    <p class="nhsuk-card__description">Check if you are eligible and book an appointment.</p>
    <a class="nhsuk-button nhsuk-button--reverse app-button app-button--small" href="#">
      Find out more
      <span class="nhsuk-u-visually-hidden">about booking a free flue vaccine</span>
    </a>
  </div>
</div>