<header data-v-2907a3a6="" class="nhsuk-header">
	<div data-v-2907a3a6="" class="nhsuk-width-container nhsuk-header__container">
		<div data-v-cdb1282a="" data-v-2907a3a6="" class="nhsuk-header__logo" id="nhs-header-logo">
			<a data-v-cdb1282a="" href="/" class="router-link-active nhsuk-header__link" id="nhs_logo" aria-label="NHS App online homepage">
				<svg data-v-cdb1282a="" class="nhsuk-logo" xmlns="http://www.w3.org/2000/svg" focusable="false" viewBox="0 0 40 16" height="40" width="100">
					<path class="nhsuk-logo__background" fill="#005eb8" d="M0 0h40v16H0z"></path>
					<path class="nhsuk-logo__text" fill="#fff" d="M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8
						9H1.1M17.3 1.5h3.6l-1
						4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2
						5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4
						0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3
						4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7
						3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6"></path>
				</svg>
			</a>
		</div>
		<div data-v-2907a3a6="" id="web-content-header" class="nhsuk-header__content">
			<div data-v-2907a3a6="" class="nhsuk-header__menu"><button data-v-2907a3a6="" id="toggle-menu" class="nhsuk-header__menu-toggle WebHeader_menuButton_DYQ_7" aria-controls="header-navigation" aria-expanded="false" aria-label="Open menu">Menu</button></div>
			<div data-v-3e6c377a="" data-v-2907a3a6="" class="HeaderLinks_header-links_Sx73j"><span data-v-0837c6cc="" data-v-3e6c377a="" class="HeaderLink_header-link_hc7Ob"><a data-v-0837c6cc="" id="help-and-support-link" href="#">Help and support</a></span><strong data-v-3e6c377a="" aria-hidden="true"> | </strong><span data-v-0837c6cc="" data-v-3e6c377a="" class="HeaderLink_header-link_hc7Ob"><a data-v-0837c6cc="" href="/pages/account-and-settings-{{ data['accountType'] }}" class="" id="more-link" tabindex="0">Account and settings</a></span><strong data-v-3e6c377a="" aria-hidden="true"> | </strong><span data-v-0837c6cc="" data-v-3e6c377a="" class="HeaderLink_header-link_hc7Ob"><a data-v-0837c6cc="" href="#" class="" id="account-logout" tabindex="0">Log out</a></span></div>
		</div>
	</div>
	<nav data-v-13bcd11a="" data-v-2907a3a6="" id="header-navigation" class="nhsuk-header__navigation nojs-mini-menu-expanded">
		<div data-v-13bcd11a="" class="nhsuk-width-container">
			<p data-v-13bcd11a="" class="nhsuk-header__navigation-title">
				<span data-v-13bcd11a="" id="label-navigation" style="color: rgb(33, 43, 50);">Menu</span>
				<button data-v-13bcd11a="" id="close-menu" class="nhsuk-header__navigation-close">
					<svg data-v-13bcd11a="" class="nhsuk-icon nhsuk-icon__close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
						<path data-v-13bcd11a="" d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42
							1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1
							0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
					</svg>
					<span data-v-13bcd11a="" class="nhsuk-u-visually-hidden">Close menu</span>
				</button>
			</p>
			<ul data-v-13bcd11a="" class="nhsuk-header__navigation-list">
				<li data-v-13bcd11a="" class="nhsuk-header__navigation-item"><a data-v-13bcd11a="" class="nhsuk-header__navigation-link" href="/pages/home-{{ data['accountType'] }}" data-sid="advice-menu-item" data-purpose="advicePageLink">Home</a></li>
				<li data-v-13bcd11a="" class="nhsuk-header__navigation-item"><a data-v-13bcd11a="" class="nhsuk-header__navigation-link" href="/pages/services-{{ data['accountType'] }}" data-sid="appointments-menu-item" data-purpose="appointmentsPageLink" tabindex="0">Services</a></li>
				<li data-v-13bcd11a="" class="nhsuk-header__navigation-item"><a data-v-13bcd11a="" class="nhsuk-header__navigation-link" href="/pages/your-health-{{ data['accountType'] }}" data-sid="your-health-menu-item" data-purpose="myRecordPageLink">Your health</a></li>
				<li data-v-13bcd11a="" class="nhsuk-header__navigation-item"><a data-v-13bcd11a="" class="nhsuk-header__navigation-link" href="/pages/messages-{{ data['accountType'] }}" data-sid="messages-menu-item" data-purpose="messagesPageLink">Messages</a></li>
				<li data-v-13bcd11a="" class="nhsuk-header__navigation-item HeaderMenu_additionalMenuItem_dDTZi"><a data-v-13bcd11a="" class="nhsuk-header__navigation-link" href="#" data-sid="help-and-support-menu-item" target="_blank" rel="noopener noreferrer">Help and support</a></li>
				<li data-v-13bcd11a="" class="nhsuk-header__navigation-item HeaderMenu_additionalMenuItem_dDTZi"><a data-v-13bcd11a="" class="nhsuk-header__navigation-link" href="/pages/account-and-settings-{{ data['accountType'] }}" data-sid="more-menu-item">Account and settings</a></li>
				<li data-v-13bcd11a="" class="HeaderMenu_additionalMenuItem_dDTZi nhsuk-header__navigation-item"><a data-v-13bcd11a="" class="nhsuk-header__navigation-link" href="#" data-sid="logout-menu-item">Log out</a></li>
			</ul>
		</div>
	</nav>
</header>