{% extends 'components/layout.html' %}

{% set pageHeading = "Expander" %}

{% block innerContent %}

<h2>Custom expander group</h2>

<h3>2024</h3>

<div class="nhsuk-expander-group app-expander-group">
  <details class="nhsuk-details nhsuk-expander">
    <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
        15 March 2024
      </span>
    </summary>
    <div class="nhsuk-details__text">
      
      <dl class="nhsuk-summary-list nhsuk-summary-list--no-border">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Name of vaccine
          </dt>
          <dd class="nhsuk-summary-list__value">
            Pfizer Ltd
          </dd>
        </div>
        
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Batch number
          </dt>
          <dd class="nhsuk-summary-list__value">
            GE3043
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Location
          </dt>
          <dd class="nhsuk-summary-list__value">
            NHS Vacination Centre
          </dd>
        </div>  
      
      </dl>

    </div>
  </details>

</div>

<h3>2023</h3>

<div class="nhsuk-expander-group app-expander-group">
  <details class="nhsuk-details nhsuk-expander">
    <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
        15 October 2023
      </span>
    </summary>
    <div class="nhsuk-details__text">
      
      <dl class="nhsuk-summary-list nhsuk-summary-list--no-border">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Name of vaccine
          </dt>
          <dd class="nhsuk-summary-list__value">
            Pfizer Ltd
          </dd>
        </div>
        
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Batch number
          </dt>
          <dd class="nhsuk-summary-list__value">
            GE3043
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Location
          </dt>
          <dd class="nhsuk-summary-list__value">
            NHS Vacination Centre
          </dd>
        </div>  
      
      </dl>

    </div>
  </details>

  <details class="nhsuk-details nhsuk-expander">
    <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
        22 March 2023
      </span>
    </summary>
    <div class="nhsuk-details__text">
      
      <dl class="nhsuk-summary-list nhsuk-summary-list--no-border">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Name of vaccine
          </dt>
          <dd class="nhsuk-summary-list__value">
            Pfizer Ltd
          </dd>
        </div>
        
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Batch number
          </dt>
          <dd class="nhsuk-summary-list__value">
            GE3043
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Location
          </dt>
          <dd class="nhsuk-summary-list__value">
            NHS Vacination Centre
          </dd>
        </div>  
      
      </dl>

    </div>
  </details>

</div>

{% endblock %}
