{% extends 'components/layout.html' %}

{% set pageHeading = "Cards" %}

{% block innerContent %}

<h2 class="nhsuk-heading-l">Card link</h2>

<h3 class="nhsuk-heading-s">Single</h3>

<ul class="app-cards">
  <li class="app-card-link">
    <div class="app-card-link__container">
      
      <div class="app-card-link__content">
        <a class="app-card-link__link nhsuk-link--no-visited-state" href="#">
          Title
        </a>
      </div>

      {% include "components/icons/chevron.html" %}

    </div>
  </li>
</ul>

<h3 class="nhsuk-heading-s">With supporting text</h3>

<ul class="app-cards">
  <li class="app-card-link">
    <div class="app-card-link__container">

      <div class="app-card-link__content">
        <a class="app-card-link__link nhsuk-link--no-visited-state" href="#">
          Title
        </a>
        <div class="app-card-link__below">
          <p class="nhsuk-u-margin-top-1">Supporting text</p>
        </div>
      </div>

      {% include "components/icons/chevron.html" %}

    </div>
  </li>
</ul>

<h3 class="nhsuk-heading-s">With badge</h3> 

<ul class="app-cards">
  <li class="app-card-link">
    <div class="app-card-link__container">

      <div class="app-card-link__content">
        <a class="app-card-link__link nhsuk-link--no-visited-state" href="#">
          Hospital appointments
        </a>
      </div>

      <span class="app-badge">
        <span class="nhsuk-u-visually-hidden">
          You have
        </span>
        2
        <span class="nhsuk-u-visually-hidden">
          appointments that need action
        </span>
      </span>

      {% include "components/icons/chevron.html" %}

    </div>
  </li>
</ul>

<h3 class="nhsuk-heading-s">With icon</h3>

<ul>
  <li>aria hidden true added to icons</li>
</ul>

<ul class="app-cards">
  <li class="app-card-link">
    <div class="app-card-link__container">

      {% include "components/icons/switch-profiles.html" %}

      <div class="app-card-link__content">
        <a class="app-card-link__link nhsuk-link--no-visited-state" href="#">
          Switch profiles
        </a>
      </div>

      {% include "components/icons/chevron.html" %}

    </div>
  </li>
</ul>

<h3 class="nhsuk-heading-s">With icon and badge</h3>

<ul class="app-cards">
  <li class="app-card-link">
    <div class="app-card-link__container">

      {% include "components/icons/messages-with-badge.html" %}

      <div class="app-card-link__content">
        <a class="app-card-link__link nhsuk-link--no-visited-state" href="#">
          View your messages
        </a>
      </div>

      <span class="app-badge">
        <span class="nhsuk-u-visually-hidden">
          You have
        </span>
        9+
        <span class="nhsuk-u-visually-hidden">
          unread messages
        </span>
      </span>

      {% include "components/icons/chevron.html" %}

    </div>
  </li>
</ul>

<h3 class="nhsuk-heading-s">Multiple - Spaced</h3>

<ul class="app-cards">
  <li class="app-card-link">
    <div class="app-card-link__container">
      
      <div class="app-card-link__content">
        <a class="app-card-link__link nhsuk-link--no-visited-state" href="#">
          Title
        </a>
      </div>

      {% include "components/icons/chevron.html" %}

    </div>
  </li>
  <li class="app-card-link">
    <div class="app-card-link__container">
      <div class="app-card-link__content">
        <a class="app-card-link__link nhsuk-link--no-visited-state" href="#">
          Title
        </a>
      </div>
      {% include "components/icons/chevron.html" %}
    </div>
  </li>
  <li class="app-card-link">
    <div class="app-card-link__container">
      <div class="app-card-link__content">
        <a class="app-card-link__link nhsuk-link--no-visited-state" href="#">
          Title
        </a>
      </div>
      {% include "components/icons/chevron.html" %}
    </div>
  </li>
</ul>

<h3 class="nhsuk-heading-s">Multiple - Stacked</h3>

<ul class="app-cards app-cards--stacked">
  <li class="app-card-link"> 
    <div class="app-card-link__container">

      <div class="app-card-link__content">
        <a class="app-card-link__link nhsuk-link--no-visited-state" href="#">
          Title
        </a>
      </div>

      {% include "components/icons/chevron.html" %}

    </div>
  </li>
  <li class="app-card-link">
    <div class="app-card-link__container">

      <div class="app-card-link__content">
        <a class="app-card-link__link nhsuk-link--no-visited-state" href="#">
          Title
        </a>
      </div>

      {% include "components/icons/chevron.html" %}

    </div>
  </li>
  <li class="app-card-link">
    <div class="app-card-link__container">

      <div class="app-card-link__content">
        <a class="app-card-link__link nhsuk-link--no-visited-state" href="#">
          Title
        </a>
      </div>
      {% include "components/icons/chevron.html" %}
    </div>
  </li>
</ul>

<hr>

<h2 class="nhsuk-heading-l">Cards</h2>

<p>Messages</p>

<ul class="app-cards">
  <li class="app-card-link">
    <div class="app-card-link__container">
      
      <div class="app-card-link__content">

        <div class="app-card-link__above">
          <span class="app-badge nhsuk-u-margin-bottom-3">
            <span class="nhsuk-u-visually-hidden">
              You have
            </span>
            4
            <span class="nhsuk-u-visually-hidden">
              unread messages
            </span>
          </span>
        </div>

        <a class="app-card-link__link nhsuk-link--no-visited-state" href="#">
          Your NHS healthcare services
        </a>

        <div class="app-card-link__below">
          <p class="nhsuk-u-margin-bottom-2 nhsuk-u-margin-top-3">Supporting text</p>
          <ul>
            <li>from your GP surgery</li>
            <li>about hospital and specialist care appointments</li>
            <li>about invitations and reminders</li>
          </ul>
        </div>

      </div>

      {% include "components/icons/chevron.html" %}

    </div>
  </li>
</ul>

<p>Upcoming and past appointments</p>

<ul class="app-cards app-cards--spaced">
  <li class="app-card-link">
    <div class="app-card-link__container">
      
      <div class="app-card-link__content">

        <div class="app-card-link__above">
          <strong class="app-tag app-tag--red nhsuk-u-display-inline-block nhsuk-u-static-margin-bottom-3">Action needed</strong>
        </div>

        <a class="app-card-link__link nhsuk-link--no-visited-state" href="#" aria-label="Oral surgery appointment on Tuesday 26 January 2024 at 1:10pm">
          Oral surgery
        </a>

        <div class="app-card-link__below">
          <p aria-hidden="true" class="nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-3">Tuesday 26 January 2024 <br> 1:10pm</p>
          <p class="nhsuk-u-margin-bottom-3">The Willows, Croydon University Hospital</p>
          <p class="nhsuk-body-s nhsuk-u-secondary-text-color">
            <span class="app-badge-small app-badge-small--red nhsuk-u-margin-right-1">
              <span aria-hidden="true">●</span>
              <span class="nhsuk-u-visually-hidden">New </span>
            </span>
            Document(s) and questionnaire(s) attached
          </p>
        </div>

      </div>

      {% include "components/icons/chevron.html" %}

    </div>
  </li>

  <li class="app-card-link">
    <div class="app-card-link__container">
      
      <div class="app-card-link__content">

        <a class="app-card-link__link nhsuk-link--no-visited-state" href="#" aria-label="Oral surgery appointment on Friday 15 March 2024 at 1:30pm">
          Oral surgery
        </a>

        <div class="app-card-link__below">
          <p aria-hidden="true" class="nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-3">Friday 15 March 2024 <br> 1:30pm</p>
          <p class="nhsuk-u-margin-bottom-3">The Willows, Croydon University Hospital</p>
          <p class="nhsuk-body-s nhsuk-u-secondary-text-color">
            Document(s) and questionnaire(s) attached
          </p>
        </div>

      </div>

      {% include "components/icons/chevron.html" %}
      
    </div>
  </li>

</ul>

<p>Referrals</p>

<ul class="app-cards app-cards--spaced">
  <li class="app-card-link">
    <div class="app-card-link__container">
      
      <div class="app-card-link__content">

        <div class="app-card-link__above">
          <strong class="app-tag app-tag--red nhsuk-u-display-inline-block nhsuk-u-static-margin-bottom-3">Action needed</strong>
        </div>

        <a class="app-card-link__link nhsuk-link--no-visited-state" href="#">
          Select a clinic
        </a>

        <div class="app-card-link__below">
          <p class="nhsuk-u-margin-top-3">You need to select a clinic for your orthopaedic referral</p>
        </div>

      </div>

      {% include "components/icons/chevron.html" %}

    </div>
  </li>

  <li class="app-card-link">
    <div class="app-card-link__container">
      
      <div class="app-card-link__content">

        <div class="app-card-link__above">
          <strong class="app-tag app-tag--yellow nhsuk-u-display-inline-block nhsuk-u-static-margin-bottom-3">Referral in review</strong>
        </div>

        <a class="app-card-link__link nhsuk-link--no-visited-state" href="#">
          Gastroenterology referral
        </a>

        <div class="app-card-link__below">
          <p class="nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-2">Your healthcare provider has requested for you to be referred to Gastroenterology. This request is being reviewed. You do not need to do anything.</p>
          <p class="nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-2">Due to be reviewed by:</p>
          <p>8 February 2024</p>
        </div>

      </div>

      {% include "components/icons/chevron.html" %}

    </div>
  </li>

</ul>

<hr>

<h2 class="nhsuk-heading-l">Message preview</h2>

<ul class="app-cards app-cards--stacked">
  <li class="app-card-link">
    <div class="app-card-link__container nhsuk-u-margin-left-6">
      
      <div class="app-card-link__content">

        <div class="app-card-link__above">
          <p aria-hidden="true" class="nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-0">1:02pm</p>
        </div>

        <a class="app-card-link__link nhsuk-link--no-visited-state" href="#">
          <span class="app-badge-small">
            <span class="app-badge-small--absolute" aria-hidden="true">●</span>
          </span>
          <span class="nhsuk-u-visually-hidden">Unread message from </span>
          Portland Street Great Westood Surgery
          <span class="nhsuk-u-visually-hidden">received today at 1:02pm</span>
        </a>

        <div class="app-card-link__below">
          <p class="nhsuk-u-margin-top-2 app-truncate-two-lines">Patient survey reminder. The Patient feedback survey is about to close. Have your say about Portland Street Great Westood Surgery by providing us with your thoughts. </p>
        </div>

      </div>

    </div>
  </li>
  <li class="app-card-link">
    <div class="app-card-link__container nhsuk-u-margin-left-6">
      
      <div class="app-card-link__content">

        <div class="app-card-link__above">
          <p aria-hidden="true" class="nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-0">Thursday</p>
        </div>

        <a class="app-card-link__link nhsuk-link--no-visited-state" href="#">
          <span class="app-badge-small">
            <span class="app-badge-small--absolute" aria-hidden="true">●</span>
          </span>
          <span class="nhsuk-u-visually-hidden">Unread message from </span>
          Range Surgery
          <span class="nhsuk-u-visually-hidden">received on Thursday at 11:00am</span>
        </a>

        <div class="app-card-link__below">
          <p class="nhsuk-u-margin-top-2 app-truncate-two-lines">Dear Mary, we would like to ask you a few questions about smoking.</p>
        </div>

      </div>

    </div>
  </li>
  <li class="app-card-link">
    <div class="app-card-link__container nhsuk-u-margin-left-6">
      
      <div class="app-card-link__content">

        <div class="app-card-link__above">
          <p aria-hidden="true" class="nhsuk-u-margin-bottom-0">15 Mar 2024</p>
        </div>

        <a class="app-card-link__link nhsuk-link--no-visited-state" href="#">
          <span class="nhsuk-u-visually-hidden">Read message from </span>
          Hughenden Valley Surgery
          <span class="nhsuk-u-visually-hidden">received on 15 March 2024 at 9:00am</span>
        </a>

        <div class="app-card-link__below">
          <p class="nhsuk-u-margin-top-2 app-truncate-two-lines nhsuk-u-secondary-text-color">Reminder of your telephone appointment with your GP on Friday 23 October at 1:30pm.</p>
        </div>

      </div>

    </div>
  </li>
  <li class="app-card-link">
    <div class="app-card-link__container nhsuk-u-margin-left-6">
      
      <div class="app-card-link__content">

        <div class="app-card-link__above">
          <p aria-hidden="true" class="nhsuk-u-margin-bottom-0">12 Dec 2023</p>
        </div>

        <a class="app-card-link__link nhsuk-link--no-visited-state" href="#">
          <span class="nhsuk-u-visually-hidden">Read message from </span>
          NHS App
          <span class="nhsuk-u-visually-hidden">received on 12 december 2023 at 8:00am</span>
        </a>

        <div class="app-card-link__below">
          <p class="nhsuk-u-margin-top-2 app-truncate-two-lines nhsuk-u-secondary-text-color">Your next COVID-19 vaccination. I'd like to invite you to get your COVID-19 vaccination this spring.</p>
        </div>

      </div>

    </div>
  </li>
</ul>

<hr>

<h2 class="nhsuk-heading-l">Cards with images</h2>

<h3 class="nhsuk-heading-s">Default</h3>

<div class="app-card-link">

  <div class="app-card-link__media">
    <img class="app-card-link__img" src="/images/campaigns/campaign-card-image-2.jpg" alt="">
  </div>

  <div class="app-card-link__container">
    
    <div class="app-card-link__content">

      <a href="#" class="app-card-link__link nhsuk-link--no-visited-state nhsuk-u-font-size-32">
        Research changes lives
      </a>

      <div class="app-card-link__below">
        <p class="nhsuk-u-margin-top-2">Register with Be Part of Research to find and join health studies</p>
      </div>

    </div>

    <svg class="app-icon app-icon--chevron" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
      <path d="M8.82264 19.11C8.56264 19.11 8.29264 19.01 8.10264 18.8C7.72264 18.4 7.73264 17.77 8.13264 17.39L13.7426 12.01L8.14264 6.75999C7.74264 6.37999 7.72264 5.74999 8.09264 5.34999C8.47264 4.94999 9.10264 4.92999 9.50264 5.29999L15.8726 11.27C16.0726 11.46 16.1826 11.72 16.1926 11.99C16.2026 12.26 16.0826 12.53 15.8826 12.72L9.51264 18.83C9.32264 19.02 9.07264 19.11 8.82264 19.11Z"></path>
    </svg>

  </div>
</div>

<h3 class="nhsuk-heading-s">Full width</h3>

<div class="app-card-link app-card-link--dark-blue app-card-link--full-width">

  <div class="app-card-link__media">
    <img class="app-card-link__img" src="/images/campaigns/campaign-card-image-2.jpg" alt="">
  </div>

  <div class="app-card-link__container">
    
    <div class="app-card-link__content">

      <a href="#" class="app-card-link__link nhsuk-u-font-size-32">
        Research changes lives
      </a>

      <div class="app-card-link__below">
        <p class="nhsuk-u-margin-top-2">Register with Be Part of Research to find and join health studies</p>
      </div>

    </div>

    <svg class="app-icon app-icon--chevron" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
      <path d="M8.82264 19.11C8.56264 19.11 8.29264 19.01 8.10264 18.8C7.72264 18.4 7.73264 17.77 8.13264 17.39L13.7426 12.01L8.14264 6.75999C7.74264 6.37999 7.72264 5.74999 8.09264 5.34999C8.47264 4.94999 9.10264 4.92999 9.50264 5.29999L15.8726 11.27C16.0726 11.46 16.1826 11.72 16.1926 11.99C16.2026 12.26 16.0826 12.53 15.8826 12.72L9.51264 18.83C9.32264 19.02 9.07264 19.11 8.82264 19.11Z"></path>
    </svg>

  </div>
</div>

<hr>

<h2 class="nhsuk-heading-l">Colour variations</h2>

<p>These colour variations are not used on the NHS App but are used on 111 Online and the NHS website home page.</p>

<h3 class="nhsuk-heading-s">Blue - spaced small</h3>

<ul class="app-cards app-cards--spaced-small">
  <li class="app-card-link app-card-link--blue">
    <div class="app-card-link__container">
      
      <div class="app-card-link__content">
        <a class="app-card-link__link" href="#">
          Title
        </a>
      </div>

      {% include "components/icons/chevron.html" %}

    </div>
  </li>
  <li class="app-card-link app-card-link--blue">
    <div class="app-card-link__container">
      
      <div class="app-card-link__content">
        <a class="app-card-link__link" href="#">
          Title
        </a>
      </div>

      {% include "components/icons/chevron.html" %}

    </div>
  </li>
  <li class="app-card-link app-card-link--blue">
    <div class="app-card-link__container">
      
      <div class="app-card-link__content">
        <a class="app-card-link__link" href="#">
          Title
        </a>
      </div>

      {% include "components/icons/chevron.html" %}

    </div>
  </li>
</ul>

<h3 class="nhsuk-heading-s">Dark blue - spaced small</h3>

<ul class="app-cards app-cards--spaced-small">
  <li class="app-card-link app-card-link--dark-blue">
    <div class="app-card-link__container">
      
      <div class="app-card-link__content">
        <a class="app-card-link__link" href="#">
          Title
        </a>
      </div>

      {% include "components/icons/chevron.html" %}

    </div>
  </li>
  <li class="app-card-link app-card-link--dark-blue">
    <div class="app-card-link__container">
      
      <div class="app-card-link__content">
        <a class="app-card-link__link" href="#">
          Title
        </a>
      </div>

      {% include "components/icons/chevron.html" %}

    </div>
  </li>
  <li class="app-card-link app-card-link--dark-blue">
    <div class="app-card-link__container">
      
      <div class="app-card-link__content">
        <a class="app-card-link__link" href="#">
          Title
        </a>
      </div>

      {% include "components/icons/chevron.html" %}

    </div>
  </li>
</ul>

<hr>

<h2 class="nhsuk-heading-l">Empty states</h2>

<h3 class="nhsuk-heading-s">ul</h3>


<ul class="app-cards">
  <li class="app-card-link">
      <div class="app-card-link__container">
      </div>
  </li>
</ul>


<h3 class="nhsuk-heading-s">div</h3>


<div class="app-card-link">
  <div class="app-card-link__container">
  </div>
</div>


{% endblock %}
