{% set headingLevel = params.headingLevel if params.headingLevel else 2 %}

<div class="app-section-title {%- if params.classes %} {{ params.classes }}{% endif %}">
  <h{{ headingLevel }} class="nhsuk-heading-s nhsuk-u-margin-bottom-0">
    {{ params.title }}
  </h{{ headingLevel }}>
  {%- if params.URL %}
  <a href="{{ params.URL }}" class="nhsuk-link nhsuk-link--no-visited-state nhsuk-u-nowrap">{%- if params.linkText %}{{ params.linkText }}{% else %}View all{% endif %}
    {%- if params.hiddenText %}<span class="nhsuk-u-visually-hidden">{{ params.hiddenText }}</span>{% endif %}
  </a>
  {%- endif %}
</div>