{% extends 'components/layout.html' %}

{% set pageHeading = "Divider line" %}

{% block innerContent %}

  <p>The <a href="https://github.com/nhsuk/nhsuk-frontend/blob/main/packages/core/styles/_section-break.scss">NHSUK Frontend</a> has divider lines (section breaks) but there's no usage guidance for them.</p>

  <h2 class="nhsuk-heading-m">Section break m</h2>
  <p>24px margin top and bottom</p>
  <div class="example">
    <hr class="nhsuk-section-break--m">
  </div>

  <h2 class="nhsuk-heading-m">Section break l</h2>
  <p>40px margin top and bottom</p>
  <div class="example">
    <hr class="nhsuk-section-break-l">
  </div>

  <h2 class="nhsuk-heading-m">Section break xl</h2>
  <p>56px margin top and bottom</p>
  <div class="example">
    <hr class="nhsuk-section-break--xl">
  </div>

  <h2 class="nhsuk-heading-m">Examples in context</h2>

  <ul clas="nhsuk-list">
    <li>
      <a href="/pages/your-health/hospital-apointments">Hospital appointments</a>
    </li>
    <li>
      <a href="/pages/your-health/referrals">Referrals</a>
    </li>
    <li>
      <a href="/pages/your-health/treatment-waiting-lists">Waiting lists</a>
    </li>

  </ul>

{% endblock %}
