{% extends 'layout-app.html' %}

{% set hub = "Account and settings" %}

{% set backLink = true %}
{% set backLinkText = "Back to Account and settings" %}

{% set pageHeading = "Manage cookies and read legal information" %}
{% set pageDescription = "Choose about cookies and check our privacy, accessibility and other policies" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        description: pageDescription
      })}}

      <!-- PANEL LINK CARD -->
      {{ panelLinkCard({
        items: [
          {
            title: "Manage cookies",
            URL: "#"
          },
          {
            title: "Terms of use",
            URL: "#"
          },
          {
            title: "Privacy policy",
            URL: "#"
          },
          {
            title: "Manage your notifications",
            URL: "#"
          },
          {
            title: "Accessibility statement",
            URL: "#"
          },
          {
            title: "Open source licences",
            URL: "#"
          }
        ]
      })}}

    </div>
  </div>

  {% endblock %}
