{% extends 'layout-app.html' %}

{% set hub = "Linked profiles" %}

{% set backLink = true %}

{% set pageHeading = "Linked profiles" %}
{% set pageDescription = "You can access services in the app for the following people." %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSecondary: true,
        description: pageDescription
      })}}

      <!-- PANEL LINK CARD -->
      {{ nhsappCardGroup({
        stacked: true,
        cards: [
          {
            title: data['linkedProfileFirstName'] + " " + data['linkedProfileLastName'],
            href: "/pages/account-and-settings/switch-profiles",
            description: data['linkedProfileAge']
          }
        ]
      })}}

    </div>
  </div>

  {% endblock %}
