



<!DOCTYPE html> 
<html lang="en"> 
  
<head> 
    <meta charset="UTF-8" /> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
    <meta name="viewport" content= 
        "width=device-width, initial-scale=1.0" /> 
    <link rel="stylesheet" href= 
        "https://unpkg.com/onsenui/css/onsenui.css" /> 
    <link rel="stylesheet" href= 
"https://unpkg.com/onsenui/css/onsen-css-components.min.css" /> 
  
    <script src="https://unpkg.com/onsenui/js/onsenui.min.js"> 
    </script> 
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"> 
    </script> 
  
    <style> 
        #heading { 
            color: green; 
        } 
  
        #title { 
            font-style: bold; 
        } 
    </style> 
</head> 
  
<body> 
    <div class="action-sheet-mask"></div> 
    <div class="action-sheet"> 
        <div class="action-sheet-button"> 
            <i class="ion-ios-link"></i> 
            Submit 
        </div> 
        <button class="action-sheet-button"> 
            <i class="ion-ios-close"></i> 
            Close 
        </button> 
        <button class="action-sheet-button"> 
            <i class="ion-ios-trash"></i> 
            Delete 
        </button> 
    </div> 
</body> 
  
</html>