{% from 'components/campaign-card/macro.njk' import campaignCard %}
{% from 'components/dynamic-page-title/macro.njk' import dynamicPageTitle %}
{% from 'components/interruption-card/macro.njk' import interruptionCard %}
{% from 'components/panel-link-card/macro.njk' import panelLinkCard %}
{% from 'components/related-content-card/macro.njk' import relatedContentCard %}
{% from 'components/section-title/macro.njk' import sectionTitle %}

<!--
  This is the main layout where you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Extends the layout from /docs/views/template.html -->
{% extends "template.html" %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <!-- Other head elements like title, stylesheets, etc. can go here -->
</head>
<!-- Add your custom CSS or Sass in /app/assets/sass/main.scss -->
{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
{% endblock %}

<!-- Set the page title -->
{% block pageTitle %}
  NHS App redesign work
{% endblock %}

<!-- Edit the header -->
<!-- Header code examples can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <a href="javascript: window.history.go(-1)" class="app-link nhsuk-link--no-visited-state nhsuk-u-margin-4">
        Done
      </a>
    </div>
  </div>
  <header class="nhsuk-header nhsuk-header--logo-only" role="banner">
    <div class="nhsuk-width-container nhsuk-header__container">
      <div class="nhsuk-header__logo">
        <a class="nhsuk-header__link nhsuk-header__link--service" href="#">
          <svg class="nhsuk-logo nhsuk-logo--white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 16" height="40" width="100">
            <path fill="#fff" d="M0 0h40v16H0z"></path>
            <path fill="#005eb8" d="M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6"></path>
          </svg>
          <span class="nhsuk-header__service-name">
          Check your blood pressure reading
          </span>
        </a>
      </div>
    </div>
  </header>
{% endblock %}

<!-- Edit the footer -->
<!-- Footer code examples can be found at https://service-manual.nhs.uk/design-system/components/footer -->
{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "/",
        "label": "Home"
      },
      {
        "URL": "https://github.com/nhsuk/nhs-app-redesign-prototype",
        "label": "GitHub repo"
      },
      {
        "URL": "/clear-data",
        "label": "Clear data"
      }
    ]
  })}}
{% endblock %}

{% block bodyEnd %}
  {% block scripts %}
    <!-- Custom JavaScript files can be added to this file -->
    {% include "includes/scripts.html" %}
    <!-- For adding page specific JavsScript -->
    {% block pageScripts %}{% endblock %}
  {% endblock %}
{% endblock %}
