{% extends 'layout.html' %}

{% block pageTitle %}
  NHS App redesign work
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <h1>NHS App redesign work</h1>

      <p class="nhsuk-lede-text">
        A prototype to test new design components and patterns for the NHS App.
      </p>

      <h2>Example pages</h2>

      <div class="nhsuk-inset-text">
        <p>We use default data in the prototype to create dynamic content. You can change the dynamic content in <a href="/data-settings">data settings</a>.</p>
      </div>

      <h3 class="nhsuk-heading-xs">Homepage {% if data['web'] === "yes" %}(Web){% else %}(Native){% endif %}</h2>

      <ul clas="nhsuk-list">
        <li>
          <a href="/pages/home-p9">Homepage - P9</a>
        </li>
        <li>
          <a href="/pages/home-p5">Homepage - P5</a>
        </li>
        <li>
          <a href="/pages/home-linked-profiles">Homepage - Linked profiles</a>
        </li>
      </ul>

      <h3 class="nhsuk-heading-xs">Hubpages {% if data['web'] === "yes" %}(Web){% else %}(Native){% endif %}</h2>

        <ul clas="nhsuk-list">
          <li>
            <a href="/pages/services-p9">Services - P9</a>
          </li>
          <li>
            <a href="/pages/services-p5">Services - P5</a>
          </li>
          <li>
            <a href="/pages/services-linked-profiles">Services - Linked profiles</a>
          </li>
          <li>
            <a href="/pages/your-health-p9">Your health - P9</a>
          </li>
          <li>
            <a href="/pages/your-health-p5">Your health - P5</a>
          </li>
          <li>
            <a href="/pages/your-health-linked-profiles">Your health - Linked profiles</a>
          </li>
          <li>
            <a href="/pages/messages-p9">Messages - P9</a>
          </li>
          <li>
            <a href="/pages/messages-p5">Messages - P5</a>
          </li>
          <li>
            <a href="/pages/messages-linked-profiles">Messages - Linked profiles</a>
          </li>
          <li>
            <a href="/pages/account-and-settings-p9">Account and settings - P9</a>
          </li>
          <li>
            <a href="/pages/account-and-settings-p5">Account and settings - P5</a>
          </li>
          <li>
            <a href="/pages/account-and-settings-linked-profiles">Account and settings - Linked profiles</a>
          </li>
        </ul>

        <h3 class="nhsuk-heading-xs">Your health pages {% if data['web'] === "yes" %}(Web){% else %}(Native){% endif %}</h2>

        <ul clas="nhsuk-list">
          <li>
            <a href="/pages/your-health/upcoming-and-past-appointments-p9">Upcoming and past appointments - P9</a>
          </li>
          <li>
            <a href="/pages/your-health/upcoming-and-past-appointments-linked-profiles">Upcoming and past appointments - Linked profiles</a>
          </li>
          <li>
            <a href="/pages/your-health/care-plans-p9">Care plans - P9</a>
          </li>
          <li>
            <a href="/pages/your-health/your-health-choices-p9">Your health choices - P9</a>
          </li>
          <li>
            <a href="/pages/your-health/prescriptions-p9">Prescriptions - P9</a>
          </li>
          <li>
            <a href="/pages/your-health/prescriptions-linked-profiles">Prescriptions - Linked profiles</a>
          </li>
        </ul>

        <h3 class="nhsuk-heading-xs">Account and settings pages {% if data['web'] === "yes" %}(Web){% else %}(Native){% endif %}</h2>

        <ul clas="nhsuk-list">
          <li>
            <a href="pages/account-and-settings/cookies-and-legal-agreement">Manage cookies and read legal information</a>
          </li>
        </ul>
    

      <h2>Components</h2>

      <ul clas="nhsuk-list">
        <li>
          <a href="/components/app-bottom-navigation/">App Bottom Navigation</a>
        </li>
        <li>
          <a href="/components/badge/">Badge</a>
        </li>
        <li>
          <a href="/components/campaign-card/">Campaign Card</a>
        </li>
        <li>
          <a href="/components/dynamic-page-title/">Dynamic Page Title</a>
        </li>
        <li>
          <a href="/components/global-navigation-native/">Global Navigation Native</a>
        </li>
        <li>
          <a href="/components/interruption-card/">Interruption Card</a>
        </li>
        <li>
          <a href="/components/panel-link-card/">Panel Link Card</a>
        </li>
        <li>
          <a href="/components/related-content-card/">Related Content Card</a>
        </li>
        <li>
          <a href="/components/section-title/">Section Title</a>
        </li>
        <li>
          <a href="/components/switch-profile-banner/">Switch Profile Banner</a>
        </li>
      </ul>

    </div>
  </div>
{% endblock %}
