{% extends 'layout.html' %}

{% block pageTitle %}
  NHS App redesign work
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>NHS App redesign work</h1>

      <div class="nhsuk-form-group">

      <form method="post" action="/" novalidate="novalidate">
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              Would you like to see the web or mobile version?
            </h1>
          </legend>

          <div class="nhsuk-radios">

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="web-1" name="web" type="radio" value="yes" {{ checked("web", "yes") }}>
              <label class="nhsuk-label nhsuk-radios__label" for="web-1">
                Web
              </label>
            </div>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="web-2" name="web" type="radio" value="no" {{ checked("web", "no") }}>
              <label class="nhsuk-label nhsuk-radios__label" for="web-2">
                Mobile
              </label>
            </div>

          </div>
        </fieldset>

        <div class="nhsuk-form-group">
          <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
            Save
          </button>
        </div>
      </form>


      </div>

      <p class="nhsuk-lede-text">
        A prototype to test new design components and patterns for the NHS App.
      </p>

      <!--<h2>Components</h2>

      <ul>
        <li>App Bottom Navigation</li>
        <li>Buttons</li>
        <li>Campaign Card</li>
        <li>Global Navigation (Web)</li>
        <li>Global Navigation (Native)</li>
        <li>App Action Link</li>
        <li>Section Title</li>
        <li>Switch Profiles Banner</li>
        <li>Dynamic Page Title</li>
        <li>Panel Link Cards</li>
        <li>P5 Interruption Card</li>
        <li>App Action Link</li>
        <li>Related Content Component</li>
        <li>Messages Card</li>
      </ul>-->

      <h2>Example pages</h2>

      <h3 class="nhsuk-heading-xs">Homepage</h2>

      <ul clas="nhsuk-list">
        <li>
          <a href="/pages/home">Homepage - P9</a>
        </li>
        <li>
          <a href="/pages/home-p5">Homepage - P5</a>
        </li>
        <li>
          <a href="/pages/home-linked-profiles">Homepage - Linked profiles</a>
        </li>
        <li>
          <a href="/pages/home-p9-web">Homepage - P9 (Web)</a>
        </li>
        <li>
          <a href="/pages/home-p5-web">Homepage - P5 (Web)</a>
        </li>
        <li>
          <a href="/pages/home-linked-profiles-web">Homepage - Linked profiles (Web)</a>
        </li>
      </ul>

      <h3 class="nhsuk-heading-xs">Hubpages</h2>

        <ul clas="nhsuk-list">
          <li>
            <a href="/pages/services-p9">Services - P9</a>
          </li>
          <li>
            <a href="/pages/services-p5">Services - P5</a>
          </li>
          <li>
            <a href="/pages/services-linked-profiles">Services - Linked profiles</a>
          </li>
          <li>
            <a href="/pages/your-health-p9">Your health - P9</a>
          </li>
          <li>
            <a href="/pages/your-health-p5">Your health - P5</a>
          </li>
          <li>
            <a href="/pages/your-health-linked-profiles">Your health - Linked profiles</a>
          </li>
        </ul>

      <h2>Components</h2>

      <ul clas="nhsuk-list">
        <li>
          <a href="/components/panel-link-card">Panel Link Card</a>
        </li>
      </ul>

    </div>
  </div>
{% endblock %}
