{% extends 'layout.html' %}

<!-- ADDS CUSTOM CLASSES ON MAIN TO GIVE CORRECT SPACING FOR NATIVE PAGES -->
{% if data['web'] === "yes" %}

  {% if linkedProfile === true %}
    {% set mainClasses = "app-main-wrapper--no-top-padding" %}
  {% else %}
  {% endif %}

{% else %}

  {% set containerClasses = "app-main-container" %}
  {% set mainClasses = "app-main-wrapper" %}

{% endif %}

{% block pageTitle %}
  NHS App redesign work
{% endblock %}

<!-- CHANGES HTML BACKGROUND COLOUR IF VARIABLE 'WEB' ON PAGE IS TRUE -->
{% block head %}
  {% if data['web'] === "yes" %}
  {% else %}
    <style>
      html {
        background-color: #f0f4f5;
      }
    </style>
  {% endif %}
{% endblock %}

<!-- HEADER -->
{% block header %}

  <!-- WEB AND NATIVE - VARIABLE 'WEB' ON PAGE DECLARES WHAT TO DISPLAY -->
  {% if data['web'] === "yes" %}
    {% include "includes/components/global-navigation-web.html" %}
  {% else %}
    {% include "includes/components/global-navigation-native.html" %}
  {% endif %}

{% endblock %}


{% block outerContent %}
  <!-- SWITCH PROFILE BANNER -->
  {% if linkedProfile === true %}
    {% include "includes/components/switch-profile-banner.html" %}
  {% endif %}
  <!-- BACK LINK -->
  {% if backLink === true %}
    {% include "includes/components/back-link-new.html" %}
  {% endif %}
  
{% endblock %}

<!-- FOOTER -->
{% block footer %}

  <!-- WEB AND NATIVE - VARIABLE 'WEB' ON PAGE DECLARES WHAT TO DISPLAY -->
  {% if data['web'] === "yes" %}
    {% include "includes/components/footer-web.html" %}
  {% else %}
    {% include "includes/components/app-bottom-navigation.html" %}
  {% endif %}

{% endblock %}
