{% extends 'layout-app.html' %}

{% set mainClasses = "nhsuk-main-wrapper" %}

{% block pageTitle %}
  {{ pageHeading }} - NHS App prototype
{% endblock %}

{% block customMetaData %}
  <meta name="theme-color" content="#005eb8">
{% endblock %}

<!-- HEADER -->
{% block header %}
{% endblock %}

{% block main %}
{% if overlay === true %}
  <div class="app-login-wrapper app-login-wrapper--overlay">
{% else %}
  <div class="app-login-wrapper">
{% endif %}
  <div class="nhsuk-width-container">
    {% block outerContent %}{% endblock %}
    <main class="nhsuk-main-wrapper nhsuk-main-wrapper--s" id="maincontent" role="main">
      {% block content %}{% endblock %}
    </main>
  </div>
</div>
{% endblock %}

<!-- FOOTER -->
{% block footer %}
{% endblock %}
