{% extends 'layout.html' %}

{% block pageTitle %}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <h1>NHS App components</h1>

      <h2>Badge</h2>

      <h3>Large</h3>

      {% from "nhsapp/components/badge/large/macro.njk" import nhsappBadgeLarge %}

      <p>
        {{ nhsappBadgeLarge({
          count: 3,
          label: 'notifications'
        }) }}
      </p>

      <h3>Small</h3>

      {% from "nhsapp/components/badge/small/macro.njk" import nhsappBadgeSmall %}

      {{ nhsappBadgeSmall({
        label: 'New',
        color: 'red',
        text: 'Document attached',
        classes: 'nhsuk-body-m'
      }) }}

      <hr>

      <h2>Button</h2>

      <h3>Primary</h3>

      {% from 'button/macro.njk' import button %}

      {{ button({
        text: "Continue",
        classes: "nhsapp-button"
      }) }}

      <h3>Secondary</h3>

      {% from 'button/macro.njk' import button %}

      {{ button({
        text: "Try again",
        classes: "nhsuk-button--secondary nhsapp-button"
      }) }}

      <h3>Reverse</h3>

      {% from 'button/macro.njk' import button %}

      {{ button({
        text: "Continue",
        classes: "nhsuk-button--reverse nhsapp-button"
      }) }}

      <h3>Button group</h3>

      {% from 'button/macro.njk' import button %}

      <div class="nhsapp-button-group">

      {{ button({
        text: "Save and continue",
        classes: "nhsapp-button"
      }) }}

      {{ button({
        text: "Save as draft",
        classes: "nhsuk-button--secondary nhsapp-button"
      }) }}

      </div>

      {% from 'button/macro.njk' import button %}

      <div class="nhsapp-button-group">

        {{ button({
          text: "Continue",
          classes: "nhsapp-button"
        }) }}

        <a href="#" class="nhsuk-link">Cancel</a>

      </div>

      <hr>

      <h2>Card links</h2>

      <p>To do</p>

      <hr>

      <h2>Section heading</h2>

      {% from "nhsapp/styles/section-heading/macro.njk" import nhsappSectionHeading %}

      {{ nhsappSectionHeading({
        headingText: "Your GP services"
      }) }}

      {% from "nhsapp/styles/section-heading/macro.njk" import nhsappSectionHeading %}

      {{ nhsappSectionHeading({
        headingText: "Services",
        linkText: "View all",
        linkUrl: "#",
        linkAriaLabel: "View all services"
      }) }}

      <hr>

      <h2>Timeline</h2>

      {% from "nhsapp/components/timeline/macro.njk" import nhsappTimeline %}

      {{ nhsappTimeline({
        items: [
          {
            headingText: "Await approval",
            text: "The request will either be approved or rejected. If rejected please contact your Healthcare Professional.",
            active: true
          },
          {
            headingText: "GP Approval Process",
            text: "Once approved, it can take 3 to 5 working days for a nominated pharmacy to prepare your prescription."
          }
        ]
      }) }}

      <hr>

      <h2>Tag</h2>

      {% from "nhsapp/components/tag/macro.njk" import nhsappTag %}

      <table class="nhsuk-table">
        <thead class="nhsuk-table__head">
          <tr class="nhsuk-table__row">
            <th class="nhsuk-table__header" scope="col"> Class name </th>
            <th class="nhsuk-table__header" scope="col"> Tag </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
              <code> nhsapp-tag--white </code>
            </td>
            <td class="nhsuk-table__cell">
              {{ nhsappTag({
                text: "Started",
                classes: "nhsapp-tag--white"
              })}}
            </td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
              <code> nhsapp-tag--grey </code>
            </td>
            <td class="nhsuk-table__cell">
              {{ nhsappTag({
                text: "Not started",
                classes: "nhsapp-tag--grey"
              })}}
            </td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
              <code> nhsapp-tag--green </code>
            </td>
            <td class="nhsuk-table__cell">
              {{ nhsappTag({
                text: "New",
                classes: "nhsapp-tag--green"
              })}}
            </td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
              <code> nhsapp-tag--aqua-green </code>
            </td>
            <td class="nhsuk-table__cell">
              {{ nhsappTag({
                text: "Active",
                classes: "nhsapp-tag--aqua-green"
              })}}
            </td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
              <code> nhsapp-tag--blue </code>
            </td>
            <td class="nhsuk-table__cell">
              {{ nhsappTag({
                text: "Pending",
                classes: "nhsapp-tag--blue"
              })}}
            </td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
              <code> nhsapp-tag--purple </code>
            </td>
            <td class="nhsuk-table__cell">
              {{ nhsappTag({
                text: "Received",
                classes: "nhsapp-tag--purple"
              })}}
            </td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
              <code> nhsapp-tag--pink </code>
            </td>
            <td class="nhsuk-table__cell">
              {{ nhsappTag({
                text: "Sent",
                classes: "nhsapp-tag--pink"
              })}}
            </td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
              <code> nhsapp-tag--red </code>
            </td>
            <td class="nhsuk-table__cell">
              {{ nhsappTag({
                text: "Rejected",
                classes: "nhsapp-tag--red"
              })}}
            </td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
              <code> nhsapp-tag--orange </code>
            </td>
            <td class="nhsuk-table__cell">
              {{ nhsappTag({
                text: "Declined",
                classes: "nhsapp-tag--orange"
              })}}
            </td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
              <code> nhsapp-tag--yellow </code>
            </td>
            <td class="nhsuk-table__cell">
              {{ nhsappTag({
                text: "Delayed",
                classes: "nhsapp-tag--yellow"
              })}}
            </td>
          </tr>
        </tbody>
      </table>


    </div>
  </div>
{% endblock %}
